[2017-10-18 00:42] bzbarsky commented on #626
OK.  If I end up with more time to work on this, and no one else has filed those issues, I may try to do that. But note that you may want to end up defining some centralized processing concepts that all extensions share.

[2017-10-18 10:51] emlun commented on #628
Ok, I agree that there are valid use cases for RPs to not care about attestation.

@balfanz Yes, you're right. I hadn't considered that the client, even without direct access to the private key, can make the authenticator generate user-verified assertions for something completely different than the user intended (assuming the authenticator has no display of its own). I concede that my argument is

[2017-10-18 17:16] equalsJeffH commented on #628
[ Note, fyi: we are concurrently using several names for essentially the same thing: [Privacy CA](https://www.w3.org/TR/2017/WD-webauthn-20170811/#privacy-ca), [Attestation CA](https://github.com/w3c/webauthn/issues/610) (see issue #610), [Attestation Proxy](https://github.com/w3c/webauthn/issues/628#issuecomment-335965456), [Blinding proxy](https://github.com/w3c/webauthn/issues/628#issuecomment-

[2017-10-18 17:23] #624 closed

[2017-10-18 17:43] #507 closed

[2017-10-18 17:43] equalsJeffH commented on #506
pr #539 fixed this. closing.

[2017-10-18 17:43] #506 closed

[2017-10-18 17:52] #554 closed

[2017-10-18 17:52] jcjones commented on #554
I agree with closing this, I think it's fine as an extension point.

[2017-10-18 17:56] akshayku commented on #629
As discussed in WebAuthN call on 10/18 Authenticators default behavior is reflected in the signature at authenticatorGetAssertion time and RP can act of it whether it wants user verification or not. So the current behaviour is ok. Closing this.

[2017-10-18 17:56] #629 closed

[2017-10-18 17:57] jcjones commented on #574
I will write a PR to strictly improve this for WD-07 to reflect what browsers are actually doing, and understand that it will still be under-specified, and we'll clean it up to be properly specified in #613.

[2017-10-18 18:22] equalsJeffH opened #654 "authenticatorMakeCredential: Only exclude CredIDs matching the RPID"
@jovasco notes (PR #651): In [authenticatorMakeCredential](https://w3c.github.io/webauthn/#op-make-cred): 0nly credentials in the exclude credentials list that match this RPID should result in a not allowed error.

That seems correct to me -- others?

If so, I'll fix this in PR #498 and we can close PR #651.

[2017-10-18 18:51] equalsJeffH commented on #654
this duplicates #650

[2017-10-18 18:54] #654 closed

[2017-10-18 18:55] equalsJeffH commented on #650
This seems like a correct update to that step to me -- others?
If so, I'll fix this in PR #498 and we can close PR #651.

[2017-10-18 19:03] equalsJeffH commented on #649
cc: @christiaanbrand @leshi @jcjones @AngeloKai @rlin1 -- do you agree with @jovasco and @emlun's assessment that "Failing [the colliding] requests in case if collision does seem very sound." ?

If so, which milestone should we attach this to?  CR or WD-07 ?

[2017-10-18 19:13] equalsJeffH commented on #521
scnario (1) in https://github.com/w3c/webauthn/issues/521#issue-248130789 is begging the question of "level of assurance (LOA)". Please see NIST SP-800-63-3 "Digital Identity Guidelines".

"identity" is out-of-scope for webauthn. we are just doing peer-entity authentication.  Whether a user "name" attribute supplied by a webauthn relying party (RP) during a registration ceremony has any assurance

[2017-10-18 19:13] #521 closed

[2017-10-18 21:15] jcjones commented on #646
This makes sense, and I struggle with this the same as you, but I'm tempted to reject it just because of how close we are to CR.

@AngeloKai, @balfanz , thoughts?

[2017-10-18 22:11] jcjones opened #656 "Packed and U2F Attestation Statements' verifications don't differentiate between Basic and Privacy CA Attestation Types"
The [Packed Attestation Statement Format](https://w3c.github.io/webauthn/#packed-attestation) is valid for all Attestation Types.

https://github.com/w3c/webauthn/blob/b8c60278ad53479d03a2247e1360c33869f58e92/index.bs#L2313-L2317

However, in its **verification procedure** it assumes that if `x5c` is present, that attestations are type `Basic`:

https://github.com/w3c/webauthn/blob/b8c60278ad53479

[2017-10-18 22:20] equalsJeffH opened #657 "where does return value of PublicKeyCredential.getClientExtensionResults() come from?"
[PublicKeyCredential Interface used to look like this](https://www.w3.org/TR/webauthn/#iface-pkcredential):
[code]
..and contained the `clientExtensionResults`. but we can't do that due to webidl reasons, [so we have changed it to be](https://w3c.github.io/webauthn/#iface-pkcredential) (via PR #633)..
[code]
However, in trying to re-craft the generation of a `PublicKeyCredential` object in the con

[2017-10-19 07:13] emlun commented on #646
Yes, I understand it's likely not a good idea to do this this close to CR. In that case we'll just have to work around it in the prose descriptions.

[2017-10-19 08:49] emlun commented on #656
I'm not sure having Privacy CA as a separate attestation type is very meaningful, as like you say (and @balfanz notes in https://github.com/w3c/webauthn/issues/628#issue-264709581), to the RP it looks and act the same as Basic Attestation. I would suggest merging the two concepts, but I'm not sure how that would affect the TPM attestation statement format which seems to be intimately connected to

[2017-10-19 09:12] emlun commented on #650
Sounds good to me.

[2017-10-19 12:10] Kieun commented on #656
In the view point of RP, RP cannot differentiate between Basic and Privacy CA from the attestation data. Since both attestation data have same structure having `x5c`. So, if `x5c` is present, it would be Basic or Privacy CA attestation type. Thus, the verification procedures for both are same.
The thing is that there is no way for RP to know that received attestation is Basic or Privacy type. Some

[2017-10-19 18:24] equalsJeffH commented on #254
actually, PR #498 just "improves" on this issue (ie it resolves it in the context of the #createCredential section) because the #getAssertion section still has this issue, and it will be updated in a yet-to-be-created PR, and issue #254 will be fully fixed by the latter PR.

[2017-10-19 22:32] #466 closed

[2017-10-19 22:32] #472 closed

[2017-10-19 22:32] #536 closed

[2017-10-19 22:32] #559 closed

[2017-10-19 22:33] AngeloKai commented on #646
It seems like everyone on the thread agrees that we shouldn't do this so close to CR. I am closing the issue as no action.

[2017-10-19 22:33] #646 closed

[2017-10-19 23:00] equalsJeffH commented on #622
Ok, we decided to close issue #646, but are keeping this issue #622 open in that it is calling for clarifications in spec prose. I added it to the CR milestone.

[2017-10-19 23:35] #591 closed

[2017-10-20 06:11] AngeloKai opened #658 "CTAP/U2F doesn't status indicating the user cancelled the operation"
In the authenticator parallel processing section (https://github.com/w3c/webauthn/blob/master/index.bs#L738), it says:

`        :   If any |authenticator| returns a status indicating that the user cancelled the operation,
        ::  1. [=set/Remove=] |authenticator| from |issuedRequests|.
            2. [=set/For each=] remaining |authenticator| in |issuedRequests| invoke the [=authenticatorCanc

[2017-10-20 06:13] AngeloKai commented on #658
@akshayku @leshi can one of you educate me on which status match this indication?

[2017-10-20 06:54] jehrensvard commented on #658
Is this the one you're looking for ?

0x2D  CTAP2_ERR_KEEPALIVE_CANCEL Pending keep alive was cancelled.

[2017-10-20 22:05] #574 closed

[2017-10-21 11:52] BorntraegerMarc opened #659 "Feature request: Add API for android finger print reader"
So, I wanted to develop a progressive web app where the user can log in with his finger print. But unfortunately there is no API on how to check the users finger is valid.

----- DISCLAIMER -----
I don't know if this is the wrong place to post a feature request. So if you could point me in the right direction, that would be awesome :)

What is the expected behavior?
So I see different very helpful

[2017-10-22 13:03] emlun commented on #659
The Web Authentication working group is probably the right place to ask this, but I think this is out of scope for the Web Authentication spec. Web Authentication is an API specifically for creating and accessing public key credentials; biometrics is a separate concern. Web Authentication does specify an API for verifying the identity of the user, namely the `UV` flag in the [Authenticator Data][a

[2017-10-22 22:57] jyasskin commented on #659
I *believe* that browsers running on Android can treat the [Android Keystore](https://developer.android.com/training/articles/keystore.html) as an Authenticator and expose it through the WebAuthn API. I agree that it'd make sense to mention this somewhere in the spec or other documentation, but I don't think it needs any changes to the normative text.

@battre, is that right?

[2017-10-23 08:39] BorntraegerMarc commented on #659
@emlun thanks for your input. I’m happy I finally found the right place 😄
I think you misunderstood my use case. I neither want to rely on fingerprints alone nor should they be sent to the server. On registration the server will only communicate with encrypted data (based on the fingerprint data) with the client. On this basis the actual fingerprint data never leaves the client.  I also think the

[2017-10-23 11:24] emlun commented on #659
Great, I hope I didn't come across as condescending. :) WebAuthn does [mention use of fingerprints][uv] as an example of user verification, but leaves the implementation unspecified and up to the authenticator - probably the browser or OS in the case of Android fingerprint scanners. The API available to the Relying Party is that it can [request user verification][req-uv], and the authentication op

[2017-10-23 16:15] #560 closed

[2017-10-23 18:28] nadalin commented on #658
@AngeloKai Can we close this issue with no action ?

[2017-10-23 18:30] nadalin commented on #657
@equalsJeffH  Where do we stand with this ?

[2017-10-23 18:32] nadalin commented on #650
@jovasco This seems just like a editorial issue.

[2017-10-23 20:46] BorntraegerMarc commented on #659
@emlun Not at all :) This does indeed answer my question. Thanks a lot!

[2017-10-23 21:50] equalsJeffH commented on #650
@nadalin, this is technical.

[2017-10-23 21:51] equalsJeffH commented on #650
am assigning to @jovasco since he authored PR #651 intended to resolve this, and I ended up not addressing it in PR #498.

[2017-10-24 12:18] jcjones commented on #657
This is one of those situations where work is needed for spec-completeness, but this is straightforward for implementation as-is, and isn't ambiguous in terms of interop. I think this could be punted to CR if it needed to be.

[2017-10-24 15:25] emlun commented on #659
Great! I'll go ahead and close this issue, but please feel free to reopen it if you have any more questions.

[2017-10-24 15:25] #659 closed

[2017-10-24 22:14] AngeloKai commented on #374
I recently came across a time-friendly proposal for enabling iframe. We may follow similar approach like https://www.w3.org/TR/payment-request/#paymentrequest-and-iframe-elements. All we need from the implementers is just add a new attribute to iframe and we should be set. We can mark it as non-normative to give time for browser vendors to complete the feature. Once everyone implements it (say in

[2017-10-24 23:57] leshi commented on #644
It's not an enhancement.  You will need to pass the UV bit in getAssertion or else the authenticator won't know whether or not to enforce UV and ask for a PIN, etc.

[2017-10-24 23:57] leshi commented on #644
It's an oversight left over from when we added UV to create() but forgot to do the same for get()

[2017-10-25 04:41] akshayku opened #660 "Define sensible limits for User and RP Entity to be stored on Authenticator as part of create credential"
Currently, we have not defined limits to individual fields for User and RP entity to be stored on Authenticator apart from `User.id` which can be maximum of 64 bytes. We should define a scheme which can work for both constrained and non-constrained authenticators for a predictable ecosystem.

Here is one proposal:

**User Entity:**
- Id: Authenticators MUST support maximum of 64 bytes.
- Name: Aut

[2017-10-25 10:28] jovasco commented on #660
@akshayku I have a problem with the minimum of 128 bytes for icon. Especially for cases where there is no local storage, this means at least 129 bytes extra in the key handle. I believe the authenticator should be allowed to drop this field.

As a side issue for id, this becomes "MUST support 64 bytes.".

[2017-10-25 14:15] emlun commented on #644
Actually it looks intentional to me - [§5.4.4 Authenticator Selection Criteria][spec] reads:

Note the _and future "make an assertion" operations_.

[spec]: https://w3c.github.io/webauthn/#authenticatorSelection

[2017-10-25 15:59] equalsJeffH opened #661 "revamped [[Create]]() method lacks origin argument"
when doing PR #498 I neglected to add the `origin` arg to webauthn's [[Create]]() method.

See update to [credman](https://w3c.github.io/webappsec-credential-management/) queued in my PR https://github.com/w3c/webappsec-credential-management/pull/100

[2017-10-25 16:40] equalsJeffH commented on #657
see PR #662

[2017-10-25 17:06] #657 closed

[2017-10-25 17:35] AngeloKai commented on #565
Given that this is a feature (though my guess is our end decision will just be return error for this method), I am putting on WD-07 milestone.

[2017-10-25 17:39] AngeloKai commented on #565
@equalsJeffH @nadalin for tracking.

[2017-10-25 17:40] clelland commented on #374
@AngeloKai -- I've been trying hard to dissuade people from adding additional attributes to `<iframe>` for every new feature, in favor of using the single `"allow"` attribute being defined by [Feature Policy](https://wicg.github.io/feature-policy/).

I'm hoping to give spec authors a consistent, uniform means of controlling access to features in frames, and to give web developers assurances that t

[2017-10-25 17:42] AngeloKai commented on #649
My understanding is that all browser vendors implement some sort of safeguarding mechanism to deal with race conditions. But it is too difficult to write down what we should do until we have further testing. Given this information, I am assigning the issue to PR until after the implementers know what they want to do and can write it down in the spec.

[2017-10-25 17:47] AngeloKai commented on #640
Reading from this thread, I believe the use case has already been addressed by existing parameters. The only remaining issue is clarification of authenticator taxonomy, which is tracked by a separate issue and on PR. Therefore, I am closing the issue.

If we ended up believing the use case needs a new parameter, please move back to WD-07. @Kieun @jovasco @emlun

@equalsJeffH @nadalin for tracking.

[2017-10-25 17:47] #640 closed

[2017-10-25 17:50] AngeloKai commented on #658
@akshayku @equalsJeffH to confirm.

[2017-10-25 17:50] AngeloKai commented on #658
@jcjones to add comment about U2F.

[2017-10-25 17:51] jcjones commented on #658
There's no indication for this with U2F on the wire; we're not intending to treat authenticators going way (unplug, out-of-range) as a cancellation for all, right? I'm not implementing it that way, at least.

[2017-10-25 17:52] leshi commented on #565
The danger with allowing "undefined behavior" or "methods that do nothing now, but will do things in the future" in the spec is the following: People may build libraries/websites that do the right thing now, but will break when we update the API to have behavior where things are currently NOOPs

[2017-10-25 17:55] AngeloKai commented on #627
Good point. I believe we didn't word it that way because the belief is all platform authenticators should have user-verifying capability. We can certainly add it in the authenticator taxonomy to clarify: https://github.com/w3c/webauthn/issues/422.

It seems like this is a good clarification to make before CR.

@equalsJeffH @nadalin for tracking.

[2017-10-25 17:56] jyasskin commented on #660
A "minimum of 64 UTF8 characters" is a little odd. Do you mean 64 bytes (64 code units) or 64 unicode characters (roughly code points), which means up to 256 utf-8 bytes? (I don't have an opinion here, just want the spec to be precise.)

[2017-10-25 17:56] AngeloKai commented on #621
Moving extension related issues to PR.

@equalsJeffH @nadalin for tracking.

[2017-10-25 17:58] AngeloKai commented on #599
@leshi told me to assign to christiaan.

[2017-10-25 17:59] jcjones commented on #565
I'm guessing we should say something.... somewhere.... like `preventSilentAccess()` will have no effect on authenticators which require a user ceremony, but will setting that flag may potentially exclude authenticators which can operate without user intervention.

[2017-10-25 18:01] AngeloKai commented on #599
The issue has to do with how RP verifies android attestation and not have to do with how the platform implements the feature. Moving the issue to CR for clarification.

@christiaanbrand @equalsJeffH @nadalin @YubicoDemo for tracking.

[2017-10-25 18:01] emlun commented on #644
That said, I support adding UV as a parameter to get() also.

[2017-10-25 18:02] jcjones commented on #644
I agree with adding this, too.

[2017-10-25 18:09] akshayku commented on #644
@leshi: I was referring to comments in https://github.com/w3c/webauthn/issues/629#issuecomment-337067688

[2017-10-25 18:12] leshi commented on #644
Thanks for pointing that out, @emlun.  I appreciate you taking the time to find this in the spec! ^_^

Let me rewind the clock a bit, take us all back in time.

The reason we added a UV bit in the signature format way back when was so that a key can be created with UV, but then use by the RP sometimes with and sometimes without user verification.  The alternative was to create two keys (one to be

[2017-10-25 18:16] jyasskin commented on #565
[`credentials.preventSilentAccess()`](https://w3c.github.io/webappsec-credential-management/#abstract-opdef-prevent-silent-access) sets the origin-wide "prevent silent access flag" to true. That flag defaults to true, but the browser can set it to false if the user says to do so while signing in.

As I recently added to https://w3c.github.io/webauthn/#getAssertion

If the "prevent silent access fl

[2017-10-25 18:32] AngeloKai commented on #605
Agreed. Closing with no action.

[2017-10-25 18:32] #605 closed

[2017-10-25 18:33] AngeloKai commented on #605
Given that this is just description of what RP needs to do instead of how platform implements the feature, set the issue to PR.

@equalsJeffH @nadalin @YubicoDemo for tracking.

[2017-10-25 18:34] AngeloKai commented on #594
Sounds good. We can do at PR time for completeness. Thank you for the review!

@equalsJeffH @nadalin @YubicoDemo for tracking.

[2017-10-25 18:36] AngeloKai commented on #593
What kind of content restrictions do you recommend? Is it to restrict to certain text encoding such as UTF-16, etc.?

[2017-10-25 18:41] AngeloKai commented on #592
Thank you for pointing it out! Unfortunately it is difficult to re-publish a WD. The recommended way is through errata? Plus when you open the WD, it has a big warning saying, "this is outdated." Giving this info, I am closing the issue with no action.

If we want to do this, we can do this at any time without a milestone. So I am not assigning a milestone to this.

@equalsJeffH @nadalin @YubicoDe

[2017-10-25 18:41] #592 closed

[2017-10-25 18:42] AngeloKai commented on #593
All browsers have some form of policy regarding how they deal with international DOMString. If we agree on something, we can all take a bug fix to address. Assigning the issue to PR milestone.

@equalsJeffH @nadalin @YubicoDemo for tracking.

[2017-10-25 18:43] AngeloKai commented on #590
Sounds good. We can do the editorial fixes at CR time.

[2017-10-25 18:44] AngeloKai commented on #589
Sounds good. We can do the editorial fix at PR time.

@equalsJeffH @nadalin @YubicoDemo for tracking.

[2017-10-25 18:45] AngeloKai commented on #588
Good catch! Move the issue to PR time.

@equalsJeffH @nadalin @YubicoDemo for tracking.

[2017-10-25 18:46] AngeloKai commented on #587
This issue has to do with which dictionary member should be marked as required and can be potentially breaking. Assigning this to milestone WD-07.

@equalsJeffH @nadalin @YubicoDemo for tracking.

[2017-10-25 18:49] AngeloKai commented on #583
We discussed this issue before. When a credential is created with a list of authenticator requirement, the same set of requirement should be applied in future authentication operations. Therefore I am closing the issue with no action.

I am setting the issue to PR to track what editorial fixes we need to make.

@equalsJeffH @nadalin @YubicoDemo for tracking.

[2017-10-25 18:49] #583 closed

[2017-10-25 18:50] AngeloKai commented on #579
This is an editorial fix. Making the step a formal part of the algorithm step can help clarify things. Assigning the issue to PR milestone.

@equalsJeffH @nadalin @YubicoDemo for tracking.

[2017-10-25 18:54] AngeloKai commented on #576
It's a good idea to not have the MUST keyword in the RP verification description, I don't believe we can ever impose conformance requirement to RPs. That is beyond the control of anyone. Although FIDO has certified servers, that is purely FIDO's business not W3C's.

Overall the issue is editorial. I am assigning the issue to CR time for clarification.

@equalsJeffH @nadalin @YubicoDemo for trackin

[2017-10-25 18:58] AngeloKai commented on #575
The spec https://github.com/w3c/webauthn/blob/master/index.bs#L1080 merely recommends a value instead of defining one. The implementers can figure out among themselves which number they want to set. After that, you can come back with a new recommendation.

Assigning the issue to PR time to allow implementers to experiment and come back with better recommendation.

https://github.com/w3c/webauthn/b

[2017-10-25 18:59] AngeloKai commented on #570
Good catch! Thank you! We should clarify this before going to CR.

@equalsJeffH @nadalin @YubicoDemo for tracking.

[2017-10-25 19:48] akshayku commented on #644
Let's separate silent behavior from "uv" discussion. We don't want that ever to happen for our keys. and corresponding option is "up" and not "uv". We won't be able to support any design which cannot achieve this requirement.

"UV" caching is different and I don't think we are ready for it in this version and we should target next version for this.

Regarding "uv", conversation is slightly complex

[2017-10-25 20:08] akshayku commented on #660
In CTAP spec, Authenticators only support UTF8 characters for these fields and that is why it is written as UTF8 characters. Defining Unicode characters limits is not needed here as platform will do the translation. The limits are for authenticators which will store these fields.

[2017-10-25 20:09] jyasskin commented on #660
@akshayku There is no such thing as a "utf-8 character". I think you mean "bytes", which will be interpreted as utf-8 code units.

[2017-10-25 20:58] akshayku commented on #660
Yeah.. I think we are saying the same thing. For example, in authenticatorGetAssertion, rpId field is mentioned as `UTF-8 encoded text string (CBOR major type 3).`

[2017-10-25 21:18] equalsJeffH opened #663 "fix #254: credman alignment: update #getAssertion section a la PR #498"
update [#getAssertion](https://w3c.github.io/webauthn/#getAssertion) section a la PR #498. Doing this will complete webauthn alignment with credman PR https://github.com/w3c/webappsec-credential-management/pull/100, and fix #254

Note: https://github.com/w3c/webappsec-credential-management/pull/100 needs completion & merging

[2017-10-26 09:27] mikewest commented on #374
I agree with @clelland that adding an attribute to `iframe` is a bad idea.

As I've mentioned a few times, I'm fine with weakening the language in the current credential management spec to allow for the possibility of returning credentials from frames. As I've also mentioned, I see that as more of a UX challenge than a technical one. I have no idea how Chrome would present a credential request fro

[2017-10-26 09:50] jovasco commented on #649
@AngeloKai The problem is not internal to browsers but to collisions of multiple browsers or other clients.

In any case, the current language makes it impossible to use the BLE transport, so perhaps a temporary fix for that until this can be sorted out?

[2017-10-26 09:57] jovasco commented on #660
Please define the limit in bytes. In an authenticator, I really do not want to have to add code to interpret UTF-8 code units just to determine length.

[2017-10-26 10:26] jovasco commented on #660
If you define these maximum lengths in UTF-8 code points, the length is essentially multiplied by 4 (maximum byte length of an UTF-8 code point). In most cases this will not happen but displayName can certainly contain all kinds of exotic encodings.

If you use bytes, you force the authenticator to handle UTF-8 code points to truncate them correctly to fit inside 64 bytes or you will have to be pr

[2017-10-26 10:28] emlun commented on #644
I propose renaming the `NotRequired` enum value to `Forbidden`. `NotRequired` is confusing because logically speaking "not required" is equivalent to "allowed, but not required". `Forbidden` on the other hand unambiguously communicates "not required _and_ not allowed".

[2017-10-26 17:40] akshayku commented on #644
What we are discussing is platform semantics when calling authenticators. Authenticators are still free to send "uv" bit even if platform has not asked for it (for example, in case of face/fingerprint authenticators). `Forbidden` is a very strong word and gives a sense that authenticators are not allowed to set it. I like `NotRequired` better.

[2017-10-26 20:15] emlun commented on #644
Now you're contradicting yourself. Your previous comment reads:

Assuming that you mean "Authenticator MUST NOT ask...", I interpret this to mean that the authenticator is indeed not free to set the UV bit.

[2017-10-26 21:55] YubicoDemo commented on #587
@apowers313 only reported the issue. He is not working on it. Can @AngeloKai or @jyasskin take this.

[2017-10-26 22:14] akshayku commented on #644
Ah. I realized the typo in the initial proposal. Apologies.

I meant to say "Platform MUST not ask for user verification" instead of "Authenticator MUST not ask for". I edited the comment.

For example, some vendor builds a finger print authenticator whose semantics are that it always do user verification before releasing any signature. It may be their differentiation from other authenticators and

[2017-10-30 23:15] equalsJeffH commented on #565
@jyasskin wrote:

however, note that credman does not at this time explicitly specify a means to _**set**_ the `prevent silent access flag` to `false` (aka `unset`). It only says in [Requiring User Mediation](https://w3c.github.io/webappsec-credential-management/#user-mediation-requirement) that a user agent _could_ provide means to do so, eg as part of a [credential chooser](https://w3c.github.io

[2017-10-31 00:15] equalsJeffH commented on #660
wrt @akshayku's [original post (OP)](https://github.com/w3c/webauthn/issues/660#issue-268264638):
1. suggest that we express length limits simply expressed in **bytes** rather than "UTF8 characters" (as @jyasskin says, there is no such thing).
2. any encoding requirements should also be unambiguously stated. Note: this is orthogonal, but intersecting, to byte length.

[2017-10-31 17:55] equalsJeffH commented on #587
Our prior discussion on this topic is here: https://github.com/w3c/webauthn/issues/538

[2017-10-31 18:45] equalsJeffH commented on #658
the webauthn spec steps cited in the original post (OP) (https://github.com/w3c/webauthn/issues/658#issue-267072876) address the case where a (presumably platform) authenticator _MAY_ return some form of "user cancelled the entire operation" indication.

Since our "authenticator model" is so far "loosely defined"--such that it can accommodate both CTAP-speaking authenticators and platforms' authnr

[2017-10-31 19:52] equalsJeffH commented on #649
@jovasco wrote:

Well, it is not "impossible"; rather, one needs to figure out what "works" in such a BLE "colliding requests" situation, and then we can update the spec as appropriate.

So perhaps we ought to add a "Note:" or "Issue:" at that "An authenticator must maintain isolation between sessions" statement in the spec, and indicate that implementers should experiment with various approaches

[2017-11-01 12:12] akshayku commented on #660
I thought UTF-8 code points always result single byte representation. @selfissued ?..
Anyway, I made the #667 defining limits in bytes as I agree that Authenticators should not be dealing with code points.

[2017-11-01 12:19] akshayku commented on #644
Just to be clear here, this proposal is not enabling silent authenticators.

From our view, enabling silent authenticators is very very dangerous from the RP's perspective and from general user's perspective and we cannot support that. That behavior potentially can be viewed as super cookie with no way to removing it even if user turn on all the knobs.

[2017-11-01 16:08] equalsJeffH commented on #462
added to list in the OP:

owning authenticator

[2017-11-01 17:46] equalsJeffH commented on #658
decided on 1-nov webauthn call that we will leave the cited alg step as-is, and  add a Note: explaining the steps' purpose.

[2017-11-01 23:02] equalsJeffH commented on #660
nope. you are likely thinking about the UTF-8 feature of being backwards-compatible with USASCII encoding. However, [UTF-8 is a multi-byte encoding form](http://www.unicode.org/glossary/#utf_8_encoding_form).

[UTF-8](http://www.unicode.org/glossary/#UTF_8): A **multibyte encoding** for text that represents each Unicode character with 1 to 4 bytes, and which is backward-compatible with ASCII.

[2017-11-01 23:38] equalsJeffH commented on #358
added to OP:

Client-side-resident Credential Private Key
 * resident credential

[2017-11-02 10:20] emlun commented on #587
The current prose is equivalent to making `PublicKeyCredentialEntity.name`, `PublicKeyCredentialUserEntity.id` and `PublicKeyCredentialUserEntity.displayName` required in the IDL. However, it looks like it's been deliberately decided to specify this in text instead of IDL. In #538 @AngeloKai says

I don't understand why having them not required is needed for integration with CredMan, since all the

[2017-11-02 14:59] jovasco commented on #649
@equalsJeffH which is exactly what I am asking for.

[2017-11-02 16:09] jovasco commented on #660
@akshayku We need to deal with code points anyway if we need to truncate it unless you want to get back malformed UTF-8 code points?

[2017-11-02 22:06] equalsJeffH commented on #644
Rather than `NotRequired` in https://github.com/w3c/webauthn/issues/644#issuecomment-339449751, how about "Optional" ?

[2017-11-02 22:14] equalsJeffH commented on #199
some silent authenticator (aka touchless) discussion is also over in webauthn issue #644

[2017-11-02 22:27] equalsJeffH commented on #199
fyi/fwiw, UAF supports so-called "silent/touchless authenticators" and has from the beginning. It did not run afoul of the Privacy Principles due to how it is specified.   Here's extracts from the relevant UAF specs:

**UAF specs wrt "silent/touchless authenticators"** -- in the order of "starting at the top and going 'down the stack'" :

**fido-uaf-protocol.html (roughly equivalent to the webauth

[2017-11-02 22:31] equalsJeffH commented on #644
wrt "silent authenticators", perhaps discuss over in issue #199 ?

[2017-11-03 02:06] akshayku commented on #644
`Optional` is also OK with me if you think it better explain the requirement that platform will not send "uv" or try to do ClientPin even if authenticator supports those features. Authenticator is still free to choose how it wants to authenticate even if platform has not asked for it (For example BIO authenticators).

Let me know.

Yeah, lets discuss "silent authenticators" in #199.

[2017-11-03 02:38] akshayku commented on #199
I may not have understood all the requirements, but from the looks of it, there are some scenarios where user need to authenticate first but can do silent authentication there after for a certain period of time or regularly.

Possibly there can be another scenarios where RP do not have a problem having silent signatures all together and they do not need that first user verified/presence required a

[2017-11-03 08:30] akshayku commented on #660
Fixed by #667. Closing.

[2017-11-03 08:30] #660 closed

[2017-11-03 09:15] emlun commented on #199
I also think silent assertions would open up more and worse issues than it solves. I can see a case for a "keep-alive session" kind of mode where a user confirmed assertion can authorize silent assertions for a specific RP for some amount of time thereafter, but I'm opposed to "super cookie" silent assertions as @akshayku puts it.

[2017-11-03 09:29] emlun opened #668 "Recommend RPs to verify UP and UV flags"
Neither of [§7.1. Registering a new credential][reg] and [§7.2. Verifying an authentication assertion][ass] currently says anything about the `UP` and `UV` flags in the authenticator data. We should recommend the RP to verify that these flags have the expected values.

See also #629.

[reg]: https://w3c.github.io/webauthn/#registering-a-new-credential
[ass]: https://w3c.github.io/webauthn/#verifyi

[2017-11-03 09:43] emlun commented on #644
Is there a big enough difference between `NotRequired` and `AuthenticatorBehavior` to be worth making this an enumeration instead of a Boolean flag?

- `required: true` would be equivalent to `Required`
- `required: false` would let the platform/authenticator do whatever it wants, but with the knowledge that UV is not required. It would probably choose to not ask for UV, or perhaps ask for UV but

[2017-11-03 10:07] emlun commented on #587
I see no objections, so I'll write up a PR for making the required members required in the IDL.

[2017-11-03 14:25] akshayku commented on #644
It is.

In one scenario, RP wants to not pop up Client PIN UI/user verification due to friction and it OK with only user presence. In another scenario, RP accepts both type of signatures and as he does not know what kind of user is present, asks for default behavior and acts accordingly.

[2017-11-03 16:09] emlun commented on #644
Ah, so you mean that the RP may (1) require UV; (2) want, but not require, UV; (3) prefer skipping UV? Then the enum makes a lot of sense.

I thought you meant that the RP may (1) require UV; (2) prefer skipping UV; (3) not care at all about UV. In that case there's not really that big a difference between (2) and (3).

[2017-11-03 16:15] akshayku commented on #644
(1: `Required`): Require UV
(2: `Not Required`): prefer skipping UV
(3: `Authenticator Behaviour`): Supports both UV and non UV scenario and care about both type of users/authenticators.

Does it makes sense?

[2017-11-03 16:28] jcjones commented on #650
Closed in #651.

[2017-11-03 16:28] #650 closed

[2017-11-03 18:03] equalsJeffH opened #671 "need to clean up "promise" language"
we have straggler "promise" language lying about, e.g. in  [#createCredential](https://w3c.github.io/webauthn/#createCredential) and in [#sctn-appid-extension](https://w3c.github.io/webauthn/#sctn-appid-extension) (in non-nomative prose in the former, in normative language in the latter), which needs to be cleaned up.

seems to me this can wait to fix for CR milestone.

[2017-11-03 22:19] equalsJeffH commented on #644
Note that relevant other issues really ought to be addressed at the same time at this one (cf. https://github.com/w3c/webauthn/issues/524#issuecomment-335933837):
webauthn issue #645, CTAP issues fido-alliance/fido-2-specs#364, fido-alliance/fido-2-specs#365.

see also:
    https://github.com/w3c/webauthn/issues/524#issuecomment-327661555
    https://github.com/w3c/webauthn/issues/524#issuecomment

[2017-11-04 02:42] emlun commented on #644
I can take a stab at this.

@equalsJeffH These links seem to be broken...

[2017-11-07 03:52] #587 closed

[2017-11-08 22:16] equalsJeffH commented on #644
@emlun

you need to be annointed as a part of https://github.com/fido-alliance org

[2017-11-09 15:49] #661 closed

[2017-11-09 15:49] #663 closed

[2017-11-09 15:49] #671 closed

[2017-11-09 15:49] #254 closed

[2017-11-09 16:52] jcjones commented on #380
Closed by #544

[2017-11-09 16:52] #380 closed

[2017-11-09 16:53] jcjones commented on #537
Closed by #544

[2017-11-09 16:53] #537 closed

[2017-11-09 17:06] equalsJeffH commented on #116
@jcjones notes in webauthn f2f tpac 2017-11-09: that we ought to have some hand-wavy general impl-cons for authnrs

[2017-11-09 17:07] nadalin commented on #116
@selfissued Mike please add a sentence in the implementation section to say this is job of the transport specs (CTAP)

[2017-11-09 17:07] jcjones commented on #116
(and U2F, which leaves it undefined but still isn't webauthn's problem...)

[2017-11-09 17:07] #125 closed

[2017-11-09 17:09] #139 closed

[2017-11-09 17:10] equalsJeffH commented on #140
@jcjones notes in webauthn f2f tpac 2017-11-09 :   we will want to address this, but do not need to do for CR milestone -- punt to PR

[2017-11-09 17:11] rlin1 commented on #140
TODO: address in privacy considerations section

[2017-11-09 17:11] nadalin commented on #140
@selfissued can you add a sentence about reuse of credential ids in the privacy sense, see @jcjones for deltails

[2017-11-09 17:16] rlin1 commented on #140
This is NOT only related to the credential ID.  Authenticators can (and are intended) to be used to authenticate the user.  This might lead to unexpected consequences when using "anonymous" browsing mode.

[2017-11-09 17:18] equalsJeffH commented on #184
see also issue #140

[2017-11-09 17:18] rlin1 commented on #140
Need to address whether/why not it could be possible to detect whether a CredentialID belongs to the current user *without* active user interaction(e.g. UP, UV).

[2017-11-09 17:19] equalsJeffH commented on #204
see also issue
#140

[2017-11-09 17:21] rlin1 commented on #210
see also https://github.com/w3c/webauthn/issues/593 and https://github.com/w3c/webauthn/issues/594

[2017-11-09 17:22] emlun commented on #96
The changes proposed in #672 should go some way to address this.

- If an authenticator supports user verification, it must be used when creating a credential.
- When making an assertion with no `allowCredentials`, user verification must be performed and the authenticator will not give up any information about credentials owned by other users.
- User verification is not required if `allowCredentia

[2017-11-09 17:23] rlin1 commented on #210
review has been done.  2 issues have been identified and files separately (i.e. #593 and #594).

[2017-11-09 17:23] #210 closed

[2017-11-09 17:27] kpaulh commented on #184
Regarding getAssertion() with a whitelist, the Chrome implementation circumvents this by not returning immediately but by continuing to request user consent until timeout. In either case of user consent or timeout, Chrome will return a NotAllowedError.

[2017-11-09 17:28] equalsJeffH commented on #227
@gmandyam notes in webauthn f2f tpac 2017-11-09:  we can close this since there is an AAGUID extension in the spec, and @gmandyam will submit some additional client extensions that address some other open issues of his.

[2017-11-09 17:29] rlin1 commented on #233
point (1) address by #381

[2017-11-09 17:29] equalsJeffH commented on #233
this is largely addressed at this point closing

[2017-11-09 17:29] #233 closed

[2017-11-09 17:31] equalsJeffH commented on #292
@jcjones notes in webauthn f2f tpac 2017-11-09 : this is not yet addressed in the spec.  we could change the language somewhat along the lines of " should call abort on the authnr before continuing with this operation "  or something along those lines.

[2017-11-09 17:39] rlin1 commented on #296
The master already contains language regarding this:
" It is an extension point; values may be added to it in the future, as more credential types are defined. The values of this enumeration are used for versioning the Authentication Assertion and attestation structures according to the type of the authenticator. "

[2017-11-09 17:39] rlin1 commented on #296
That langage (see above) looks sufficient to me.

[2017-11-09 17:42] AngeloKai commented on #316
We decided in WebAuthn WG F2F meeting that this issue can be closed.

[2017-11-09 17:42] #316 closed

[2017-11-09 17:42] AngeloKai commented on #316
The issue is added in pull request https://github.com/w3c/webauthn/pull/544

[2017-11-09 17:46] AngeloKai commented on #349
We agreed on the TPAC WebAuthn WG F2F that this should be moved to PR.

[2017-11-09 17:47] rlin1 commented on #349
Note that the RD version of CTAP2 is now available online at: https://fidoalliance.org/specs/fido-v2.0-rd-20170927/fido-client-to-authenticator-protocol-v2.0-rd-20170927.html

[2017-11-09 17:47] equalsJeffH commented on #361
no longer applicable

[2017-11-09 17:47] #361 closed

[2017-11-09 17:48] emlun commented on #96
So it will be possible for Alice to detect whether the authenticator contains Bob's credential `C` only if Alice knows `C`'s credential ID and RP ID.

[2017-11-09 17:49] equalsJeffH commented on #362
see also #296

[2017-11-09 17:50] equalsJeffH commented on #296
agreed we can close this.

[2017-11-09 17:50] #296 closed

[2017-11-09 17:52] nadalin commented on #362
@selfissued need to state which algs are acceptable for the RP to receive

[2017-11-09 17:54] rlin1 commented on #362
WebCrypto already defines a list of "popular" algorithms that we could reference.

[2017-11-09 17:58] equalsJeffH commented on #366
we changed to cose_key so closing this

[2017-11-09 17:58] #366 closed

[2017-11-09 18:23] balfanz opened #674 "CollectedClientData should include a type marker"
Since we're signing over (the serialized) `CollectedClientData`, to avoid potential signature confusion issues, we should include some sort of marker, identifying this particular JSON object as a webauthn CollectedClientData object.

Furthermore, to avoid potential signature confusion issues between the credential-creation and credential-use cases, the marker should also identify that use case.

P

[2017-11-09 18:41] nadalin commented on #372
@selfissued Maybe reference the TCG Specifications, see @akshayku for details

[2017-11-09 18:49] rlin1 commented on #368
see https://github.com/w3c/webauthn/pull/675

[2017-11-09 19:10] nadalin commented on #374
@selfissued Look into using Feature Policy to allow WebAuthn to use iFrame

[2017-11-09 19:15] rlin1 commented on #394
TODO: Address in Privacy Considerations section.

[2017-11-09 19:15] nadalin commented on #394
@selfissued Need to add to security considerations section, see @jcjones

[2017-11-09 19:19] emlun commented on #394
@equalsJeffH

Is that even a downside? That sounds to me like exactly what you would *want* to happen if the authenticator bugs out like that.

On the other hand you could get false positive authentications if the RP doesn't bother to verify the signature, or somehow by dumb chance happens to use the correct public key anyway, but at that point the entire exercise is moot anyway since the false po

[2017-11-09 19:27] equalsJeffH commented on #412
absent a non-breaking proposal we are just going to close this.

[2017-11-09 19:27] #412 closed

[2017-11-09 19:28] nadalin commented on #417
@selfissued verify that this has been covered in previous and if so close

[2017-11-09 19:29] nadalin commented on #420
@equalsJeffH please verify

[2017-11-09 19:34] equalsJeffH commented on #438
merged PR #643 -- closing this issue.

[2017-11-09 19:34] #438 closed

[2017-11-09 19:34] nadalin commented on #455
@selfissued Need to point to the CTAP for Canonical CBOR definition

[2017-11-09 19:37] rlin1 commented on #590
+1

[2017-11-09 19:38] nadalin commented on #491
@equalsJeffH please verify

[2017-11-09 19:39] jcjones commented on #509
Solved by COSE key formats

[2017-11-09 19:39] #509 closed

[2017-11-09 19:40] rlin1 commented on #590
addressed by PR #676.

[2017-11-09 19:41] nadalin commented on #543
@equalsJeffH Please verify

[2017-11-09 19:42] AngeloKai commented on #551
The corresponding credman pull request is merged: https://github.com/w3c/webappsec-credential-management/pull/108

[2017-11-09 19:43] nadalin commented on #551
@equalsJeffH Please verify

[2017-11-09 19:44] nadalin commented on #565
@jyasskin What is the status ?

[2017-11-09 19:46] nadalin commented on #570
@selfissued Reference CTAP specification for length

[2017-11-09 19:47] jcjones commented on #404
Re: https://github.com/w3c/webauthn/issues/404#issuecomment-294240502 and https://github.com/w3c/webauthn/issues/404#issuecomment-294236973, let's not hold their hands about how to get the octets from their back-end to WebAuthn. I suggest this compromise:

[code]

And in the Security Considerations section, add:

[code]

[2017-11-09 19:49] #590 closed

[2017-11-09 19:50] equalsJeffH commented on #404
LGTM - thanks!!

[2017-11-09 19:50] rlin1 commented on #606
yes.

[2017-11-09 19:53] rlin1 commented on #606
closedvia #678

[2017-11-09 19:53] #606 closed

[2017-11-09 19:54] nadalin commented on #613
@jcjones Please verify

[2017-11-09 19:56] kpaulh commented on #404
"and the client's responses' challenge fields" - bit of a mouthful. "and the challenge in the client's response MUST..." ?

[2017-11-09 19:56] jcjones commented on #613
This needs to remain open since issues in the spec point here. The text in the spec is:

We'll want to fix this before PR.

[2017-11-09 20:05] nadalin commented on #626
@gmandyam Change to use buffer source and use CDDL and remove client data examples

[2017-11-09 20:07] jcjones commented on #626
This one is just the BufferSource change, and this needs to happen before CR. I am filing an issue for adding CDDL to each extensions.

[2017-11-09 20:08] jcjones opened #679 "Add CDDL to every extension"
The extensions currently describe their CBOR as example octets; these can be more precisely defined using CDDL, and we should add normative CDDL for each extension.

[2017-11-09 20:08] jcjones commented on #626
Opened https://github.com/w3c/webauthn/issues/679

[2017-11-09 20:16] emlun commented on #140
It is currently possible to detect without user consent in at least some circumstances, although at least the following method cannot be done silently. You make a `getAssertion()` call naming the credential ID you want to probe for; if it times out you gain no knowledge (courtesy of hotplugging), but if it fails before timeout you know the credential is available and that the user has declined the

[2017-11-09 21:17] nadalin commented on #627
@balfanz to clarify text, no renaming

[2017-11-09 21:21] AngeloKai commented on #627
isPlatformAuthenticatorAvailable section: https://w3c.github.io/webauthn/#isPlatformAuthenticatorAvailable

[2017-11-09 21:46] #627 closed

[2017-11-09 21:46] equalsJeffH commented on #648
sigh, sad but true

[2017-11-09 21:46] #648 closed

[2017-11-09 21:49] equalsJeffH commented on #656
@jcjones notes in webauthn f2f tpac 2017-11-09 that we can push this to PR, we can address it with non-nomative editorial language.

[2017-11-09 22:01] jcjones commented on #656
The verification procedures still need to be updated, but I fixed the omission of Privacy CA for U2F in 5f4f3e64ae77843d50f85b2f5b632a47f0088c00

[2017-11-09 22:09] akshayku commented on #674
Looks reasonable to me.

[2017-11-09 22:10] kpaulh commented on #674
+1

[2017-11-09 22:15] balfanz commented on #674
As per discussion at the W3C face-to-face, we don't need the `level` field.

[2017-11-10 00:35] #674 closed

[2017-11-10 15:10] ttaubert commented on #679
None of the example octets for the currently listed extensions use indefinite length encoding. When we define them using CDDL, can we add a note that allows definite length encoding only? That should simplify CBOR parsers quite a bit.

[2017-11-10 15:43] emlun commented on #184
@kpaulh So essentially Chrome ignores this part of [§5.1.3][create].19 and [§5.1.4.1][get].17?

That should indeed make it impossible for the caller to see a difference between (1) timeout and (2) the credential is available, but the user denied consent to use it. It doesn't seem like this instruction would add much to the user experience either. So should we just delete it from the spec?

[create

[2017-11-10 19:47] jcjones commented on #679
Avoiding indefinite length encoding is a good security goal in general, whatever the encoding format. Per @ttaubert, I'd recommend we add that to the implementation considerations as part of this change.

[2017-11-13 16:07] emlun opened #685 "Bug: getAssertion accidentally calls authenticatorGetAssertion in first factor mode"
Step 16 of [§5.1.4.1][get] instructs to for each `authenticator`

1. Let `allowCredentialDescriptorList` be `options.allowCredentials` filtered to contain only the credentials bound to this `authenticator`.
2. If `allowCredentialDescriptorList` is empty, call `authenticatorGetAssertion` in first factor mode (i.e. with no `allowCredentialDescriptorList` argument)
3. If `allowCredentialDescriptorLis

[2017-11-13 17:25] #404 closed

[2017-11-13 17:25] #292 closed

[2017-11-13 22:53] kpaulh commented on #184
Oh, those steps are still useful. We perform them if the user denies consent. The distinction I meant is that Chrome will not immediately return if there are no credentials in the whitelist present.

[2017-11-13 22:54] kpaulh commented on #679
I agree. CTAP is already requiring their CBOR to be canonical, which means no indefinite length encoding.

[2017-11-13 23:32] emlun commented on #184
Ah, I see. I also realized that those steps indeed won't have to go as long as the timeout isn't terminated early. What do you think of the additions proposed in #687?

[2017-11-14 00:02] kpaulh commented on #184
Yeah, that sums it up pretty well!

[2017-11-14 17:18] akshayku opened #689 "TPM Attestation Statement Format: Missing COSE Key algorithm Identifier and clarification."
Many TPM attestations implementations ONLY supports RSASSA-PKCS1-v1_5 w/SHA1 and there is no COSE algorithm identifier defined currently. Here is the proposed addition to list of COSE algorithms.

- Name: RS1
- Value: -262 (This is the next value in this section.)
- Description: RSASSA-PKCS1-v1_5 w/ SHA1. Applicable to some current implementations of TPM 2.0 attestation signatures.
- Reference: Se

[2017-11-15 09:42] selfissued commented on #689
The corresponding validation procedure currently includes:
Verify that `extraData` is set to |attToBeSigned|.

Should this be changed to:
Verify that `extraData` is set to the hash of |attToBeSigned| using the hash algorithm employed in "alg".

It seems like this would be required to be consistent with the signing procedure.

[2017-11-15 21:54] jyasskin commented on #689
Double-checking: does the existence of SHA-1 collisions make these attestations fundamentally insecure? If so, it probably doesn't make sense to support RPs trusting them. If not, please ignore me. :)

[2017-11-15 23:02] selfissued commented on #689
I know of no effective means of creating or utilizing SHA-1 collisions in the RSASSA-PKCS1-v1_5 w/ SHA1 context.

[2017-11-16 03:04] #689 closed

[2017-11-17 08:59] equalsJeffH opened #692 "#createCredential alg: "if options.authenticatorSelection is present..." may be incorrect"
The current step 18 of [#createCredential alg](https://w3c.github.io/webauthn/#createCredential) says:

However, if `options.authenticatorSelection` is not present, we will not invoke any authenticators, which will likely make the user sad.

Given that we need to pass `options.authenticatorSelection.requireResidentKey` and `options.authenticatorSelection.requireUserVerification` to `authenticatorM

[2017-11-17 15:57] emlun commented on #692
See the first commit in #687

[2017-11-18 03:15] equalsJeffH commented on #462
added to list in the OP:

blinding

[2017-11-18 03:16] equalsJeffH opened #694 "define "blinding""
see: https://github.com/w3c/webauthn/pull/693#discussion_r151688735

see also: issue #462

[2017-11-20 09:21] #644 closed

[2017-11-20 09:28] emlun commented on #692
I made a separate PR with just that first commit: #696

[2017-11-20 12:10] emlun commented on #692
I support making `options.authenticatorSelection` required and default to `{}`. Then we can also get rid of the "If `authenticatorSelection` is present" branch, and the descriptions of `requireResidentKey` and `requireUserVerification` in [authenticatorMakeCredential][make] won't describe possibly undefined behaviour. I suppose it would technically be a breaking change to how `credentials.create()

[2017-11-20 17:36] emlun commented on #692
The bikeshed issue appeared in bikeshed commit [aa80a167c54650c1c8f2382945f3894ee5b80bb4](https://github.com/tabatkins/bikeshed/commit/aa80a167c54650c1c8f2382945f3894ee5b80bb4).

[2017-11-20 17:45] equalsJeffH commented on #692
thx @emlun, see https://github.com/tabatkins/bikeshed/issues/1139

[2017-11-20 22:47] equalsJeffH commented on #551
@nadalin - verified. closing this issue.

[2017-11-20 22:47] #551 closed

[2017-11-21 00:20] equalsJeffH commented on #420
Yes, this remains a valid issue -- need feedback from @jyasskin @christiaanbrand @emlun @AngeloKai @akshayku wrt is the answer (a) or (b) ?

[2017-11-21 01:30] emlun commented on #420
For what it's worth **(a)** is not possible in the first factor use case (no `allowCredentials` given to `credentials.get()`), so we need this if we want to support attachment selection there.

That said, I frankly can't see a use case for why an RP would ever want to allow an attachment mode for registration but not assertion. I don't see in what way that would be better than just sending `allowL

[2017-11-21 01:50] emlun commented on #420
Oh wait, looks like I mixed this up with transport modes. I think the same argument applies, though. That might actually be even less useful - the use case for roaming authenticators in the example already has this as an implicit limitation, so I don't see why it would be useful to also impose it as an artificial limitation; and the use case for platform authenticators is IMO better solved as desc

[2017-11-21 04:14] christiaanbrand commented on #420
I vote (a) and I agree with @emlun that this doesn’t work for resident credentials, but it doesn’t need to. This is to solve for a typical reauth scenario where the RP only want to register a credential on a local “platform” authenticator since part of the security model is the fact that the authenticator is built-in (ie. it’s really used as a 2nd factor; the cookie identifying the platform is the

[2017-11-21 12:06] emlun commented on #692
Fixed by #696

[2017-11-21 12:06] #692 closed

[2017-11-21 20:48] equalsJeffH commented on #430
@jyasskin fixed this with PR #620 which is merged. closing.

[2017-11-21 20:48] #430 closed

[2017-11-22 13:12] emlun commented on #649
You said earlier that a BLE authenticator will throw an error to all clients if it receives a new request before it has returned the first. IMO that's a perfectly valid way to "maintain isolation between sessions", but I agree with adding the clarification proposed in #688.

[2017-11-22 18:10] #628 closed

[2017-11-23 15:38] ttaubert opened #698 "Rename AuthenticatorSelectionCriteria.requireUserVerification to userVerification?"
I'd like to propose that `AuthenticatorSelectionCriteria.requireUserVerification` should be renamed to just `userVerification`. The possible values are "preferred", "required", and "discouraged". Having "require" in the name itself seems misleading. That would also match the [change](https://github.com/w3c/webauthn/commit/b245b72221568403cb197270bfd4715ed5098869) to `PublicKeyCredentialRequestOpti

[2017-11-23 16:51] emlun commented on #698
I agree. @jcjones @christiaanbrand @akshayku what do you think?

The reason for the different names between `AuthenticatorSelectionCriteria` and `PublicKeyCredentialOptions` is that the the former had the property with Boolean type until recently, while the latter got the property of type `UserVerificationRequirement` right away without it being a Boolean in between.

[2017-11-24 15:04] jcjones commented on #698
Yep. I'm writing a PR right now.

[2017-11-24 20:28] emlun commented on #524
@equalsJeffH How much of this is still unresolved with #644 merged?

[2017-11-27 20:21] #698 closed

[2017-11-28 19:15] equalsJeffH commented on #374
NOTE: this issue was _at least_ "improved" by this recent merged-in change to [CredMan](https://w3c.github.io/webappsec-credential-management/):

  PR w3c/webappsec-credential-management#114
  "[Remove the blanket restriction against nested usage](https://github.com/w3c/webappsec-credential-management/pull/114)".

We _could_ declare that this "[sameOriginWithAncestors](https://w3c.github.io/webapp

[2017-11-28 19:47] equalsJeffH opened #700 "add sameOriginWithAncestors parameter to internal methods"
[CredMan](https://w3c.github.io/webappsec-credential-management/) PR w3c/webappsec-credential-management#114 "Remove the blanket restriction against nested usage" adds the `sameOriginWithAncestors parameter` to the internal methods -- webauthn needs to _at least_ update its internal method declarations -- [\[\[Create\]\](origin, options)](https://w3c.github.io/webauthn/#createCredential) and [[\[\

[2017-11-28 20:06] equalsJeffH opened #701 "[[Create]] and [[DiscoverFromExternalSource]] references have inconsistent parameter lists"
we do not consistenly denote the param lists of `[[Create]]` and  `[[DiscoverFromExternalSource]]`.  they all should at this time be `(origin, options)` (rather than just `(options)`, as some are now).

Note that we also need to consistently add a `sameOriginWithAncestors` param (see #700).

[2017-11-29 17:18] equalsJeffH commented on #140
Punting to PR milestone per discussion at webauthn f2f tpac 2017-11-09, see: https://github.com/w3c/webauthn/issues/140#issuecomment-343223907

[2017-11-29 17:34] equalsJeffH commented on #322
an [overall security considerations section](https://w3c.github.io/webauthn/#security-considerations) was recently added to the spec via PR #681.  however, IMO, to close this issue it ought to be enhanced to explain that the present web authn sec cons are incomplete, update the ref to [[FidoSecRef]]  to a newer version, and to please refer to [[FidoSecRef]] for further info.  we could/should then

[2017-11-29 18:30] jcjones commented on #374
I thinks will be closed by https://github.com/w3c/webauthn/pull/702 when it has notes discussed in 29 Nov meeting.

[2017-11-29 18:33] equalsJeffH commented on #322
on 29-Nov-2017 webauthn call: https://github.com/w3c/webauthn/issues/322#issuecomment-347936349 sounds like nominally OK plan, for attempting to attain CR maturity level.

[2017-11-29 18:35] nadalin commented on #227
@gmandyam will submit some additional client extensions that address some of your other open issues

[2017-11-29 18:39] selfissued commented on #362
@jyasskin it looks to me like this issue is probably obsolete now.  Since it was written, we've redone the description of the use of cryptographic algorithms and identifiers - referencing and using registered algorithms in the IANA COSE Algorithms registry at https://www.iana.org/assignments/cose/cose.xhtml#algorithms.  If you agree, can you please close this?  If you don't can you add a comment p

[2017-11-29 18:42] emlun commented on #227
I think the privacy consideration about silent authenticator discovery is obsolete now that makeCredential, with hot-plugging, will always wait for timeout instead of failing early (#655, #687). So maybe we can let this extension fail operation (i.e., just ignore the authenticator and keep waiting) instead of proceeding with a non-eligible authenticator.

[2017-11-29 18:52] emlun commented on #455
@selfissued CTAP spec: https://fidoalliance.org/specs/fido-v2.0-rd-20170927/fido-client-to-authenticator-protocol-v2.0-rd-20170927.html

[2017-11-29 19:02] nadalin commented on #626
@jcjones will create PR and @selfissued will review

[2017-11-29 20:40] emlun commented on #420
Do we have consensus that passing authenticator selection parameters to `credentials.get()` is not needed? If so, I'll go ahead and write up a PR to resolve the inconsistencies @equalsJeffH mentioned.

[2017-11-30 19:24] #700 closed

[2017-11-30 19:24] #701 closed

[2017-11-30 22:09] agl commented on #491
I think the motivation is that sites may have many security keys that were registered with the U2F API, but don't wish to force re-registration when switching to webauthn. The tokens will expect the appId hash to be the U2F appId, however, and not the RP ID.

Newly registered keys can be all-webauthn and the appId hash at the token level can be a hash of the RP ID.

As for the questions about appI

[2017-12-01 00:01] jyasskin commented on #362
https://w3c.github.io/webauthn/#dom-collectedclientdata-hashalgorithm still refers to a "recognized algorithm name" as this issue says. Also, the COSE algorithms don't include hash algorithms.

I'd suggest "The hashAlgorithm member is one of "SHA-256", "SHA-384", or "SHA-512", interpreted as a recognized algorithm name."

[2017-12-01 19:27] equalsJeffH opened #704 "choose consistent section id prefix"
we are presently using at least two section id prefixes:
`#sec-`
`#sctn-`
..and there's many section ids with no discernable prefix (which invites collisions).

I prefer `#sctn-` because it is not a abbreviation of "security", which is what I think when I see `#sec-`.

Anyway, WDYT?

[2017-12-04 23:47] equalsJeffH commented on #368
this was fixed by PR #675 as noted by @rlin1 https://github.com/w3c/webauthn/issues/368#issuecomment-343253059. Closing.

[2017-12-04 23:47] #368 closed

[2017-12-05 07:50] AngeloKai commented on #374
Agreed. Closing the issue.

[2017-12-05 07:50] #374 closed

[2017-12-05 13:45] emlun commented on #704
`#sctn-` seems reasonable to me.

[2017-12-05 16:18] emlun commented on #491
@agl is correct, the AppID is not needed for new registrations.

To elaborate: the _application parameter_ sent to U2F authenticators is an [opaque binary array][u2f-authenticate] containing the SHA-256 hash of the AppID; the validation of the AppID is done by the client platform. U2F authenticators are therefore compatible with WebAuthn RP IDs for new registrations since they only see the hash. T

[2017-12-05 16:18] wseltzer opened #706 "Review acknowledgments and editors list"
Let's review the acknowledgments to get them in shape for CR.

Shall we alphabetize the list of editors?

[2017-12-05 16:25] jcjones commented on #706
+1 to alphabetize the editors.

I also would propose we move some of the editors who've not been involved recently to 'former editors'.

[2017-12-05 16:28] emlun commented on #645
Current language specifies to always perform a user presence test (unless user verification is performed), so the latter option does not currently exist (as discussed in https://github.com/w3c/webauthn/issues/629#issuecomment-336574658).

[2017-12-05 20:16] leshi commented on #491
`rpId` cannot be replaced by `appId` because the RP could have provided several credentials in the allowList -- some that were registered using the legacy u2f APIs (and hence need the appid extension to override their `rpId`) and some that were registered using webauthn API (and hence need to keep their `rpId`).  This needs to be fixed.

Regarding "causing confusing with future extensions", I thin

[2017-12-05 20:22] arnar commented on #491
I think this can be fixed with more precise language in the definition of the extension, by spelling out the specific purpose (support existing U2F registrations), and that the appId is to be used when talking to U2F devices only. The presence of an `rpId` becomes irrelevant in those cases, hence we can drop the language about replacing `rpId` with `appId`.

[2017-12-05 20:42] leshi commented on #491
Any chance you have cycles to fix that? :-P

[2017-12-05 20:53] arnar commented on #491
Yep, catching up to make sure I don't make it worse. Jeff you can add me to assignees if that helps with tracking.

[2017-12-05 20:58] emlun commented on #491
@leshi Oh right, that is a good point. Though I think in practice most users will probably have only one authenticator, which mitigates the impact. The RP could also somewhat work around it by trying both U2F and Webauthn credentials in two separate `getAssertion` calls, but it would be a pretty ugly user experience.

We could fix this by making the extension value a `[{ credentialId, appId }...]`

[2017-12-05 22:11] riking commented on #133
I feel like this should be addressed - it seems like a mistake to allow websites to get geolocation information without the user being notified.

[2017-12-05 22:51] equalsJeffH opened #707 "remove alg argument lists in Abort Operation section"
Our convention of mostly always listing the argument list of our [\[\[Create\]\](origin, options, sameOriginWithAncestors)](https://www.w3.org/TR/2017/WD-webauthn-20171205/#createCredential) and [\[\[DiscoverFromExternalSource\]\](origin, options, sameOriginWithAncestors)](https://www.w3.org/TR/2017/WD-webauthn-20171205/#discover-from-external-source) internal methods unfortunately renders the "[A

[2017-12-05 22:52] equalsJeffH commented on #706
@levangongPayPal has already told me he's fine with being listed as "contributor".

[2017-12-05 23:01] selfissued commented on #706
We should add Akshay as a current editor.

[2017-12-05 23:26] nadalin commented on #706
@selfissued @jcjones @equalsJeffH I will make a call for additional editors on next weeks call so we are all in agreement

[2017-12-06 17:41] equalsJeffH commented on #706
Summary: In case it is helpful, I've extracted the names/userids of all webauthn committers from the webauthn git repo. Here is the list along with a commit count for each (note: some commits by various folks were to various ancilliary items in the repo, such as README.md, the travis & bikeshed stuff, etc):
[code]
tl;dr: I did an initial extraction from the git hist output of any line containing a

[2017-12-06 17:43] equalsJeffH commented on #706
In terms of acknowledging folks who've provided feedback on the spec and/or submitted issues, I wonder if there is a means to do something similar to the committer info extraction in https://github.com/w3c/webauthn/issues/706#issuecomment-349718182, and generate a list of names/userids that have submitted issues?

[2017-12-06 18:11] rlin1 commented on #589
This issue doesn't exist any longer (as of Dec. 6th 2017).
Might have been fixed earlier.

[2017-12-06 18:11] rlin1 commented on #589
We can close this issue (as already fixed) IMHO.

[2017-12-06 18:13] rlin1 commented on #588
Has been addressed by PR #677
We should close this issue IMHO.

[2017-12-06 18:21] equalsJeffH commented on #227
on 6-Dec-2017 webauthn call:  we decided this is likely overall a non-issue presently and we want to allow impls and deployments to experiment in this space and we are punting this issue to L2 such that we can re-consider after we have more experience

[2017-12-06 18:29] equalsJeffH commented on #362
@jyasskin wrote in https://github.com/w3c/webauthn/issues/362#issuecomment-302914784:

sounds like a worthwhile approach to consider.

[2017-12-06 18:33] equalsJeffH commented on #362
on 6-Dec-2017 webauthn call:  fix hash alg at "SHA-256", worry about SHA2 being broken anon, strip out "recognized algorithm name" phrase.  tacitly rely on PublicKeyCredentialType enumeration in the future as necessary to signal use of another crypto suite.

[2017-12-06 18:40] equalsJeffH commented on #491
on 6-Dec-2017 webauthn call:  @agl asserts that in the case of deployed RPs using U2F, they will have existing registered users that are registered with AppID hash, and the new webauthn api interactions will be using RP ID hash and thus problems ensue.

@agl asserts that this extension needs majjor surgery and will undertake that from a U2F compatibility perspective.

[2017-12-06 18:43] rlin1 commented on #599
Since Christiaan isn't available for some time, who will handle that one now?

[2017-12-06 18:45] equalsJeffH commented on #599
on 6-Dec-2017 webauthn call:  @agl will ask around at GOOG to try to get some feedback if possible.

[2017-12-06 18:52] #589 closed

[2017-12-06 18:53] equalsJeffH commented on #589
agreed. closing.

[2017-12-06 18:53] #588 closed

[2017-12-06 18:59] equalsJeffH commented on #116
on 6-Dec-2017 webauthn call: move to this to PR milestone, we'll have more data wrt the "authenticator model" spec section's level of abstraction.

[2017-12-06 22:40] equalsJeffH commented on #579
moving to CR milestone given @emlun's https://github.com/w3c/webauthn/issues/579#issuecomment-334752813 and PR #709 being open.

[2017-12-06 22:59] equalsJeffH opened #711 "[[identifier]]'s explanation ought to link to [=credential ID=]"
section https://w3c.github.io/webauthn/#iface-pkcredential says:

We place the Credential ID in this slot during `[[Create]]()`, suggest we update the above to be:

"This internal slot contains the [=credential ID=], chosen by the platform with help from the authenticator."

[2017-12-07 09:16] annevk opened #712 "JSON-serialized client data is wrong"
You basically specify the correct thing by only allowing UTF-8 and such, but https://infra.spec.whatwg.org/#parse-json-from-bytes is a little more formally correct.

[2017-12-07 09:19] annevk opened #713 "JSON deserialization is not defined"
The prose would read much clearer if this was an operation that returned something.

[2017-12-07 09:21] annevk commented on #712
It also seems you want to produce a string out of an object using JSON.stringify. Maybe we should define that operation in Infra too.

[2017-12-07 11:48] ttaubert commented on #543
The part describing the public key format in the spec looks fine to me, although it should probably either be made clear that the map isn't sorted, or the map should be sorted correctly.

I wonder if there should be another issue about CBOR sorting in general. The CTAP2 spec sorts maps slightly differently than the CBOR RFC, and either CTAP2 sorting is used for WebAuthn CBOR too, or implementers w

[2017-12-07 11:52] ttaubert opened #714 ""5.4. Options for Credential Creation" still lists PublicKeyCredentialUserEntity.name"
It looks like `PublicKeyCredentialUserEntity.name` existed in the past, but has now been removed.

The second section of "5.4. Options for Credential Creation", the one talking about the `user` field, needs to be corrected and not reference the old `name` field.

[2017-12-07 13:39] emlun commented on #714
The member is inherited from the `PublicKeyCredentialEntity` base type, which is also where "name" links to from the section you mentioned.

[2017-12-07 13:43] emlun commented on #712
What part(s) of the spec is this in reference to?

[2017-12-07 13:44] ttaubert commented on #714
Yeah... I just realized that too. Sorry.

[2017-12-07 13:44] #714 closed

[2017-12-07 13:44] emlun commented on #713
What part(s) of the spec is this in reference to?

[2017-12-07 13:46] annevk commented on #713
7.1 and 7.2 both use this term.

[2017-12-07 13:47] annevk commented on #712
The question was about 5.8.1. I think OP actually doesn't apply since you don't use JSON.parse...

[2017-12-07 13:58] emlun commented on #714
No worries, thanks for reviewing the spec!

[2017-12-07 14:01] emlun commented on #712
Yeah, section 5.8.1 has nothing to do with parsing JSON, only encoding to JSON. Do you mean we can close this, then?

[2017-12-07 14:03] emlun commented on #713
Ok. Seems like a good idea to me.

[2017-12-07 14:06] annevk commented on #712
No, I'm wondering whether it should be formalized similar to how parsing is formalized at https://infra.spec.whatwg.org/#parse-json-from-bytes. We could put such a definition in the Infra Standard.

[2017-12-07 14:16] emlun commented on #712
Ok. If you do add such a definition to the Infra Standard that would be nice I suppose, but I'd say that the current language in the WebAuthn draft is formal enough that it's not necessary to change it.

[2017-12-07 15:00] jcjones opened #715 "FIDO U2F Attestation Statement Format needs to clarify that user handle will be empty"
FIDO U2F devices have no mechanism to store a `userHandle` field, so if an RP passes a user handle to `make credential` and gets back a U2F attestation type, the RP must be prepared that subsequent calls to `get assertion` will not have a user handle.

I recommend modifing the last step of **Verification procedure** to:

[2017-12-07 15:07] jcjones opened #716 "PublicKeyCredentialDescriptor.id needs a more precise definition"
The [PublicKeyCredentialDescriptor](https://www.w3.org/TR/2017/WD-webauthn-20171205/#credential-dictionary) defines its member `id` as:
https://github.com/w3c/webauthn/blob/33ac796035b250d29ddf056ac044319825128104/index.bs#L1885

It's a [credential id](https://www.w3.org/TR/2017/WD-webauthn-20171205/#credential-id), but the existing definition makes it sound very confusable with [PublicKeyCredenti

[2017-12-07 16:26] emlun commented on #715
I think the verification procedure doesn't seem like the right place to put it, since there's nothing anywhere else suggesting that the verification procedures would have anything to do with the user handle. I'm more inclined to make it a "Note:" to either [§5.2.2 AuthenticatorAssertionResponse][auasre] or to [§7.2 Verifying an authentication assertion][verify] (the latter of which currently makes

[2017-12-08 09:38] emlun opened #720 "Contradiction in whether user handle is required"
The definition of [Public Key Credential Source][pkcs] includes:

However the user handle is _required_ in [PublicKeyCredentialUserEntity][pkcue]. We should drop the "optional" from the above bullet point.

[pkcue]: https://w3c.github.io/webauthn/#sctn-user-credential-params
[pkcs]: https://w3c.github.io/webauthn/#public-key-credential-source

[2017-12-08 10:02] emlun commented on #707
Sounds good to me. I wouldn't be against dropping the parameter lists from most or all references to the methods - they each have only one parameter signature, right? - but I don't know about the broader conventions on this.

[2017-12-08 14:20] #716 closed

[2017-12-12 03:36] gmandyam opened #725 "txAuthSimple does not conform to extension requirements"
As per https://w3c.github.io/webauthn/#sctn-simple-txauth-extension, the authenticator extension input is a CBOR string.

As per https://w3c.github.io/webauthn/#sctn-authenticator-extension-processing, the authenticator extension input is a CBOR map.

Suggested change:  proponents of this extension define the authenticator extension input as a CBOR map.  I will modify https://github.com/w3c/webaut

[2017-12-12 15:25] Kieun commented on #725
Authenticator extension input is a CBOR encoded data which is a value for Authenticator extension input argument, form of map. And the key for the map is the extension identifier. So, we don't have to change the description. But, the readers may be confused.
So I suggest followings.
 - change client/authenticator extension input -> client/authenticator extension input value
 - let client extension

[2017-12-12 16:09] emlun commented on #725
I think it's technically correct as currently written, though perhaps a bit dense. What's described as a CBOR map in the second link is not the "authenticator extension input", but "the extensions data part of the authenticator request" which is a map containing the "authenticator extension input"s as values. This distinction could perhaps be made clearer, perhaps by somehow referring to the _exte

[2017-12-12 16:14] Kieun commented on #715
I think it would be better to add more description regarding this at step 1 of §7.2 Verifying an authentication assertion. We need to provide detailed procedures for the RP server to look up credential public key with credential id and user handle.
We need to mention the fact that the RP server should look up credential public keys with user id before sending an challenge and then select one from

[2017-12-12 16:38] Kieun commented on #720
U2F authenticator does not store any user identifier (user handle) for credentials. Even though we send a user handle in PublicKeyCredentialUserEntity during registration, the U2F authenticator ignores it when generating a public key credential. So, I think we don't have to drop "optional" for user handle.

[2017-12-12 17:02] emlun commented on #720
The RP is required to provide the user handle when creating a new credential: https://github.com/w3c/webauthn/pull/558#issuecomment-331535523 So I do think it makes sense to drop "optional" here. U2F devices will ignore it, and as that comment points out they won't be expected to return it since they're always used in 2nd factor mode.

However, I think that also means we need to change [authentica

[2017-12-12 17:13] Kieun commented on #720
Yeah, user handle is required field for generating a credential. But it does not have to be required field to store credentials. Is that make sense that it is optional in the perspective of credential storage for 2nd factor authenticators?

[2017-12-12 17:29] emlun commented on #720
In a way I think it does make some sense: the conceptual credential "has" a user handle, but since the authenticator will never return it it's fine if the authenticator as an implementation detail doesn't store the user handle. But yeah, that could be confusing.

@jyasskin @christiaanbrand @jeffh thoughts on this?

[2017-12-12 17:54] gmandyam commented on #725
@Kieun and @emlun

Thanks for the responses.  Another option is to make the description of txAuthSimple more like txAuthGeneric (https://w3c.github.io/webauthn/#sctn-generic-txauth-extension), where the client extension input is provided as a CBOR Map, with the corresponding key/value pairs.  Note also that client extension input does not have to strictly be in JSON ("The client extension input, w

[2017-12-12 20:15] emlun commented on #725
What would be the benefit of this?

What do you mean? Doesn't the quoted passage say that the client extension input _does_ have to be a JSON (-encodable) value?

[2017-12-12 21:13] gmandyam commented on #725
Avoiding an unnecessary casting between JSON and CBOR (which is not a huge concern), and consistency between txAuthSimple and txAuthGeneric.

No it does not.  The quoted passage says "can be encoded in JSON", which is not the same as "have to be JSON-encodable".

[2017-12-13 17:31] rlin1 commented on #685
Even though the algorithm has changed quite a bit since then, the bug seems to exist today:
In step 5 the information whether the caller provided any entries in options.allowCredentials might get lost be the filtering. Proposal:
5. If options.allowCredentials is NOT empty then
    a) execute a platform-specific procedure to determine which, if any, public key credentials described by options.allow

[2017-12-13 17:39] emlun commented on #685
@rlin1 Did you see #672? Do you reckon it fixes the issue?

[2017-12-13 17:41] emlun commented on #685
Er, I mean #686, and I see you have now reviewed it. Never mind!

[2017-12-13 18:35] #362 closed

[2017-12-13 18:39] emlun commented on #720
Reopening to track progress on the TODO stated in https://github.com/w3c/webauthn/pull/558#issuecomment-331537953

[2017-12-13 18:45] equalsJeffH commented on #713
setting this to CR milestone since we triaged the PR #713 as CR

[2017-12-15 21:50] equalsJeffH opened #727 "there is no {{PublicKeyCredentialEntity/id}}"
...rather, it is now either `{{PublicKeyCredentialRpEntity/id}}` or `{{PublicKeyCredentialUserEntity/id}}`

[2017-12-15 21:53] equalsJeffH commented on #727
fixing this is ostensibly necessary to fix this current link error in master:
`\033[1;33mLINK ERROR:\033[0m No 'idl' refs found for 'id' with for='PublicKeyCredentialEntity'.
{{PublicKeyCredentialEntity/id}}
\033[7;32m ✔ \033[0m Successfully generated, with 1 linking errors`

[2017-12-15 23:43] equalsJeffH commented on #725
@gmandyam:

this issue is related to issue #626.  The specification of [#sctn-simple-txauth-extension](https://w3c.github.io/webauthn/#sctn-simple-txauth-extension)'s input value of "A single JSON string prompt" is likely going to change to be something more explicit e.g.:
[code]
I disagree that we we should make [#sctn-simple-txauth-extension](https://w3c.github.io/webauthn/#sctn-simple-txauth-ex

[2017-12-16 00:02] gmandyam commented on #725
@equalsJeffH

Thanks for the guidance.  Let us assume that client-extension input must be JSON-encodable.  Then shouldn't https://w3c.github.io/webauthn/#sctn-generic-txauth-extension specify its client-exention input as JSON instead of as a CBOR map?

[2017-12-19 20:01] equalsJeffH commented on #133
reopening due to https://github.com/w3c/webauthn/issues/133#issuecomment-349458824

[2017-12-19 20:12] equalsJeffH commented on #133
It seems that having the geoloc extension check the permissions framework is a resonable thing since geoloc is a defined permision in: https://w3c.github.io/permissions/#permission-registry

[2017-12-19 20:25] gmandyam commented on #133
@equalsJeffH

Wouldn't the client (UA) check the permissions framework, rather than the extension implementation itself?  Since the client can choose to drop extensions, it can use the permissions framework as part of the criteria in determining whether to drop or not.

[2017-12-19 21:49] equalsJeffH commented on #133
@gmandyam
Yeah, that might be the case, perhaps the extension only needs to say that the client platform ought to check permissions as appropriate and if available, e.g., geoloc, and reference  https://w3c.github.io/permissions/ ?

[2017-12-19 22:19] equalsJeffH commented on #707
Ok, I looked into this and given the way bikeshed links-up IDL and all it seems that absent some specialized tweaking of said linking, it's just the way it is, and not worth a bunch of time trying to figure it out. so I suggest I close this wontfix.

[2017-12-20 00:22] equalsJeffH commented on #455
note   's https://github.com/w3c/webauthn/issues/543#issuecomment-349944903 wrt CTAP2's CBOR map key sorting order -- it is not the same as canonical CBOR.  it's clearly stated in the CTAP2 spec so if we can address this issue by simply citing [CTAP2 message encoding](https://fidoalliance.org/specs/fido-v2.0-rd-20170927/fido-client-to-authenticator-protocol-v2.0-rd-20170927.html#message-encoding),

[2017-12-20 15:43] emlun commented on #685
Closing this since #686 is merged.

[2017-12-20 15:43] #685 closed

[2017-12-20 18:17] selfissued commented on #694
Does anyone have a proposed definition of "blinding"?

[2017-12-20 18:39] rlin1 commented on #694
What about: "Blinding: Hiding authenticator details.  This is done in order to make it harder fingerprinting a user by exposing authenticator details to the relying party.  As a side effect details regarding the authenticator security are hidden as well."

[2017-12-20 18:41] selfissued commented on #133
I agree that the client platform should do this check - not the extension

[2017-12-20 18:44] #599 closed

[2017-12-20 18:49] #706 closed

[2017-12-20 18:51] #727 closed

[2017-12-20 18:53] #711 closed

[2017-12-20 18:58] equalsJeffH commented on #694
on 20-Dec-2017 call @agl said he'd concoct text to address this.

[2017-12-20 18:58] selfissued commented on #694
@agl plans to write actionable normative text saying *how* to accomplish the blinding.

[2017-12-20 19:02] #707 closed

[2017-12-20 20:43] equalsJeffH commented on #543
@ttaubert pls see PR #731 wrt your above comment.

[2017-12-20 23:53] equalsJeffH commented on #543
wrt the OP https://github.com/w3c/webauthn/issues/543#issue-254845328, here's my suggestion for updating the parag describing the COSE_Key format format:

Additionally, I'll add examples per @akshayku's suggestion https://github.com/w3c/webauthn/issues/543#issuecomment-327040747.

[2017-12-21 03:14] selfissued commented on #543
Jeff's suggestion looks good to me

[2017-12-21 04:47] akshayku commented on #543
@equalsJeffH Yes, ES256 example is correct.

[2017-12-21 07:19] #579 closed

[2017-12-21 23:42] emlun commented on #720
Closing this along with #730.

[2017-12-22 01:07] equalsJeffH commented on #420
PR #420 is merged so closing this.

[2017-12-22 01:07] #420 closed

[2017-12-22 17:46] JohnRochfordUMMS opened #733 "cognitive-accessibility consideration"
Hi All,

As a Cognitive Accessibility Task Force member, and as manager of its Accessible Authentication success criterion (SC), I recently reviewed the Web Authentication working draft. I assessed what impact our Accessible Authentication SC might have on it, and how the task force's work could be helpful to it. (I saw nothing in the working draft that I thought would have an impact on our SC.)

[2017-12-24 10:43] emlun commented on #720
@akshayku Did we miss something?

[2018-01-02 00:13] equalsJeffH commented on #497
might as well fix this for CR. PR #734 is now open.

[2018-01-03 18:07] jcjones commented on #626
Work-in-progress: https://github.com/w3c/webauthn/compare/master...jcjones:626-cbor_for_extensions?expand=1

[2018-01-03 18:40] #497 closed

[2018-01-03 18:43] #455 closed

[2018-01-03 18:47] #720 closed

[2018-01-03 19:11] #622 closed

[2018-01-04 19:49] nadalin commented on #725
@gmandyam @selfissued where do we stand with this ? and 626 ?

[2018-01-05 00:36] #491 closed

[2018-01-08 22:42] selfissued commented on #626
PR #737 fixes issue #725

[2018-01-08 22:45] selfissued commented on #626
Having just skimmed through all the defined extensions, I believe that all the extensions now do define how their parameters convert to/from CBOR (once #737 is merged, that is).

[2018-01-08 23:20] bzbarsky commented on #626
@selfissued Assuming the relevant bits except #737 are now merged into <https://w3c.github.io/webauthn/>, I am still not clear on how this works.

Let's take a simple example just to make sure I undestand.  For <https://w3c.github.io/webauthn/#sctn-simple-txauth-extension>, which values, if any, come from JS via a AuthenticationExtensions record?

[2018-01-09 00:06] selfissued commented on #626
The client extension input value, which for this extension, is "A single JSON string prompt", is the value for the "txAuthSimple" member of the AuthenticationExtensions record.  The authenticator extension input value is the CBOR encoding of the client extension input value - which is the prompt string.

Upon return, the authenticator extension output value is transformed into the client extension

[2018-01-09 07:18] bzbarsky commented on #626
OK, so...  The thing in the `AuthenicationExtensions` is an `any`.  That means that it can be any JS value.

1) What defines how arbitrary JS values are transformed into "A single JSON string prompt"?  If I pass in `{ toString: function() { return 'x'; }, valueOf: function() { return 'y'; } }` as the value in the `AuthenticationExtensions`, then what will the resulting "JSON string prompt" be and

[2018-01-09 09:19] emlun commented on #626
As I read the spec, if you were to pass `extensions: { "txAuthSimple": foo }` where `foo` is anything else than a JS string value, the client (if it supports extensions) would throw an error.

[2018-01-09 15:27] bzbarsky commented on #626
Where does the spec say that, exactly?  It needs to be very clearly spelled out, especially because that's not normal behavior for web APIs...

[2018-01-09 16:24] emlun commented on #626
I confess it doesn't, as far as I can tell. I agree that should be clearly spelled out.

[2018-01-09 17:51] jyasskin opened #738 "UAs can't pass unknown extensions to authenticators"
https://w3c.github.io/webauthn/#extensions claims that

However,
1. "simply encoding the client extension input in CBOR" is underspecified: it could refer to https://tools.ietf.org/html/rfc7049#section-4.2, but like with canonical CBOR, the RFC's suggestion is probably not quite right for our use. For example, should the value `1.9` be sent as-is, rejected, or converted to an integer first? If it'

[2018-01-09 18:57] jyasskin commented on #626
Using the partial dictionary option suggested in #346 instead of a `record<DOMString, any>` would help with the conversions here. That wouldn't get the behavior @emlun suggested of throwing on non-string inputs, but it would be more consistent with the rest of the web.

[2018-01-09 21:41] selfissued commented on #626
I think I'm fine with the partial dictionary approach for client extension input and output values as described in #346 since the `ttypedef record<DOMString, any>AuthenticationExtensions;` approach seems to be syntactically problematic.  That's far preferable to forcing everything to CBOR when it's a Web interface.  What do others think of this approach?

[2018-01-09 21:51] selfissued commented on #626
Answering @bzbarsky 's questions:
1.  Arbitrary JS values are not transformed into strings.  You're expected to pass a string value for this extension.  If you don't, it's an error.
2.  I think that JSON string should be DOMstring
3.  Unpaired surrogate processing would be the same as for an other Web interface using strings.  There's nothing about this use case that requires custom Unicode proces

[2018-01-09 21:55] selfissued commented on #738
Yes, https://tools.ietf.org/html/rfc7049#section-4.2 plus applying our canonicalization rules is what is expected. You're right that if floating point is present, our canonicalization can't be performed, in which case, that extension would be dropped.  We can say those things explicitly if would make things clearer.

[2018-01-09 22:23] bzbarsky commented on #626
OK.  That includes `String` objects?

And again, this needs to be clearly defined somewhere.

Fine, so array of 16-bit integers....

Mostly they pass them through unchanged, when using DOMString (which isn't a string of Unicode characters, name notwithstanding; it's an array of 16-bit integers).  But CBOR major type 3 requires input be a Unicode string afaict, so you need to produce a Unicode stri

[2018-01-09 23:31] jyasskin commented on #738
We should say that explicitly, with tweaks since we're starting from JS objects instead of serialized JSON. Consider starting from a copy of https://tc39.github.io/ecma262/#sec-json.stringify to make sure we handle all cases.

We should probably also ban individual extensions from defining their own conversion-to-CBOR rules to avoid the need for authenticators to parse two formats.

[2018-01-09 23:47] selfissued commented on #626
I'm fine using USVstring, as @bzbarsky suggests.

[2018-01-10 18:32] rlin1 commented on #417
This USVString: http://docs.w3cub.com/dom/usvstring/

[2018-01-10 18:36] rlin1 commented on #394
Note: This is about documenting the rationale for not signing over the credential ID - it is not about changing the assertion structure.

[2018-01-10 18:42] selfissued commented on #565
I will create a PR based on @jcjones 's October 25th comment.

[2018-01-10 18:46] selfissued commented on #626
Mike will create a PR using partial dictionaries as suggested in #346 .

[2018-01-10 18:53] jcjones commented on #715
I will write a PR.

[2018-01-10 19:00] agl commented on #738
From the discussion today:

Mike envisions that browsers will do generic transcoding of unknown extensions, but that extensions may also define a specific transcoding function for browsers that understand it. Thus tokens have to be able to handle either and the specific function must be careful not to be ambiguous with the generic output.

I think the generic transcoding needs to be more precisely

[2018-01-10 22:31] #322 closed

[2018-01-11 00:44] agl commented on #694
See #741

[2018-01-11 06:29] #417 closed

[2018-01-11 17:12] equalsJeffH opened #742 "reference fido privacy principles"
https://fidoalliance.org/wp-content/uploads/2014/12/FIDO_Alliance_Whitepaper_Privacy_Principles.pdf

[2018-01-11 17:30] equalsJeffH opened #743 "document preventions of RP-driven de-anonymization attempts in privacy-cons"

[2018-01-11 17:32] equalsJeffH commented on #204
see also #743

[2018-01-11 17:34] equalsJeffH commented on #184
see also #743

[2018-01-11 17:49] samuelweiler opened #744 "User consent for location extension"
The location extension needs user consent.  This is mentioned briefly in section 11.2.  It should also be mentioned in both the definition section (10.7) and security considerations.

[2018-01-11 23:14] equalsJeffH commented on #733
Ok, thx, some questions in return:
1. by which process milestone (CR, PR, REC) do we need to have accessibility issues addressed?
2. have you found additional accessibility issues other than the three noted above in https://github.com/w3c/webauthn/issues/733#issue-284217842 ?  (please submit issues if so)

[2018-01-12 16:33] #543 closed

[2018-01-12 17:24] equalsJeffH commented on #715
I note, in arrears (apologies), that PR #740 does not seem to address everything that @jcjones and @emlun were discussing adding to the spec in https://github.com/w3c/webauthn/issues/715#issue-280161012 and https://github.com/w3c/webauthn/issues/715#issuecomment-350019689

-- i.e., adding one (or more) **Note:** in some appropriate place(s) that refer back to the newly-added [#conforming-authentic

[2018-01-12 18:29] emlun commented on #715
I'd like to note that with #730 merged, the need is lesser than it was at the time of my previous comment. [`AuthenticatorAssertionResponse.userHandle`][uh] is now nullable, so it's no longer weird that "the user handle is required, except when it isn't"; and both authenticator and client algorithms now specify excplicitly when to return null for the user handle ([§5.1.4.1 step 18.3][uhnull], [§6.

[2018-01-12 21:38] jcjones commented on #715
Yeah, I agree with  @emlun; I went through the relevant sections of the doc when I was writing that PR, and I think this is all we needed. Open to other interpretations, certainly, though!

[2018-01-12 22:08] equalsJeffH opened #745 "U2F Attestation Statement Format does not define "self attestation" steps"
The U2F Attestation Statement Format does not define steps for performing "self attestation", which e.g. [is done in the packed attestation stmt format section](https://w3c.github.io/webauthn/#ref-for-self-attestation%E2%91%A0%E2%91%A1).

[2018-01-12 23:35] equalsJeffH opened #746 "attestation type identifiers and their use is only implicitly defined"
all [defined attestation formats](https://w3c.github.io/webauthn/#defined-attestation-formats) contain, in their [verification procedure](https://w3c.github.io/webauthn/#verification-procedure), a statement of this form:

However, [attestation type](https://w3c.github.io/webauthn/#attestation-type) identifiers are only implicitly defined is the above-cited statements. [note also: the term "attesta

[2018-01-15 09:51] emlun commented on #746
The verification procedures are run wholly within the RP, and the RP can determine the attestation type from the contents of the attestation, so any representation of the attestation type would be used only internally by the RP. Thus there's no need for strictly defined identifiers (because the RP would be both the creator and the consumer of the "returned attestation type") or matching rules for

[2018-01-17 13:51] JohnRochfordUMMS commented on #733
@equalsJeffH

1. I don't know. A W3C staff member will have to guide us.
2. I do not now recall additional accessibility issues. I may once we start working together.

[2018-01-17 15:46] wseltzer commented on #733
Re Q1, at transitions, including to CR, the Director reviews whether all open issues have been formally addressed (see https://www.w3.org/Guide/transitions?profile=CR&cr=new ).

[2018-01-17 16:52] nadalin commented on #744
@selfissued  As you look at the security considerations section can you add this

[2018-01-17 16:54] nadalin commented on #743
@selfissued Please look at this as you worth through the Security Considerations section

[2018-01-17 16:55] agl opened #748 "Security considerations section has some areas deserving of more consideration."
In PR #705, I had [several comments](https://github.com/w3c/webauthn/pull/705#pullrequestreview-84938008) about the current wording of the security considerations. However, Jeff noted that he was just moving the text. On the 2018-01-10 call I was asked to file this bug.

I expect to make this bug more concrete with a PR soon.

[2018-01-17 16:58] agl opened #749 "PING suggest referencing the FIDO 100k batch requirements"
During the PING conference call of 2018-01-11, PING suggested that we reference the FIDO batch requirements.

[2018-01-17 17:01] emlun commented on #184
I believe this can be closed now that #687 is merged.

[2018-01-17 17:07] bzbarsky opened #750 "`CredentialRequestOptions` make otherwise valid values invalid in an undesirable way"
**23-Jul-2018 NOTE: see STATUS SUMMARY here:** https://github.com/w3c/webauthn/issues/750#issuecomment-407238236

----
https://w3c.github.io/webauthn/#credentialrequestoptions-extension has:

    partial dictionary CredentialRequestOptions {
        PublicKeyCredentialRequestOptions      publicKey;
    };

and [`PublicKeyCredentialRequestOptions`](https://w3c.github.io/webauthn/#dictdef-publickeyc

[2018-01-17 17:28] gmandyam commented on #744
This issue has essentially been opened and closed before - see https://github.com/w3c/webauthn/issues/208.  I would recommend closing this issue, and address the fundamental topic in a PR to address https://github.com/w3c/webauthn/issues/133.

[2018-01-17 18:01] equalsJeffH commented on #748
Will the PR address all the separate things you noted in PR #705 ?   I.e., does this issue #748 represent all [of those comments](https://github.com/w3c/webauthn/pull/705#pullrequestreview-84938008) ?

[2018-01-17 18:02] equalsJeffH commented on #748
assigning @agl given his statement of intent to work on this. thx :)

[2018-01-17 18:06] equalsJeffH commented on #749
s/batch requirements/privacy principles/ ?  if so then is this a duplicate of issue #742 ?

[2018-01-17 18:13] agl commented on #749
We can obviously decide whether we actually want to do this, but the request that I noted down from the phone call was to reference the batch requirements for attestation certificates specifically. The FIDO Privacy Principles document doesn't seem to contain that.

[2018-01-17 18:24] nadalin commented on #133
@gmandyam will create PR

[2018-01-17 18:26] nadalin commented on #184
@emlun please close

[2018-01-17 18:35] emlun commented on #184
Decided on 2018-01-17 call to close this. With #655 and #687 merged, and #613 in progress, this should no longer be an issue.

Previously the operations would check at one instant what authenticators are available, ask the user for consent if any are applicable, or otherwise immediately return failure. Currently, the operations start a timer and do not return failure before the timeout expires.

W

[2018-01-17 18:35] #184 closed

[2018-01-17 18:41] jcjones commented on #715
In call on 17 January we agreed that this is indeed resolved by the updates from #730 per https://github.com/w3c/webauthn/issues/715#issuecomment-357317394 and this can be closed.

[2018-01-17 18:41] #715 closed

[2018-01-17 18:51] emlun commented on #713
Decided on 2018-01-17 call to close this. Since 7.1 and 7.2 are the RP operations, it would be confusing to have these operations refer to Infra for instance. Since the RP operations need to be platform agnostic, there's value in keeping them not too strictly defined.

[2018-01-17 18:57] equalsJeffH commented on #743
Fixing #204 will close this issue unless we think of other means RPs might use to de-anonymize users.

[2018-01-17 18:57] #744 closed

[2018-01-17 19:14] equalsJeffH commented on #750
we discussed this on [17-Jan-2018 webauthn call](https://www.w3.org/2018/01/17-webauthn-minutes.html). This requires some thought and reading-up on https://github.com/heycam/webidl/issues/76.

During the discussion, we noted that we _could_ nominally remove the "required" stipulation for `PublicKeyCredentialRequestOptions.challenge`, and note in spec prose that if one does not pass in a challenge

[2018-01-17 19:48] bzbarsky commented on #750
More precisely, "a resolution".  Whether that's what ends up happening in the webidl spec is unclear at this point.

[2018-01-18 01:02] #725 closed

[2018-01-18 05:35] annevk commented on #713
FWIW, I object to this resolution. You do actually need to define this in detail. E.g., we don't want some platforms to support other encodings than UTF-8 here, we need all of them to strip a leading BOM, if any.

[2018-01-18 12:20] emlun commented on #713
Those are good points, perhaps @selfissued, @equalsJeffH and/or someone else (@agl, @jcjones?) should take another look at this.

[2018-01-18 16:40] nadalin commented on #749
@agl I think there is no harm as long as this is guidance, and this is not a duplicate of #472 so I think we should just do this

[2018-01-18 17:34] equalsJeffH commented on #748
@agl: Is this a CR milestone item or PR ?

[2018-01-18 17:36] equalsJeffH commented on #738
this issue is essentially un-triaged (no assignee, no milestone) -- at least which milestone do we feel it ought to be assigned to?

[2018-01-18 18:05] equalsJeffH commented on #750
this issue is essentially un-triaged (no assignee, no milestone) -- at least which milestone do we feel it ought to be assigned to?

[2018-01-18 23:35] selfissued commented on #738
I'll take a stab at this at the same time as the other extensions work.

[2018-01-19 16:29] samuelweiler commented on #594
adding a completely inappropriate privacy-cons label for testing purposes.  Nothing to see here; move along.  (But please leave the label here for now.)

[2018-01-19 18:32] equalsJeffH commented on #184
Actually, in reviewing this and issue #204 and the the PRs  #655, #687, #613 (mentioned by @emlun [above](https://github.com/w3c/webauthn/issues/184#issuecomment-358399791)), I agree that the "If I call getAssertion() with a whitelist..." portion of @hillbrad's [original post (OP)](https://github.com/w3c/webauthn/issues/184#issue-172995756) is addressed (yay!).

However, it seems that in closing t

[2018-01-19 19:02] equalsJeffH commented on #613
per investigating issues #204, #184, PRs #655 #687 -- i've updated @jcjones [comment above](https://github.com/w3c/webauthn/issues/613#issuecomment-343273096) with: "PR #655 addressed at least a portion of this issue, though this needs to remain open since..."

[2018-01-19 21:03] emlun commented on #184
See my response in https://github.com/w3c/webauthn/pull/687#issuecomment-359087435

[2018-01-19 21:42] equalsJeffH commented on #204
A portion of this issue was fairly recently addressed by PR #651 which formalized the language for matching the items in the [`excludeCredentialDescriptorList`](https://w3c.github.io/webauthn/#op-make-cred) such that an RP can only probe for existing credentials that are mapped to itself.

This seems to me to address a portion of @yaronf's suggestion of:

..in that we no longer have a notion of "a

[2018-01-19 23:03] equalsJeffH commented on #204
Ok, it seems I was missing something, given @emlun's [detailed analysis above](https://github.com/w3c/webauthn/pull/687#issuecomment-359087435), _I **am** missing something_ :)

Given said analysis, it seems this issue #204 is addressed and we can close it with no action -- WDYT?

[2018-01-20 00:24] emlun commented on #204
I agree we should be able to close the `excludeCredentials` issue. It should be fixed by #687, although as @equalsJeffH [points out](https://github.com/w3c/webauthn/pull/687#issuecomment-359051421) we should also mention `makeCredential` in the Privacy Considerations subsection.

On the topic of prompting for consent, both authenticator operations specify that consent MUST always be obtained (via

[2018-01-20 00:57] equalsJeffH commented on #204
@emlun

Oh yeah huh, thx for catching that. I'll endeavor to address it.  So not closing this just yet.

[2018-01-22 17:19] emlun opened #753 "RP assertion algorithm does not say to validate the credential ID"
The [RP algorithm for verifying an assertion][rp-assert] currently makes no mention of verifying that `credential.id` and `credential.response.userHandle` actually have expected values. If an RP does not check this, the following attacks could be possible:

Scenario 1: Second factor mode

1. Eve phishes Bob for his username and password, but fails to obtain his public key credential `bob1234`
2. E

[2018-01-22 18:44] selfissued commented on #645
This is not actionable without a PR.  @equalsJeffH - do you plan to create one soon - ideally during this week's FIDO plenary?

[2018-01-23 21:57] ve7jtb opened #757 "Aligning PublicKeyCredentialUserEntity with CTAP"
Sec 5.4 lists id, displayName, and name

Sec 5.4.3 only lists id and displayName as required in the dictionary.

Should name be optional?

The CTAP spec states
This PublicKeyCredentialUserEntity data structure describes the user account to which the new public key credential will be associated at the RP. It contains an RP-specific user account identifier, (optionally) a user name, (optionally) a u

[2018-01-23 22:20] selfissued commented on #757
5.4.3 https://w3c.github.io/webauthn/#sctn-user-credential-params defines PublicKeyCredentialUserEntity, which is a derived class that inherits from PublicKeyCredentialEntity, which is defined in 5.4.1 https://w3c.github.io/webauthn/#dictdef-publickeycredentialentity.  "name" is required in PublicKeyCredentialEntity.  "id" and "displayName" are required in PublicKeyCredentialUserEntity.  Therefore

[2018-01-23 23:03] selfissued commented on #658
@equalsJeffH if you don't have time to write this note this week, please let me know where you think the note should go and I'll then create a PR.  Note that this step presently occurs in two places:
  - In 5.1.3 Create https://w3c.github.io/webauthn/#createCredential step 20.
  - In 5.1.3 Get https://w3c.github.io/webauthn/#getAssertion step 18.

Should the note occur in both of these locations a

[2018-01-24 00:41] selfissued commented on #133
@gmandyam can you please create the PR today or tomorrow morning so we can review it during the FIDO 2.0 meeting tomorrow?  Thanks.

[2018-01-24 01:46] equalsJeffH commented on #645
yes i plan to "create one soon" but meeting(s) I'm participating in have priority.

[2018-01-24 02:20] equalsJeffH commented on #658
see PR #760

[2018-01-24 02:26] equalsJeffH commented on #610
[[TCG-CMCProfile-AIKCertEnroll]] is now in specref, next step is to write the text in webauthn referencing it appropriately wrt Attestation CA / Privacy CA.

[2018-01-24 02:30] equalsJeffH commented on #647
see issue #610, of which this is a duplicate. closing this one.

[2018-01-24 02:30] #647 closed

[2018-01-24 02:31] equalsJeffH commented on #610
changing to CR milestone since this issue supersedes issue #647 which was at CR.

[2018-01-24 03:38] equalsJeffH commented on #610
see PR #762

[2018-01-24 10:29] emlun commented on #757
I agree with @selfissued. For the record, whether these fields should be required or optional was recently discussed in #666, starting here: https://github.com/w3c/webauthn/pull/666#issuecomment-354509798 . The conclusion of that discussion was (https://github.com/w3c/webauthn/pull/666#issuecomment-354807455) that changing that would be a breaking change which we shouldn't do at this time.

[2018-01-25 00:28] selfissued commented on #346
This design is being used as part of addressing #626 and #738

[2018-01-25 20:45] subyraman opened #764 "providing info about authenticator availability / attachments"
Apologies if some of these usability issues have been answered already. In trying to develop with the spec I'm feeling that it doesn't provide granular information that would be very useful for providing users with an easy authentication workflow. There seems to be no information around:

- if authenticators are available for registration
- if those authenticators are enrolled with the relying par

[2018-01-26 05:44] #565 closed

[2018-01-26 05:45] #570 closed

[2018-01-26 05:47] #753 closed

[2018-01-26 06:08] selfissued commented on #746
Where in the spec where you thinking that the list of types should reside, @equalsJeffH ?  Do you agree that this is a strictly editorial indexing exercise?

[2018-01-26 06:10] selfissued commented on #749
@agl where do you want this reference to be and what do you want it to say?  I'll create a PR to add it if I know what to write.

[2018-01-26 06:13] #742 closed

[2018-01-26 06:29] selfissued commented on #204
Where do we stand on finishing this?

[2018-01-26 06:30] selfissued commented on #372
@akshayku Where do we stand on finishing this?  This is in the CR milestone.

[2018-01-26 10:28] emlun commented on #764
Thanks for the questions. There are two main reasons for why these pieces of information are not available. First, due to privacy considerations we have chosen to explicitly forbid clients from making it possible for an RP to silently determine what credentials the user owns. Second, the spec is written to support an asynchronous "hot-plugging" interaction flow where the user can plug in authentic

[2018-01-26 16:23] #394 closed

[2018-01-26 20:32] apowers313 opened #768 "Packed Attestation & Certificates"
cc: @Geoffrey-Li @rlin1

During the WebAuthn informal interop two questions came up about [packed attestation certification requirements](https://w3c.github.io/webauthn/#packed-attestation-cert-requirements):

1. Should the Organizational Unit (OU) be a string literal `"Authenticator Attestation"`?
2. What is the format of the AAGUID in `id-fido-gen-ce-aaguid`? Hex?

[2018-01-26 21:09] agl commented on #768
I would say:

1) Yes, as a UTF8String
2) ASN.1 OCTET STRING

If nobody disagrees, I can clarify the above.

[2018-01-26 22:43] #748 closed

[2018-01-26 22:51] nadalin commented on #757
@selfissued  so can we close this ?

[2018-01-26 23:05] #749 closed

[2018-01-26 23:06] selfissued commented on #757
After review, it appears that there isn't an actual problem here.

[2018-01-26 23:06] #757 closed

[2018-01-29 15:45] subyraman commented on #764
@emlun thank you so much for your very detailed answer and all the context around these decisions! This provides a lot to read and I'm still working through it, much appreciated.

I'm somewhat curious what the expected workflow for developers and users would be around the scenarios I asked. I realize that the specification is a draft so it might be difficult to answer, but what should developers d

[2018-01-30 06:43] apowers313 opened #770 "Processing extensions as JSON"
`AuthenticatorExtensions` are [defined as](https://www.w3.org/TR/2017/WD-webauthn-20171205/#typedefdef-authenticationextensions) an array of strings, presumably stringified JSON.

Extensions talk about processing JavaScript object,  such as the processing described in the [example extension](https://www.w3.org/TR/2017/WD-webauthn-20171205/#sctn-example-extension).

No mention is ever made of parsi

[2018-01-30 16:13] agl commented on #770
This has been one of the large, outstanding items and I believe that #765 should sort it out when landed.

[2018-01-30 16:34] apowers313 commented on #770
Agreed. I think this is the inverse / preceding operation to #713.

[2018-01-30 19:52] equalsJeffH commented on #204
it is in my queue...

[2018-01-30 22:50] #768 closed

[2018-01-31 17:55] selfissued commented on #738
I will create a PR for this once #765 is merged.  #765 already cleaned up a lot of the sloppy definitions that would have caused problems doing this.

[2018-01-31 18:27] #610 closed

[2018-01-31 18:34] #346 closed

[2018-01-31 18:34] #626 closed

[2018-01-31 18:36] gmandyam commented on #133
Addressed through https://github.com/w3c/webauthn/pull/771

[2018-01-31 18:46] jcjones commented on #745
This may not be necessary since 'self attestation' doesn't exactly translate for U2F devices.

[2018-01-31 18:47] agl commented on #745
Unclear if this will be used. In practice, I don't know of any U2F tokens that do self-attestation via an X.509 certificate. It _is_ possible that a soft-token could do this, but a soft-token could also return a webauthn self attestation directly, rather than going via U2F.

[2018-01-31 18:54] equalsJeffH commented on #746
@selfissued

yes.

[2018-01-31 18:57] selfissued commented on #746
Can you create a PR for this, @equalsJeffH ?  Then I'll review.

[2018-01-31 19:04] selfissued commented on #713
I will write a PR addressing the rest of this issue shortly.

[2018-01-31 19:04] selfissued commented on #738
I will write a PR addressing the rest of this issue shortly.

[2018-01-31 19:12] emlun commented on #713
@selfissued Would you like me to salvage some of the changes from #718?

[2018-01-31 19:17] selfissued commented on #713
A lot of the problem here is that it's talking about JSON at all, whereas the data structures we're serializing from and into are JavaScript.  It makes a difference, because for instance, In JavaScript you can have ArrayBuffers to represent byte arrays, which serialize naturally into CBOR.  I plan to root out the incorrect uses of "JSON" when what was actually meant was "JavaScript".

If there are

[2018-01-31 19:34] emlun commented on #713
It's worth noting that the occurrences @annevk mentions are in the RP operations and act on the _serialized client data_, which is explicitly a `CollectedClientData` (whose fields are all JSON serializable) serialized to JSON, so I think it should be fine to talk about JSON there as it'll not necessarily run in a browser.

The changes in #718 do solve this, I think, but instead have the issue that

[2018-01-31 19:40] selfissued commented on #713
I agree @emlun that these distinctions matter.  If you want to contribute text towards addressing these issues, by all means, please do.

[2018-02-01 06:56] annevk commented on #713
@emlun requirements can always be implemented in any manner, as long as the end result is the same. So that should not matter in theory.

[2018-02-04 19:15] apowers313 opened #773 "Rename MakePublicKeyCredentialOptions?"
I realize this is late in the game, but can we rename `MakePublicKeyCredentialOptions` to `PublicKeyCredentialCreateOptions` so that it matches the naming conventions of [other APIs](https://developer.mozilla.org/en-US/docs/Web/API)? It's just a dictionary (not an interface), so hopefully it would be an easy change...

[2018-02-05 16:09] emlun commented on #713
Ok. The substantive changes proposed in #718 look like this: https://github.com/emlun/webauthn/pull/1 , branching from #752. @selfissued should I submit that as a PR?

[2018-02-05 17:26] emlun commented on #764
So if I understand you correctly, your main concerns here are:

 1. As a RP, how do I detect if the user has an authenticator they haven't registered with me, so I can ask them if they want to register it?
 2. As a RP, how can I guide the user through the registration process?

Here are my thoughts on (1) in a few scenarios:

- **Scenario 1: The user has an external authenticator.**

  In this cas

[2018-02-05 17:51] emlun commented on #764
Ah, I did indeed miss at least one thing:

This probably does require some guesswork and/or workarounds using cookies or browser storage, I think.

For what it's worth, you can let your guesswork be informed by some timing information. While the API won't let you draw any definite conclusions (again, because of privacy concerns), you could probably guess that if the `credentials.get()` takes more

[2018-02-06 00:10] apowers313 opened #774 "s/CTAP canonical CBOR/CTAP2 canonical CBOR/g"
The next version of the CTAP specifications will change the term `CTAP canonical CBOR` to `CTAP2 canonical CBOR`. WebAuthn specs should be updated accordingly.

[2018-02-06 01:07] #694 closed

[2018-02-06 02:09] selfissued commented on #774
Can you please create a PR doing this, @apowers313 ?

[2018-02-06 02:29] selfissued commented on #773
I will create a PR to do this unless I hear objections.

[2018-02-06 02:30] selfissued commented on #773
@apowers313 are there any other names that are similarly inconsistent in this way?  If so, please name them now.  It's getting pretty late to be making changes of this nature.

[2018-02-06 02:30] nadalin commented on #773
@selfissued Please create PR and we will discuss

[2018-02-06 09:01] emlun commented on #773
One other case of inconsistent names is the fields of [`PublicKeyCredentialEntity`][pkce] and its subclasses, as discussed in #646. It was then decided not to do that breaking change so close to CR.

[pkce]: https://w3c.github.io/webauthn/#dictionary-pkcredentialentity

[2018-02-06 12:30] emlun opened #775 "§9.5. "Authenticator extension processing" is ambiguous"
As discussed in #724, [§9.5. Authenticator extension processing][sec] could use a revision to make it less ambiguous.

This section can be interpreted as both of the following:

- The authenticator extension inputs as a whole is a CBOR map, where the values are not necessarily maps.
- Each value in the authenticator extension inputs is a CBOR map.

[sec]: https://w3c.github.io/webauthn/#sctn-authe

[2018-02-06 16:59] selfissued commented on #775
The meaning is already clear - that the authenticator extension input value is the map value (with the extension identifier being the map key).  It doesn't say that the authenticator extension input value is a map - just that it's CBOR.  But if you want to make this even clearer, please create a PR and I'll review it.

[2018-02-06 17:02] #658 closed

[2018-02-06 18:10] equalsJeffH commented on #204
see PR #777

[2018-02-06 18:50] emlun commented on #775
I'd argue that the confusion in #724 is evidence the meaning is not clear enough.

PR #776 is an attempt to fix this.

[2018-02-06 18:59] equalsJeffH commented on #745
hm.  I suppose we could simply delete "Self Attestation" from the **Attestation types supported** list in [8.6. FIDO U2F Attestation Statement Format](https://w3c.github.io/webauthn/#fido-u2f-attestation) .  WDYT?

If we do not do that, we might be able to refer to the **_packed_** attstn format section for how to deal with self attestation, however, self attestation is signaled therein by an empt

[2018-02-06 19:51] emlun commented on #745
Well, _technically_ self attestation is just a special case of basic attestation with an anonymous attestation public key. So everything an authenticator needs to do for self attestation is also possible as a basic attestation - you just have to jump through a few more hoops to do it, which all U2F authenticators necessarily do already because U2F only supports x5c certificates for delivering the

[2018-02-06 22:15] equalsJeffH commented on #746
see PR #780

[2018-02-06 22:54] selfissued commented on #133
Can this be closed now that #771 has been merged?

[2018-02-06 22:59] selfissued commented on #713
Yes, @emlun - please create a PR for this along the lines of the changes in https://github.com/emlun/webauthn/pull/1/files.  Thanks!

[2018-02-06 23:05] selfissued commented on #770
I believe that #765 addressed this and this issue should therefore be closed.  Note that the AuthenticatorExtensions type is gone entirely, replaced by strongly typed JavaScript data structures for each extension.

[2018-02-07 06:07] apowers313 commented on #774
@selfissued see PR #783

[2018-02-07 13:11] rlin1 opened #784 "Images not visible in published spec"
on https://www.w3.org/TR/webauthn/

the image URL in the document is (for example) "images/fido-signature-formats-figure1.svg"
The image file at this time exists under https://www.w3.org/TR/webauthn/fido-signature-formats-figure1.svg

[2018-02-07 16:16] #746 closed

[2018-02-07 16:20] #745 closed

[2018-02-07 17:28] akshayku commented on #372
@selfissued I will definitely try to do it this week.

[2018-02-07 17:30] #713 closed

[2018-02-07 17:40] rlin1 opened #786 "reference TCG-CMCProfile-AIKCertEnroll missing."

[2018-02-07 17:41] rlin1 commented on #786
see branch add-tcg-cmcprofile-ref

[2018-02-07 17:45] equalsJeffH commented on #645
fixed by PR #645

[2018-02-07 17:45] #645 closed

[2018-02-07 17:46] nadalin commented on #775
@selfissued Do you agree with @emlun or do you still think it if finer as is ?

[2018-02-07 18:03] equalsJeffH commented on #775
@selfissued has approved the related PR #776

[2018-02-07 18:13] #204 closed

[2018-02-07 18:14] #774 closed

[2018-02-07 18:16] #133 closed

[2018-02-07 18:19] selfissued commented on #738
Mike will write a PR and ask @agl and @equalsJeffH to review it.

[2018-02-07 18:25] rlin1 commented on #786
try running "bikeshed update"

[2018-02-07 18:25] #775 closed

[2018-02-07 18:26] #773 closed

[2018-02-07 18:28] rlin1 commented on #786
bikeshed update that worked.

[2018-02-07 18:28] #786 closed

[2018-02-08 03:12] akshayku commented on #372
Finally I got to look at this issue and the reason why those fields are missing is because those fields are not really actionable in itself. We are ignoring all these fields.

QualifiedSigner and clockInfo don't really have to be checked and normal consumption of these attestation in the fields usually ignore it. Similarly firmware version is something that we cannot give guidance on which one to

[2018-02-08 06:50] selfissued commented on #372
Thanks for doing this analysis, @akshayku .  Can you please write a PR that puts this analysis in a note in an appropriate place in the spec so that this rationale is made available to readers and implementers of the specification?  That should let us close this issue out.  Thanks.

[2018-02-08 14:29] akshayku commented on #372
Opened #791

[2018-02-08 16:21] gmandyam commented on #372
I believe https://github.com/w3c/webauthn/pull/791 is very helpful and clarifies the TPM verification procedures.  I am in favor of merging the PR and closing this issue.

[2018-02-09 00:13] #372 closed

[2018-02-09 17:13] equalsJeffH opened #792 "reference "UTF-8 decode" directly rather than "parse JSON from bytes""
we recently insterted:

However, this is most likely invoked RP-server-side, and is JS-specific (as we discussed).  I'm thinking we can make it implementation-non-specific by referencing https://encoding.spec.whatwg.org/#utf-8-decode, which is what [parse JSON from bytes](https://infra.spec.whatwg.org/#parse-json-from-bytes)  does in any case, and indicating that any impl is fine as long as the en

[2018-02-09 17:29] emlun commented on #792
I agree with making it not JS specific. Just note that this is not only UTF decoding, but also JSON parsing after that.

[2018-02-09 17:37] equalsJeffH commented on #792
ah, yes, will update PR accordingly

[2018-02-09 23:04] #668 closed

[2018-02-10 19:09] #792 closed

[2018-02-12 18:01] equalsJeffH commented on #712
AFAICT this issue refers to the dfn of [JSON-serialized client data](https://w3c.github.io/webauthn/#collectedclientdata-json-serialized-client-data) in [5.10.1. Client data used in WebAuthn signatures (dictionary CollectedClientData)](https://w3c.github.io/webauthn/#sec-client-data), yes?

If so, I agree with @emlun's https://github.com/w3c/webauthn/issues/712#issuecomment-349979258 above.

[2018-02-12 18:43] equalsJeffH opened #794 "hardcoded step refs in #registering-a-new-credential are incorrect"
looks like we didn't get 'em correct when merging pr #793

[2018-02-12 20:24] #738 closed

[2018-02-12 21:57] emlun opened #796 "Ensure hard-coded step references in RP ops are correct"
See #794, #747. Do a final pass over the RP ops before publishing to ensure these step references are correct.

- [ ] Registration
- [ ] Assertion

[2018-02-12 21:59] emlun opened #797 "Ensure hard-coded step references in RP ops are correct"
See #794, #747, #796. Do a final pass over the RP ops before publishing to ensure these step references are correct.

- [x] Registration
- [x] Assertion

[2018-02-12 22:14] nadalin commented on #106
@wseltzer We have initiated the system wide review for this draft, so moving this to PR now

[2018-02-12 22:50] #794 closed

[2018-02-12 22:52] kpaulh opened #798 "TokenBindingId value doesn't permit the U2F "unused" value"
Currently the WebAuthn spec defines the TB ID as just a base64url value. This does not allow for a sentinel value that indicates that the "client supports token binding, but did not use it because server claimed no support". This value was called "unused" in U2F.

Working on a PR to rectify this.

I'm sorry this went unnoticed until now. I don't think anyone else supports TokenBinding yet (?) and

[2018-02-12 22:54] equalsJeffH commented on #784
we had this difficulty at least once before, and had it fixed, though I cannot find the relevant msgs/postings

[2018-02-12 23:04] kpaulh commented on #798
To expound some more:

The presence of the TokenBindingId indicates that the client and server negotiated and is using Token Binding, and the RP can use the ID to detect a MITM.

The absence of the TokenBindingId, however, doesn't permit the RP to distinguish between these two cases:
- the client supports token binding but did not negotiate it with the server because the server does not support it

[2018-02-13 13:29] emlun commented on #798
Seems reasonable to me. I agree with making it a separate property instead of a magic value.

If we rename the `CollectedClientData` property from `tokenBindingId` to `tokenBinding`, we could call the `TokenBinding` property just `id` instead of `tokenBindingId`.

`status: "present"` seems a bit redundant, since that would be implied if the `tokenBindingId` property exists. So perhaps it could eve

[2018-02-13 13:34] emlun commented on #712
@annevk is @equalsJeffH's assessment correct?

[2018-02-13 15:02] kpaulh commented on #798
We did consider that reduction of the status, but were thinking that the discrete states would be clearer and reduce misunderstanding. I think `tokenBindingId` -> `id` is a good change, though. Thanks!

[2018-02-13 15:39] herrjemand opened #799 "Signature format needs to be defined"
So currently we are only telling that you need to produce signature, but what format to provide it in we don't

Proposing adding requirement that signature must be DER encoded

[2018-02-13 16:22] gmandyam opened #800 "Revert location extension back to approved PR's"
Somehow during the recent merges, approved changes to the location extension were eliminated from the current editor's draft (as of Feb. 12):  see https://w3c.github.io/webauthn/#sctn-location-extension and compare to https://pr-preview.s3.amazonaws.com/w3c/webauthn/695/12f2d09...gmandyam:a4fe0fa.html#sctn-location-extension and latest WD https://www.w3.org/TR/webauthn/#sctn-location-extension.

[2018-02-13 16:35] agl commented on #799
The signature format is defined by the algorithm of a key, which is specified [in the &ldquo;alg&rdquo; parameter](https://w3c.github.io/webauthn/#sec-attested-credential-data) during registration. So, for example, the [newly registered](https://w3c.github.io/webauthn/#sctn-cose-alg-reg) RSA algorithms won't have a DER signature, but rather a big-endian RSA group element because that's what [8017

[2018-02-13 18:59] herrjemand commented on #799
@agl Good point. Thanks for clarification

[2018-02-14 07:05] selfissued commented on #800
PR #789 intentionally corrected the former misalignment between the W3C Geolocation API and the location extension.  Now they use the same JavaScript representations and an equivalent CBOR representation.  The premise of this issue is faluse.  It needs to be closed with no action taken.

[2018-02-14 14:29] gmandyam commented on #800
@selfissued

Disagree with this argument, and PR 789 should not have addressed such an issue without discussion on the lists.

Previous approved PR added CDDL representation - see https://github.com/w3c/webauthn/pull/695.  PR 789 eliminated it.  This is not consistent with https://github.com/w3c/webauthn/issues/679.

If there was a concern about inconsistency with the W3C Geoloc Pos object and the

[2018-02-14 17:10] selfissued commented on #800
There were two serious problems with the previous CBOR for the extension.  First, the required and optional fields were different than those for the W3C Geolocation API Coordinates data structure.  Second, its CBOR representation was an array, whereas the Coordinates data structure is a JavaScript object - not an array.  This means that a custom transformation would be required to support the exte

[2018-02-14 17:32] gmandyam commented on #800
There is a misunderstanding as to the source of the data that populates the location extension.  As an example, see the discussion in on whether accuracy should be included in https://github.com/w3c/webauthn/pull/157.  The location extension was not meant to correspond 1-1 with the Geoloc. position object.

[2018-02-14 17:35] agl commented on #798
Kim is out at the moment so I did something that I hope is correct in #802.

[2018-02-14 18:22] equalsJeffH commented on #799
re-opened given discussion on webauthn call today Wed 14-Feb-2018

[2018-02-14 18:31] nadalin commented on #80
@equalsJeffH will clean up dups

[2018-02-14 18:32] nadalin commented on #85
@equalsJeffH will verify and close if OK

[2018-02-14 18:51] wseltzer commented on #373
Since we're making nominative references, I don't have legal worries.

[2018-02-14 19:11] akshayku commented on #799
Microsoft has also implemented same as Firefox and Chrome which is same for CTAP1 and CTAP2 devices. No change required. Closing this.

[2018-02-15 01:40] agl opened #803 "agl doesn't understand extensions"
(This is just a request for clarification to @selfissued, but I'm writing it as an issue in case it ends up being helpful for others to see it.)

In the course of implementing the `appid` extension, I hit a few points where my understanding is deficient:

Why are the client inputs contained in the [CollectedClientData](https://w3c.github.io/webauthn/#sec-client-data)? I see that the RP could learn

[2018-02-15 02:42] selfissued commented on #800
The previous location extension definition used the Geolocation API Coordinates data type, but didn't satisfy its requirements (especially by not providing data for a required member).  That would never pass muster in W3C-wide review.  The new text will.  If we want to add a note to implementers about interpretations of and use of the "accuracy" field post-CR, we can do that.

I didn't file a sepa

[2018-02-15 08:41] emlun commented on #712
I believe we can close this.

[2018-02-15 11:46] emlun commented on #803
This was discussed in #624. The premise for that discussion could be out of date at this point, though.

[2018-02-15 16:27] equalsJeffH commented on #784
per the OP https://github.com/w3c/webauthn/issues/784#issue-295132212 the problem here is that the image svg files apparently did not land in an `images` subdirectory relative to the spec's directory.  rather, they landed in the spec's directory.

ostensibly, all that needs to happen to fix this is to create such a directory and put the *.svg image files in it.

It appears this problem presently a

[2018-02-15 16:51] agl commented on #803
Thanks for the history. Since `AuthenticationExtensionsClientOutputs` is no longer a record, it may be that quirk is now vestigial.

[2018-02-15 17:03] selfissued commented on #803
@agl since I'm not a JavaScript expert, can you write down exactly what current source text you are proposing to change to what different source text?  You clearly have a specific change in mind.

[2018-02-15 17:12] agl commented on #803
I don't have any specific change in mind, I just implemented support for `appid` yesterday and realised that I don't understand the reason for a lot of the current behaviour. For example, what bad thing can happen if RPs don't check the that the extensions in the CollectedClientData are a subset as they're supposed to? Since the empty set is a subset, can Chrome just leave these things empty and e

[2018-02-15 17:16] selfissued commented on #803
Sorry - I should have been clearer in my request.  You seemed to want to change the syntax of `getClientExtensionResults` in some way.  What was the specific syntax change you had in mind for it?

[2018-02-15 17:34] agl commented on #803
It appears that the function-like nature of `getClientExtensionResults` is no longer needed and that we may be able to embed a `AuthenticationExtensionsClientOutputs` attribute in `PublicKeyCredential` now. Although that is a minor point and a technical, Javascript question that I'm not well placed to have an opinion on.

The main thrust is that, while implementing an extension, I have found that

[2018-02-15 18:12] apowers313 commented on #799
Just for the sake of clarity, "the same as FF and Chrome" is ASN.1 / DER encoding the signature?

[2018-02-15 18:13] gmandyam commented on #800
@selfissued

OK - I see what the problem was in my original proposal.  Thank you very much for the explanation.  We can add the note on accuracy later.

Before I close the PR and this issue, I had a couple of questions:

a) The Geoloc coordinates object is a [NoInterfaceObject] - see https://heycam.github.io/webidl/#NoInterfaceObject.  Can this appear in Client Extension Output?  If not, maybe it

[2018-02-15 18:17] agl commented on #799
(I'm going to double-check that Chrome and Firefox are using ASN.1 DER (i.e. RFC 3279) encoding today.)

[2018-02-15 18:21] apowers313 commented on #799
@agl if I understand your comments above ANS.1 DER encoding would be different than what is currently specified (i.e. - concatenating bytes together), is that right? Should we change the spec to reflect how people are actually encoding the signature field?

[2018-02-15 18:22] akshayku commented on #799
We should put some examples for clarity.

[2018-02-15 18:29] agl commented on #799
I'm not sure that I'm following the specifications correctly, but my best estimate is that the "correct" behaviour is to follow the COSE spec and just concatenate r & s. However, if all three current implementations independently got it "wrong", I consider that strong evidence that we should specify what is clearly the more obvious behaviour.

[2018-02-15 18:33] selfissued commented on #800
Thanks for discussing this @gmandyam .

For (a), I don't think the NoInterfaceObject attribute is a problem in this context where it's just being used as a data structure, but others who are experts in JavaScript might want to weigh in.

For (b), yes, CDDL is unnecessary because there's an unambiguous transformation between the JavaScript data structure and the CBOR data structure.

[2018-02-15 18:34] apowers313 commented on #799
Maybe @jimsch could clarify that our reading of the COSE spec is correct?

[2018-02-15 18:36] akshayku commented on #799
Sample Ecc Signature:

"sig": h'3045022100d43908065193a1bf82a46e5db5e216fcfcb238a98d5ba00f62d59d45d3e46b4602203330d72eaea09786687e1e1b4875df94d1d430ec0998316320fda27d3a38a897'

@agl which particular line/section has this confusion in WebAuthN Spec.

[2018-02-15 18:36] selfissued commented on #799
I agree with @apowers313 that the specification should unambiguously write down what we want the format to be, regardless of what we decide.  Otherwise, the spec doesn't contain enough information to be implemented interoperably.

[2018-02-15 18:36] akshayku commented on #799
Reopening it till we get this corrected..

[2018-02-15 18:42] gmandyam commented on #800
@selfissued

Will close.  We may want to consider posting something to https://lists.w3.org/Archives/Public/public-script-coord/ regarding the use of NoInterfaceObjects in Client Extension Output, in order to get expert guidance.

[2018-02-15 18:42] #800 closed

[2018-02-15 18:50] akshayku commented on #799
I agree with @agl here. Authenticators are generating (RFC 3279/RFC 8017) signatures and these needs to be reflected as it is to the RPs. There is no translation needed between standard obvious signatures schemes.

I will open a PR in few hours for correction.

[2018-02-15 18:54] jimsch commented on #799
The COSE signature format is the same as the DER format sans the ASN.1

[2018-02-15 18:54] agl commented on #799
@akshayku's "sig" value, above is certainly DER encoded. For other browsers I'm testing the [`signature`](https://w3c.github.io/webauthn/#dom-authenticatorassertionresponse-signature) member of [`AuthenticatorAssertionResponse`](https://w3c.github.io/webauthn/#authenticatorassertionresponse):

1. From Firefox Nightly (build 20180215103933): DER (`304502203da08`&hellip;)
1. From Chrome built this w

[2018-02-15 19:47] selfissued commented on #799
We should not include any ASN.1 prefixes in the signature values.  If our implementations need to strip prefixes that the functions we are calling include, we should do that.

[2018-02-15 19:51] herrjemand commented on #799
@selfissued you are referring to ASN1 prefixes in COSE signatures?

[2018-02-15 20:14] agl commented on #799
@herrjemand The context is that I'm squinting at the docs and [wondering whether](https://github.com/w3c/webauthn/issues/799#issuecomment-366025885) signatures are supposed to be COSE formatted, but we find that everyone has implemented ASN.1 DER for ECDSA so we should probably clarify the spec and make that official.

[2018-02-15 20:17] herrjemand commented on #799
@agl Why do browsers re-encode signatures?

[2018-02-15 20:17] herrjemand commented on #799
@agl Or is this only apply to CTAP1?

[2018-02-15 20:22] akshayku commented on #799
CTAP1 produces ASN1 DER signatures. So should CTAP2 for consistency. And it matches how we encode information in X5C certificates. As everyone has implemented the same, we are making this clarification in the spec.

[2018-02-15 20:28] herrjemand commented on #799
@akshayku Why browsers re-encoding signatures? CTAP1 is one specs, CTAP2 is different

[2018-02-15 20:30] herrjemand commented on #799
@akshayku okay, cool

[2018-02-15 20:31] herrjemand commented on #799
@akshayku so this applies to CTAP2 level? Not to webauthn?

[2018-02-15 20:32] akshayku commented on #799
Browsers are not re-encoding signatures. All CTAP2 authenticators are producing signatures as mentioned in RFC 3279/ RFC 8017. WebAuthN spec is not clear which one it is and we are clarifying it.

This applies to webauthn as CTAP2 authenticators already produces signatures as specified in RFC 3279/ RFC 8017.

[2018-02-15 20:36] herrjemand commented on #799
@akshayku yes, you are correct.

[2018-02-15 20:50] selfissued commented on #799
@akshayku - saying "RFC 8017 signatures" is ambiguous.  For instance, look at https://tools.ietf.org/html/rfc8017#appendix-A.2.4 (RSASSA-PKCS-v1_5).  It contains definitions for both DigestInfo, which includes an ASN.1 OID for the digest algorithm, and for "digest", which doesn't.  Here's a snippet:

       DigestInfo ::= SEQUENCE {
           digestAlgorithm DigestAlgorithm,
           digest OCT

[2018-02-15 21:03] akshayku commented on #799
So Repo is locked. @nadalin, Can you open repo for the clarification.?

[2018-02-15 21:28] wseltzer commented on #784
Fixed by creating the images subdirectory under https://www.w3.org/TR/2017/WD-webauthn-20171205/ and uploading the images there.

It should work so long as the images match the links to them, so if the links are using the "images/" convention, let's make sure there's an images directory. :)

(previous issue https://github.com/w3c/webauthn/issues/486 )

[2018-02-15 21:46] equalsJeffH commented on #784
thanks @wseltzer :)
Images have re-appeared, yay!

is there something specific that one needs to do when publishing to `www.w3.org/TR/` in order to ensure an `images` subdirectory is created?

[2018-02-15 22:09] wseltzer commented on #784
@equalsJeffH
Possibly BSPublishAdditionalFiles(files), as described in https://tabatkins.github.io/bikeshed/#echidna-hooks. Or ping team contacts with a pointer to this issue :)

[2018-02-15 22:48] kpaulh commented on #798
+1 Thanks, Adam!

[2018-02-15 23:56] equalsJeffH commented on #799
@nadalin: this is a technical issue.

@selfissued wrote:

AFAICT, https://tools.ietf.org/html/rfc8017#appendix-A.2.4 is describing only the object identifier for RSASSA-PKCS-v1_5, and the `digest` is actually a **hash value**, not a resulting signature per se.  E.g., see the definition for [EMSA-PKCS1-v1_5](https://tools.ietf.org/html/rfc8017#section-9.2) wherein DigestInfo is utilized.

WRT the a

[2018-02-16 00:44] arnar commented on #803
I'm fairly confused myself, so I did some digging in the history because as [originally proposed](https://github.com/fido-alliance/fido-2-specs/commit/f4e9e1c782ef96f9cca3c6a0540bd2e4a5cb9393), extensions were pretty simple.

 - Extensions take only one input, a JS object.
 - The client processing defines
   - (optionally) A JSONable value to be added to clientData
   - (optionally) A CBORable val

[2018-02-16 01:39] selfissued commented on #799
It seems to me like the most straightforward thing to do is to say that the signature contains the same representation of raw bytes as would be used in the corresponding COSE signature for the corresponding algorithm.  That way we *don't* have to define these for all algorithms - only possibly for new ones that we introduce ourselves.

The COSE signatures are all raw byte arrays and as Jim Schaad

[2018-02-16 02:01] selfissued commented on #799
P.S.  We should include an example or two, or at least say things like what the byte lengths of signature values for common algorithms are.  For instance, for ES256 the signature length is exactly 64 bytes.  For RS256 with a 2048 bit key the signature length is exactly 256 bytes.  Etc.

[2018-02-16 02:52] selfissued commented on #803
`clientExtensions` and `authenticatorExtensions` are included in `CollectedClientData` so they contribute to the `clientDataHash` input.  This cryptographically binds these input values to the request.  The request would mean something different with different extension inputs, so it makes sense to do this.

Answering @arnar 's history questions, this was part of PR #425 , which @jyasskin thorough

[2018-02-16 08:57] annevk commented on #712
There's still an issue with the current text in that if someone overwrites `JSON` it's still ambiguous.

Another problem I just realized is that you cannot invoke a JavaScript function on an IDL value. You first need to convert the IDL value to a JavaScript value.

[2018-02-16 10:12] emlun commented on #712
This is not ambiguous, because the spec reads "the result of calling **the initial value** of `JSON.stringify`" (emphasis added). Even without the emphasized part, I'd argue that this is a reference specifically to the `JSON.stringify` function in the ECMAScript language spec, and not an instruction to "evaluate the expression `JSON.stringify` in the current JavaScript scope".

This may be technic

[2018-02-16 10:18] annevk commented on #712
@emlun it is. The initial value of JSON.stringify means just the initial value of the stringify property of some JSON object. It doesn't mean _the_ JSON object (that's %JSON%; see Infra for how it's worded for the parser).

[2018-02-16 10:56] emlun commented on #712
And that's exactly where the WebAuthn spec links to. I have a hard time seeing how that is ambiguous.

[2018-02-16 10:59] emlun commented on #712
Ah, but on second thought we do spell out %ArrayBuffer% elsewhere in the spec. So perhaps we should rectify this for internal consistency if nothing else.

[2018-02-16 12:14] emlun commented on #803
Who is the binding for? If we assume the RP trusts the authenticator but not the client, there's actually no guarantee to the RP that those authnr ext inputs are what was actually sent to the authenticator (unless their values can be verified using the corresponding authnr ext outputs, of course). For that the authehticator would need to sign over the _extensions_ parameter to the authenticator op

[2018-02-16 17:05] agl commented on #803
Indeed, for any authenticator-processed extensions, the RP can only trust the authenticator output and so that must contain the input to confirm it. For example, in the way that the [txAuthSimple extension](https://w3c.github.io/webauthn/#sctn-simple-txauth-extension) does.

For client extensions, I agree that does imply that the client is trusted but I can imagine that the RP doesn't trust their

[2018-02-16 17:40] emlun opened #804 "Clarify how RP should verify extension outputs"
@agl [notes][comment] in #803:

I suggest we should

- clarify what exactly (extension IDs? values? etc) should be a subset of what;
- add a step to the RP operations instructing vaguely to verify that the extension outputs "are as expected".

I intend to self-assign this when the repo is unlocked.

[comment]: https://github.com/w3c/webauthn/issues/803#issuecomment-366296231

[2018-02-16 17:41] emlun commented on #803
I read this to mean the extension IDs (the keys of the object) should be a subset of the requested extension IDs, but I agree this could be clearer. I also think the RP ops should probably have an additional step that vaguely specifies the extension output values are "as expected". I can take care of that in #804.

[2018-02-16 19:04] akshayku commented on #799
In spirit for keeping consistency with CTAP1/U2F authenticators, using exising crypto libraries developed over many years in the industry, and not breaking all the implementations done by everyone in FIDO group, its will be much better if we follow the existing standard RFCs.

@equalsJeffH Thanks for Token Binding link. That really helps :)

I added some examples I could find.

[2018-02-16 19:04] selfissued commented on #803
Yes, this is about comparing the extension IDs.  I can be more explicit about this if we decide to apply any edits before CR (or I can do it after CR).

[2018-02-16 19:04] akshayku commented on #799
@agl , @equalsJeffH , @selfissued Please review.

[2018-02-16 19:17] jyasskin commented on #799
Just to be painfully clear, DER encodings of integers are never fixed-length (section 8.3.2 of https://www.itu.int/ITU-T/studygroups/com17/languages/X.690-0207.pdf), and https://tools.ietf.org/html/rfc3279#section-2.2.3 uses integers, while the COSE representations are fixed-length (["left padded with zero bits to get to the correct length"](https://tools.ietf.org/html/rfc8152#section-8.1)).

[2018-02-16 19:19] agl commented on #803
I don't think clarifying the existing processing moves the spec to a coherent place. I think the major decision is whether a compromised origin context is something we wish to defend against. If so:
1. The echoed extensions need to be included verbatim so that the RP can check that the origin context didn't manipulate them at all. That suggests to me that they should be specified in the first plac

[2018-02-16 19:28] leshi opened #806 "RPs cannot show "You've Already Registered This Authenticator" Message"
Many RPs prevent users from registering the same Authenticator twice.  RPs use specifying the already known credentials in the `excludeCredentials` during the `create()` call, which then gets passed down into `authenticatorMakeCredential` in the `excludeCredentialDescriptorList`.  Authenticators "should not create a new credential" if they recognize a credential that they have previously minted.

[2018-02-16 19:40] arnar commented on #803
I agree that binding the extension inputs isn't consistent with how we bind other inputs. I'd lean towards the previous attacker model that a compromised origin context isn't something we defend against.

Also agree authenticator inputs don't make sense. The authenticator outputs are the signed-over statements made by authenticators and should provide sufficient data to the RP to verify whatever t

[2018-02-16 19:46] leshi commented on #806
It looks like CTAP2 is already having authenticators return `CTAP2_ERR_CREDENTIAL_EXCLUDED`.  I think we should wrap this up in a new error message that webauthn can return to callers.

[2018-02-16 19:48] equalsJeffH commented on #803
@selfissued noted:

@emlun replied (and @agl has been asking):

Originally, in a hand-wavy fashion, the binding is (ostensibly) for the RP to be able to verify that the authenticator received what was sent and the returned data (back up through "the stack") is as expected. From the original [W3C FIDO Submission Signature Format spec](https://www.w3.org/Submission/2015/SUBM-fido-signature-format-20

[2018-02-16 20:20] emlun commented on #806
This limitation is by design, as discussed extensively in #184, #204, #764, https://github.com/w3c/webauthn/pull/687#issuecomment-359087435 , https://github.com/w3c/webauthn/issues/629#issuecomment-336410724 . In summary: providing this information would allow malicious RPs to reliably identify (i.e., track) the user without consent.

[2018-02-16 20:24] kpaulh commented on #806
What about in the case where the user does give consent? I.e. they touch a device they want to register without realizing it has already been registered. They fully intended to give consent to its registration.

[2018-02-16 20:32] leshi commented on #806
No.  The CTAP2 spec explicitly says that user consent must be gathered before it replies with `CTAP2_ERR_CREDENTIAL_EXCLUDED`

[2018-02-16 20:40] emlun commented on #806
That is a good point... Unfortunately CTAP2 specifies that consent is collected _after_ the CTAP2_ERR_CREDENTIAL_EXCLUDED error would be returned, so the two cases are not distinguishable to the client.

...Unless the client can ask the user up front if they intend to create a credential (i.e., something like Chrome's and Firefox's "share location?" popup: "foo.com would like to register your iden

[2018-02-16 20:41] agl commented on #803
I'm happy with any coherent stance although I will note that not worrying about a compromised origin context makes things simpler. Also, the user fundamentally interacts via the DOM so, if there's attacker Javascript running in the origin, it can wait until the user has authenticated and then simulate whatever actions it wishes on behalf of the authenticated user. Thus protecting against it in web

[2018-02-16 20:47] equalsJeffH commented on #803
@agl wrote:

agreed.

Ah, yes, sigh.

agreed.

[2018-02-16 20:48] jimsch commented on #799
Not to mention that integers in DER are going to be extended by a byte if the leading byte of the integer has the high bit set.

[2018-02-16 20:48] agl commented on #806
I think the following would work?
1. Have the browser send the exclude list down to the authenticators. For any which say `CTAP2_ERR_CREDENTIAL_EXCLUDED`, note them and reissue the command without an exclude list.
1. If the user ends up tapping a different authenticator, great. No problem.
1. If the user selects an excluded authenticator either a) tell the site via an error status or b) prompt the

[2018-02-16 21:09] emlun commented on #806
A drawback of that strategy is that the authenticator will actually create the credential before the client knows to ask "are you sure?". If that was a resident credential, then some of the authenticator's (probably limited) internal storage has now been allocated to it and it may not be obvious to the user that they need to delete it (CTAP2 has no "delete single credential" command, so the client

[2018-02-16 21:14] leshi commented on #806
CTAP2 authenticators must gather consent before replying with `CTAP2_ERR_CREDENTIAL_EXCLUDED`:

The procedure @agl suggests is what we do for U2F (CTAP1) authenticators today -- they do not have resident keys.

[2018-02-16 21:16] kpaulh commented on #806
Well, almost. The way this has been handled for U2F is that instead of issuing another create command to get user consent, a **sign** request with fake data is issued. This doesn't have the side effect of creating a credential.

[2018-02-16 21:22] kpaulh commented on #806
I apologize, I was incorrect here. We do send another create, but with fake data. So, yes, that does have the side effect of creating a credential.

[2018-02-16 21:27] leshi commented on #806
But that side effect doesn't matter as all U2F devices I know don't actually store anything.

[2018-02-16 21:29] cpiper commented on #806
Would sending a getAssertion request suffice? So, first a query to determine that the credential was previously registered, and if so, just send a getAssertion request. If there are multiple authenticators, and a user affirmatively touches a previously registered one, a getAssertion response would be received. In that case, it can be definitively be determined from the response that this was a pre

[2018-02-16 21:30] agl commented on #806
I think some of the confusion here might be from looking at the public draft of CTAP2. In the [2017-09-27 version](https://fidoalliance.org/specs/fido-v2.0-rd-20170927/fido-client-to-authenticator-protocol-v2.0-rd-20170927.html) it says:

I.e. don't wait for user presence. Sounds like that's been fixed since then and browsers could return the error directly.

[2018-02-16 21:30] emlun commented on #806
@leshi Oh, my bad - I guess I was reading [an outdated draft?][ctap]

@kpaulh Ah, a fake sign request is a clever way to work around it! That seems to me like a good solution: reply with some kind of `AlreadyRegisteredError` if the user does confirm the sign action, and the ambiguous `NotAllowedError` if the user does not confirm it.

I suppose that _could_ be confusing if the authenticator has a

[2018-02-16 21:35] emlun commented on #806
Oh, right, if the EXCLUDED response from the authenticator is now guaranteed to have collected consent first, then the information leak I was talking about shouldn't happen and I see no problem with returning a unique error before the timeout ends.

[2018-02-16 21:39] arnar commented on #803
I'm with agl@ that I don't immediately see practical gain in handling compromised origin contexts. But if we were to do so:

By putting them in CollectedClientData instead of PublicKeyCredential.

[2018-02-16 22:18] #798 closed

[2018-02-16 22:52] selfissued opened #807 "Why is the Token Binding ID a base64url encoded DOMString rather than an ArrayBuffer?"
Given we're changing the Token Binding representation anyway, is there a reason that the Token Binding ID representation needs to stay a base64url encoded DOMString rather than be changed to an ArrayBuffer containing the raw Token Binding ID bytes?

[2018-02-16 22:53] leshi commented on #806
Great!  What error should we return? :)

[2018-02-16 23:04] emlun commented on #806
I don't know how these error types are typically selected, so I'll defer that question to someone who does (@equalsJeffH, @selfissued, @jcjones, @akshayku?) - but I'm guessing maybe `InUseAttributeError`, `InvalidStateError` or `OperationError`, maybe? You're all welcome to leave suggestions as well. I can draft a PR for this (sans a specific error type) on Monday.

[2018-02-16 23:38] akshayku commented on #806
`AlreadyExistError` ?

[2018-02-16 23:41] equalsJeffH commented on #799
overall disclaimer: I do not have a personal dog in this race.

that said, there are trade-offs here worth noting...

[RFC8152](https://tools.ietf.org/html/rfc8152) and [RFC8230](https://tools.ietf.org/html/rfc8230) **_are_** "existing standard RFCs". It seems that the issue you folks are having is that your existing toolset (libs etc) does not (as yet) directly support emitting signature values p

[2018-02-16 23:55] leshi commented on #806
I think we need to choose from here: https://heycam.github.io/webidl/#idl-DOMException-error-names

[2018-02-16 23:58] leshi commented on #806
Looking at https://heycam.github.io/webidl/#idl-DOMException, it appears that we might be able to use the message field? h/t @kpaulh

[2018-02-17 00:09] arnar commented on #807
Are you suggesting CollectedClientData be implicitly converted to JSON, taking care of e.g. ArrayBuffer?

In #803 you linked to [this](https://heycam.github.io/webidl/#es-type-mapping), but I'm having some trouble finding how ArrayBuffers are converted to JSON.

[2018-02-17 00:13] arnar commented on #807
(cc @kpaulh)

[2018-02-17 00:20] arnar commented on #806
"ConstraintError" seems fitting. Or simply "NotAllwedError".

[2018-02-17 00:27] selfissued commented on #807
That's right.  If this is converted to JSON, then it makes sense to leave it as is.  I wanted to at least ask the question.

[2018-02-17 00:34] idamlaj commented on #806
I would like us to use a different error than "ConstraintError" and "NotAllowedError", so the relying party can display the appropriate error message for the user.

[2018-02-17 04:16] emlun commented on #806
https://heycam.github.io/webidl/#idl-DOMException-error-names lists further descriptions of the error types. [`ConstraintError`][ce] looks like it's specifically meant for STM errors, so probably not a good fit for this.

[ce]: https://heycam.github.io/webidl/#constrainterror

[2018-02-20 19:02] owencm commented on #91
+1, I'm trying to learn more about webauthn right now and an explainer would be extremely helpful!

[2018-02-21 01:44] #799 closed

[2018-02-21 09:32] emlun commented on #764
#806 is also related to this. The changes proposed in #809 would allow the RP to detect if the user attempts to re-register an already enrolled authenticator, but only after a user gesture. It would still not support detecting enrolled authenticators _before_ the `credentials.create()` or `.get()` call.

[2018-02-21 09:33] emlun commented on #91
Related (for explaining design rationale): #764

[2018-02-21 13:09] emlun commented on #712
Hm... [%JSON%.stringify][stringify] returns a UTF-16 encoded string, but the [JSON-serialized client data ][cd] is supposed to be UTF-8 encoded. Is this an issue? I suppose that "This is the UTF-8 encoding of the result of calling %JSON%.stringify on a CollectedClientData dictionary" can be understood as instructing to recode the result from UTF-16 to UTF-8, but is that sufficiently clear?

[cd]:

[2018-02-21 13:50] annevk commented on #712
It is per how Infra defines strings. There could be a problem I suppose if JSON.stringify can return a string containing a lone surrogate, but I don't think that's possible.

[2018-02-21 15:39] emlun commented on #803
The current language in [§9. WebAuthn Extensions][exts] also says the client extension outputs will be included in the client data:

[exts]: https://w3c.github.io/webauthn/#extensions

[2018-02-21 17:51] selfissued commented on #712
Currently it seems to me that the spec is internally inconsistent - with JSON.stringify returning UTF-16 and the spec saying that it's UTF-8.  We should make it consistent, one way or the other.  I'll defer to the browser experts on which way we should go.

[2018-02-21 18:14] annevk commented on #712
You UTF-8 encode the return value of JSON.stringify, resulting in UTF-8 bytes, no? JSON.stringify doesn't return bytes, it returns a string. I'm not sure what you think is inconsistent.

[2018-02-21 18:39] emlun commented on #712
@annevk Could you please review PR #813?

[2018-02-21 18:44] agl commented on #807
(Just from the call. I opined that this needs to be a string because the CollectedClientData is serialised as JSON and thus cannot contain ArrayBuffers. We're going to ask Kim to weigh in.)

[2018-02-21 18:46] rlin1 commented on #784
as of today, the images are back.  Does anyone know whether this issue is not permanently fixed?
Should I close the issue?

[2018-02-21 18:52] kpaulh commented on #807
I agree with @agl; ArrayBuffers would cause problems for serialization. Also, we don't pack CollectedClientData in Blink in our implementation, so ArrayBuffers would be really annoying to deal with, if possible at all.

[2018-02-21 18:54] agl commented on #807
(I think this is resolved and can be closed.)

[2018-02-21 19:52] wseltzer commented on #784
ok to close

[2018-02-21 20:08] rlin1 commented on #784
issue solved.

[2018-02-21 20:31] selfissued commented on #807
Closing with no action, based on @kpaulh 's feedback.

[2018-02-21 20:31] #807 closed

[2018-02-21 22:28] #804 closed

[2018-02-21 22:34] #806 closed

[2018-02-21 22:37] selfissued commented on #803
Fixed by PRs #810 and #811

[2018-02-21 22:37] #803 closed

[2018-02-22 17:50] emlun commented on #712
In the review of #813, @domenic [asserts][comment] that the current language is better than changing it to refer to %JSON%.

If anything, I think we should instead not reference the ECMAScript API at all for this. This part of the spec does not define actions to take by JavaScript code running in the client, rather it specifies behaviour _internal_ to the client. It doesn't matter to the consumers

[2018-02-23 10:17] emlun opened #817 "Mention FIDO transports extension in X.509 cert requirements?"
U2F attestation certificates may include the [`id-fido-u2f-ce-transports` extension][tr-ext], listing the connectivity options of the attested authenticator. Should we mention this as an optional extension in the [packed attestation statement certificate requirements][reqs]?

Is there anything else that would make sense to gather here?

[reqs]: https://w3c.github.io/webauthn/#packed-attestation-ce

[2018-02-23 12:00] emlun opened #818 "Subject-C type in packed cert requirements is incorrect"
The [packed attestation statement certificate requirements][reqs] list the Subject-C field as an ASN.1 UTF8String:

But [RFC 5280][rfc] page 115 defines the field as an ASN.1 PrintableString:

[reqs]: https://w3c.github.io/webauthn/#packed-attestation-cert-requirements
[rfc]: https://tools.ietf.org/html/rfc5280#page-115

[2018-02-23 15:36] selfissued commented on #818
Can you create a PR fixing this, @emlun ?

[2018-02-23 15:39] selfissued commented on #817
Where is the `id-fido-u2f-ce-transports` certification extension defined?  We should probably reference the definition rather than repeating it in WebAuthn.

[2018-02-23 15:43] emlun commented on #818
Will do.

[2018-02-23 15:45] emlun commented on #818
I think this could probably be punted to PR if it would block the CR release.

[2018-02-23 15:51] emlun commented on #817
It's defined here: https://fidoalliance.org/specs/fido-u2f-v1.1-id-20160915/fido-u2f-authenticator-transports-extension-v1.1-id-20160915.html

I agree we should reference rather than repeating it, but the bigger question is whether we want it mentioned. I've received comments that it could be nice to collect all the things that are likely to appear in attestation certs in one place - and this is o

[2018-02-23 16:48] akshayku commented on #817
This is U2F specific extension. For CTAP equivalent, one has to come up with new extension with new OID. I would just leave it be as you can have the same information with FIDO MDS if someone cares.

[2018-02-23 17:25] nadalin commented on #818
@emlun if we can get it done by 2/25 then we can make CR

[2018-02-23 23:30] #818 closed

[2018-02-24 00:07] nadalin commented on #712
@emlun @annevk @selfissued  seems we have no agreed upon conclusion, is this something we punt for CR and get other eyes on this ?

[2018-02-24 00:15] nadalin commented on #817
@akshayku @selfissued @emlun Should we close this no action ?

[2018-02-24 00:30] emlun commented on #817
Yeah, I think so. If someone wants this more than @akshayku does not, please re-open it.

[2018-02-24 00:30] #817 closed

[2018-02-24 01:16] selfissued commented on #712
Rather than closing it, I'd rather that we changed the milestone because there are substantive details lurking here that we should try to get right.  @nadalin - do you want to do that?

[2018-02-24 09:39] xialvjun opened #820 "What's this SPEC for?"
Is this SPEC for something like [this proposal](https://github.com/whatwg/html/issues/3337)

1. User has a private-public key pair.
2. User visit a website.
3. User send the public key to the website server.
4. Website server generate a random code, use the user's public key to encrypt the random code, and send the encrypted code to the user.
5. User use his private key to extract the origin code,

[2018-02-24 10:42] annevk commented on #712
I think the best way to fix this would be analogous to https://infra.spec.whatwg.org/#json, but then for serialization. That requires some effort though as you'll need to upstream a change to JavaScript to get %JSONSerialize%.

[2018-02-24 11:21] emlun commented on #820
Almost, but there are some important differences. Web Authentication does not assume that the user has a universal identity that they use for all websites, instead a new identity (_credential_) is created for each website. The purpose of this spec is

- to provide websites with a widely available API to authenticate users with strong asymmetric cryptography.
- to provide users with a solution to b

[2018-02-24 13:55] js-choi commented on #820
@emlun: This is a pretty good functional explanation, at least for me. Would it be feasible to put it as an explainer into the readme or the spec introduction?

[2018-02-25 17:13] xialvjun commented on #820
@emlun Thank you very much for this detail explanation. But I still have some tips don't understand:

1. Should the authenticator store the credentials for every site? In other words, if I use a software authenticator and the software is offline(ie it can not sync between different PCs), then when I use this SPEC register an account in a site, I can not use this account when I use another PC unles

[2018-02-25 18:11] emlun commented on #820
1. Yes, there will be a different key for each site, but you can register multiple keys with each account. A likely scenario for many users will be to use a built-in authenticator most of the time, but also have an external authenticator for logging in from a new device. After that first login you can register the built-in authenticator in the new device (if it has one) so you don't need the exter

[2018-02-26 16:30] agl opened #822 "Random prefixes to reduce hash requirement of RSA+SHA-1 to TCR"
Just a thought that occurred over the weekend:

If there are concerns from COSE about adding RS1 (i.e. RSA with SHA-1) due to the well-known weakness of that hash function, we could instead define the signing operation to sample a random, 64-byte salt, sign the concatenation of the salt plus the message to be signed, and output the concatenation of the salt plus the PKCS#1 v1.5 signature, as the f

[2018-02-26 18:25] selfissued commented on #822
Thanks for the idea, @agl .  For what it's worth, as WebAuthn / FIDO 2 are using RSA-SSA-SHA-1, what we're concerned about is the TPM 1 signing output using this algorithm, which have no way of altering.  But yes, we have to get past the Designated Experts to even register the algorithm.

I plan to work with Sean Turner (also one of the DEs) at IETF in London on what we should do.  Sean was one of

[2018-02-26 18:42] agl commented on #822
(Just to clarify, I think that you could implement the above on a TPM without any changes to the TPM. I don't know the exact interface that the TPM provides, so I can't say definitively, but [RSASSA-PKCS1-v1_5](https://tools.ietf.org/html/rfc3447#section-8.2) with SHA-1 is the building block on which the construction builds.

But it's only useful if you think it'll unblock things. So just somethin

[2018-02-26 18:47] gmandyam opened #823 "Clarify byte size requirements for UVI"
Current text says "The UVI is encoded as CBOR byte string (type 0x58)."  Then it goes on to say "Servers supporting UVI extensions MUST support a length of up to 32 bytes for the UVI value."

What does this mean in terms of UVI byte size?  For instance,
(1) Are authenticators allowed to produce UVI's more than 32 bytes, but the RP's can ignore the extra bytes?
(2) Should authenticators always prod

[2018-02-26 22:10] equalsJeffH commented on #373
Ok, thx @wseltzer, I suggest we go ahead and close this so we do not re-discuss yet again on some future call - yes?

[2018-02-26 22:37] equalsJeffH commented on #712
@emlun wrote https://github.com/w3c/webauthn/issues/712#issuecomment-367763772

even tho you later retracted the above, just to clarify, I'll note that "this part of the spec", i.e. both `[[Create]]` and `[[DiscoverFromExternalSource]]` algorithms, are explicitly defining "behaviour internal to the client", i.e., the browser.  [ Hence, RP folk do not necessarily need to read or understand them. He

[2018-02-26 22:40] equalsJeffH commented on #820
note that we already have the https://www.w3.org/TR/webauthn/#use-cases section, which provides a higher-level summary of the above scenarios. So I'd interpret this issue as one suggesting adding clarification and detail (in some fashion) for technically-inclined readers.  see also PR #375.

[2018-02-26 23:34] stpeter commented on #820
The use cases are good. This spec jumps right into technical details and terminology without describing the high-level goals, so a bit of text about that in the intro would be helpful - e.g. stuff like this from @emlun: "Web Authentication does not assume that the user has a universal identity that they use for all websites, instead a new identity (credential) is created for each website."

[2018-02-27 02:19] xialvjun commented on #820
If it's like this. Why not use a much simpler way for authentication.

1. user generate a uuid as his/her identify on the whole www net.
2. browser give an api `generate_identity = () => md5(user.uuid + location.host)`.
3. website javascript run `const identity = generate_identity()`... whoever has the identity has the account.

- websites don't know each other since they can only get the md5 resu

[2018-02-27 09:49] Kieun commented on #823
As I understand it and refer current implementations of UVI extension supported by FIDO UAF, authenticators should generate UVI value up to 32 bytes. And those value should be sent to RP Server without any loss of data.

[2018-02-27 11:08] emlun commented on #820
The problem Web Authentication aims to solve is easy multi-factor authentication (MFA), not global identities.

I don't understand what problems your solution would solve. Do you mean that knowledge of the `generate_identity()` result would be enough to prove ownership of the `user.uuid` identity? I don't see how that would be any more secure or easy to use than a conventional session cookie, if t

[2018-02-27 11:17] emlun commented on #822
I'm definitely not an expert on the fine details of SHA-1, but does the challenge parameter not work as the same kind of random "salt"?

[2018-02-27 13:58] #373 closed

[2018-02-27 15:20] xialvjun commented on #820
1. The user needn't to remember so many usernames and passwords. He/She just need remember a uuid, everything is done. One uuid can be used in every website.
2. Different PCs or different browsers needn't to sync data.
3. Register an account will be very easy.

No, I don't know how to solve that. I just wish if there is a solution.

[2018-02-27 16:33] emlun commented on #820
Web Authentication hopes to solve that as well. It will be up to each website to choose whether it still wants to use a username and/or password in addition to a Web Authentication 2nd factor, but it's perfectly possible for a website to use only a Web Authentication credential to identify and authenticate a user. From the user's perspective you could have a single PIN-protected security key on yo

[2018-02-27 17:08] xialvjun commented on #820
User needn't to tell websites their uuid. User just need to tell the browser their uuid when the browser is opened first time.   And in fact, people may not remember their uuid, they just store it in a usb device. So, when the browser is opened at the first time, user need import a uuid into browser. Then, when the user visit website, he/she just click `confirm` button.   Browser doesn't expose th

[2018-02-27 17:08] agl commented on #822
The challenge parameter doesn't really count for a couple of reasons:

1. It's controlled by the &ldquo;attacker&rdquo; (i.e. the RP) rather than the signer. So, if there is a path to exploiting SHA-1 here, then the challenge parameter helps the attacker rather than hinders it.
1. I understand that the objection to adding a code-point for RSA+SHA-1 is that the IETF (reasonably) doesn't want to sup

[2018-02-27 18:47] gmandyam commented on #823
Can you point to the relevant standards text that states this?  The current web authn description is essentially replicated from https://fidoalliance.org/specs/fido-uaf-v1.1-ps-20170202/fido-uaf-reg-v1.1-ps-20170202.html#tags-used-in-the-protocol, and there is no text currently written there that places a limit on how many bytes that the authenticator can generate for UVI.  The requirement in the

[2018-02-27 22:47] emlun commented on #820
The user doesn't _need_ to know their UUID, but if there is a way to export it (for syncing, for example) you can be sure that some clever phishers will succeed to "help" some users find and enter their UUID into a form to "confirm your PayPal account". It is impossible to make this mistake with a Web Authentication hardware authenticator.

Again, no sync is needed to use an external authenticator

[2018-02-28 01:09] Kieun commented on #823
There is no such section and spec to describe the requirements of authenticators for UVI extension directly.  But if you read followings, you may understand that the way for authenticators to generate UVI value. The spec describes the max length of UVI value implicitly by defining FIDO Server requirements.

For making clearly, it would be better to provide the requirements of authenticators.
In sh

[2018-02-28 02:33] xialvjun commented on #820
So, this spec is to reinvent LastPass(a software which help manage you accounts) plus an username_generator.

[code]

[2018-02-28 06:01] selfissued commented on #820
This is not an appropriate use of the issue tracker, because it is not making actionable proposals about potential changes to the specification.  If you want to have a general discussion about the specification and its goals, it should happen on the public-webauthn@w3.org mailing list.

[2018-02-28 06:01] #820 closed

[2018-02-28 15:59] agl commented on #822
(Closing this since it's not actionable for webauthn.)

[2018-02-28 15:59] #822 closed

[2018-02-28 18:25] selfissued commented on #410
Closed with no action per the 28-Feb-18 working group call.

[2018-02-28 18:25] #410 closed

[2018-02-28 18:28] equalsJeffH commented on #433
@rlin -- can we close this?

[2018-02-28 18:32] selfissued commented on #517
On the 28-Feb-18, we asked whether #515 closed this.  @equalsJeffH to investigate.

[2018-02-28 18:33] equalsJeffH commented on #540
I do not any longer feel we ought to change the "credential public key" term to be "user's public key" -- however I think we ought to clarify editorially that "credential public key" is the same as "user's public key"

[2018-02-28 18:33] selfissued commented on #529
Closing, per @jcjones 's comments on the 28-Feb-18 call.

[2018-02-28 18:33] #529 closed

[2018-02-28 18:38] selfissued commented on #576
Closing per discussion on 28-Feb-18 call.

[2018-02-28 18:40] emlun commented on #593
For some additional context, the current description of the `user.displayName` field is:

[2018-02-28 18:40] selfissued commented on #593
@jcjones will review this with engineers at Mozilla.  There doesn't seem to be a need to add any restrictions.

[2018-02-28 18:41] equalsJeffH commented on #594
fyi: we did add non-usascii chars to "name:" values in examples. can we close this?

[2018-02-28 18:46] nadalin commented on #649
Closing this issue since there are IPR issues with @jovasco joining this WG

[2018-02-28 18:46] #649 closed

[2018-02-28 18:46] selfissued commented on #621
It seems that these should be an authentication extensions but not registration extensions.

[2018-02-28 18:47] equalsJeffH commented on #656
fyi: "privacy CA" is now "attestation CA", I believe.

[2018-02-28 18:48] selfissued commented on #656
Per the 28-Feb-18 call, @jcjones will verify that this has been addressed.

[2018-02-28 18:50] selfissued commented on #679
There was agreement on the 28-Feb-18 call that CDDL isn't needed for most extensions, since the transformations between the JavaScript data structures and the CBOR data structures are now obvious.

[2018-02-28 18:50] #679 closed

[2018-02-28 21:44] jcjones commented on #656
I confirm this has been addressed. Closing this issue.

[2018-02-28 21:44] #656 closed

[2018-02-28 22:15] jcjones commented on #593
After consulting with a Mozilla wizard (@zbraniecki), the current definition of these `displayName` fields will prohibit browsers from including them in UI that does not have clear boundaries. E.g., not in notification or permission boxes. E.g., we could include the `displayName`s in a management interface where there are grids/borders/graphical elements, but not run it together into a compressed-

[2018-02-28 22:21] zbraniecki commented on #593
You could also do `simpleDisplayName` (ASCII, min 3 characters long?) and `fullDisplayName` (unicode, any non-empty string) and provide separate guidelines for those and suggest that if only one is provided the other is casted onto it (with stripping in case of unicode->ascii)

[2018-02-28 22:59] stpeter commented on #593
Although https://tools.ietf.org/html/rfc8266 might be overkill here, it addresses some of the core issues and challenges with display names...

[2018-03-01 06:10] annevk commented on #712
Could you help me by explaining what is not clear about https://github.com/w3c/webauthn/issues/712#issuecomment-368219239?

[2018-03-01 09:07] rlin1 commented on #433
the TPM needs to follow the signing procedure as described in FIDO ECDAA algorithm spec section "3.5.3 ECDAA-Sign Split between TPM and ASM".
The verification then needs to be according to FIDO ECDAA algorithm spec section "3.6 ECDAA-Verify Operation".

[2018-03-01 09:07] rlin1 commented on #433
can be closed IMHO.

[2018-03-03 00:12] equalsJeffH commented on #712
Here's a n00b attempt at defining a "JSON stringify and UTF-8 encode to bytes" operation for the infra spec:
[code]

If I understand correctly, [\[ECMA-262\]](https://tc39.github.io/ecma262/) needs only a new row (after the `%JSONParse%` row) added to [Table 7 "well-known intrinsic objects"](https://tc39.github.io/ecma262/#table-7) like so (?):
[code]

[2018-03-03 08:14] annevk commented on #712
Pretty good for a n00b attempt. That looks right to me. 😊

[2018-03-05 23:10] equalsJeffH commented on #712
shuck thx @annevk -- I've submitted https://github.com/whatwg/infra/issues/193

[2018-03-07 12:33] emlun commented on #576
Actually, I think the RP conformance class section could be expanded a bit to cover the case where the RP doesn't care much about attestation, especially since we've agreed that that is the most likely use case. I'll write a PR for this.

[2018-03-07 16:13] equalsJeffH commented on #784
Issue **NOT**  solved -- WD-08's figures do not appear
cf: https://www.w3.org/TR/webauthn/#fig-authData

IIUC, per @wseltzer in https://github.com/w3c/webauthn/issues/784#issuecomment-366078342, we perhaps need to write a `bs-extensions.include` file containing an impl for `BSPublishAdditionalFiles(files)` that ensures the image/figure files end up in the correct subdirectory of the `w3.org/TR/` b

[2018-03-07 16:29] equalsJeffH opened #828 "vestigial remainders leftover from not completely removing client extension data from client data"
see https://github.com/w3c/webauthn/issues/828#issuecomment-371239195 and https://github.com/w3c/webauthn/issues/828#issuecomment-371626220 below for current actual issue.

<hr>
original post for this issue:

cloud bikeshed [1] is issuing these errors on index.bs at commit 716a169:
[code]
[1] curl https://api.csswg.org/bikeshed/ -F file=@index.bs -F force=1 -F output=err

[2018-03-07 18:05] equalsJeffH commented on #784
reopending

[2018-03-07 18:22] selfissued commented on #828
Note that if you go to https://api.csswg.org/bikeshed/, it puts up an interactive UI (just like xml2rfc does) so you can use it without having to have curl.  Check the "Errors & Warnings" button and click "Process" to see the resulting errors.

[2018-03-07 18:23] rlin1 commented on #823
Proposal: don't change the CR version for this.

[2018-03-07 18:24] wseltzer commented on #784
and WD-08 fixed manually

[2018-03-07 18:33] jcjones commented on #593
7 March 2018 WG call: @equalsJeffH agrees with @stpeter. @jcjones to write a PR that references RFC 8266's nickname profile for the relevant `DOMString`s.

[2018-03-07 18:35] selfissued commented on #433
Closing, per decision on the 7-Mar-18 call.

[2018-03-07 18:37] rlin1 commented on #828
in section "9.4. Client extension processing" we state: "Supported client extensions are recorded as a dictionary in the client data with the key clientExtensions".

But when looking at client data (https://www.w3.org/TR/webauthn/#client-data), which points to the collected clientData dictionary, there is NO clientExtensions field.

[2018-03-08 21:13] equalsJeffH commented on #828
On the 7-Mar-2018 webauthn call, @selfissued (mike jones) noted that what Rolf is noticing (https://github.com/w3c/webauthn/issues/828#issuecomment-371239195) appears to be vestigial remainders leftover from not completely removing client extension data from client data.  He said he would look into addressing it.

[2018-03-09 08:03] Kieun opened #831 "Review of WD08"
Since the lack of time for reviewing full documents, I added some suggestions after reading the part of the specs.

1. In Abstract section, there is a high level description of this spec. Since attestation also involves signature generation, we may use _attestation_ in stead of _signature_ from the following sentence.

2. Chapter 2.4 describes CBOR encoding by referring FIDO2 CTAP Spec. The link f

[2018-03-09 15:56] emlun commented on #831
Thanks for the review!

1. Do you suggest rewriting the quoted text to this?

2. Good catch, thanks!

    For the record: What is broken is the fragment part `#ctap2-canonical-cbor-encoding-form`, which should be `#message-encoding`. The document URL is fine.

3. Good catch, thanks!

4. I don't think that's strictly necessary, because "**potentially** verifying the user" points out that authentica

[2018-03-09 16:33] emlun commented on #831
Opened PR #832 which addresses (2), (3) and (5). Leaving (1) and (4) open for discussion.

[2018-03-09 16:58] emlun opened #833 "Unused terms"
As a complement to #462, this is a list of terms that are defined but not referenced outside of their definition.

- [Client-Side](https://www.w3.org/TR/webauthn/#client-side)
- [Rate Limiting](https://www.w3.org/TR/webauthn/#rate-limiting)

[2018-03-09 20:46] gmandyam commented on #833
@emlun, re: Rate Limiting

I wrote the rate limiting definition to tie into user verification by including the sentence "Rate limiting is often implemented as an aspect of user verification."  The definition for user verification could be augmented to include a reference to rate limiting there if you think this would make the spec cleaner.

See https://github.com/w3c/webauthn/pull/499 and https://

[2018-03-12 04:16] Kieun commented on #831
@emlun regarding issue 1, I think we'd better use assertion instead of signature. Since main operations for this spec are regarding attestation and assertion.

[2018-03-12 06:28] deniak commented on #784
How is that spec published on echidna? Is someone calling a script manually? From a quick look, it doesn't seem to be called from travis.

[2018-03-12 11:59] emlun commented on #831
Ok, I see. I think it might be better to stick to "signature" instead of "assertion" here. The abstract should get the general point across without introducing too much new terminology, and the reader is more likely to be familiar with "signature" than "assertion" which hasn't yet been introduced at that point.

[2018-03-12 13:17] herrjemand commented on #85
@equalsJeffH @apowers313 I think we need to add requirements for the min length. Currently I can't see that it says anywhere anything about it.

[2018-03-12 13:29] emlun commented on #85
There is some mention of required randomness in [§13.1. Cryptographic Challenges][sec-cons], but I agree a recommended minimum length would be good.

Should we perhaps also specify that the browser MAY, SHOULD or MUST refuse a request if the challenge is shorter than the specified minimum? Thoughts on that?

[sec-cons]: https://w3c.github.io/webauthn/#cryptographic-challenges

[2018-03-12 13:34] herrjemand commented on #85
@emlun "Server MUST generate challenge minimum 16bytes long, and maximum of 64bytes"

[2018-03-12 16:10] emlun commented on #833
@gmandyam Ok, thanks for the background. I do think it seems odd to include a terminology definition that's never referenced. I agree that adding some small mention of it, probably in the user verification steps in the authenticator ops, would be good - but judging by comments like https://github.com/w3c/webauthn/pull/484#issuecomment-308512322 it seems like the WG felt it was unnecessary to menti

[2018-03-12 23:40] equalsJeffH commented on #784
^ @AngeloKai ?

[2018-03-13 18:15] samuelweiler opened #837 "Candidate recommendation exit criteria"
The Director expects CR documents to explicitly state the criteria for getting to PR. We can set criteria of our choice, but the suggestion is: "In order for this specification to exit Candidate Recommendation there must be demonstrations of at least two interoperable implementations of every feature."

The general rule is that CRs "must document how adequate implementation experience will be demo

[2018-03-13 18:17] samuelweiler opened #838 "remove Johan as contributor"
Johan Verrept (VASCO Data Security) is listed as a contributor.  Since he never joined the WG, we didn't accept his pull request.  I'm presuming we should not list him as a contributor.

[2018-03-13 19:08] samuelweiler commented on #837
Some of this is from https://www.w3.org/2018/Process-20180201/#candidate-rec

[2018-03-13 19:17] samuelweiler commented on #837
here's an example:  https://www.w3.org/TR/2014/CR-WebCryptoAPI-20141211/

For this specification to be advanced to Proposed Recommendation, there must be at least two independent, interoperable implementations of each feature.

Each cryptographic algorithm listed in the specification is currently an "at risk" feature. In particular, we are expecting a "browser profile" to be created of interoperab

[2018-03-14 11:43] emlun commented on #837
Are the extensions included in those features? I.e., does every extension need to be implemented by at least two independent browsers and (where applicable) authenticators?

[2018-03-14 13:05] samuelweiler commented on #837
I suggest we mark all extensions as "at risk" or at least set a lower bar for them.

[2018-03-14 13:43] nadalin commented on #837
Since these are extensions and we are only testing input and output and all formats are same then I would say that extensions should be fine and not at risk

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Samuel Weiler <notifications@github.com>
Sent: Wednesday, March 14, 2018 2:05:58 PM
To: w3c/webauthn
Cc: Subscribed
Subject: Re: [w3c/webauthn] Candidate r

[2018-03-14 16:11] equalsJeffH commented on #462
added to list in the OP:

client-side

see also issue #833

[2018-03-14 16:17] equalsJeffH commented on #838
If there are actual W3C patent policy reasons Johan ought not be ack'd as a "contributor" on the mast head, then I suppose I'd agree. Tho, to note, he's participated in non-trivial fashion in mailing list (public-webauthn@) discussions.  At a minimum he ought to be ack'd in the Ack's section.

[2018-03-14 16:28] equalsJeffH commented on #837
seems to me since this is "exit (CR) criteria" I'd attach it to the PR milestone....

[2018-03-14 17:06] samuelweiler commented on #837
JeffH: We need this in the CR draft.

Here's another example: https://www.w3.org/TR/wake-lock/

[2018-03-14 17:47] samuelweiler commented on #837
FYI, you might need to add this include file via a PR to:
https://github.com/tabatkins/bikeshed/tree/master/bikeshed/boilerplate/webauthn

[2018-03-14 17:48] nadalin commented on #837
"For the Web Authentication specification to move to Proposed Recommendation we must show two independent, interoperable implementations of the Web Authentication API in browsers. We have already completed a portion of this work at two informal interops with implementations from three browsers (Chrome, Firefox, and Edge). These initial compliance tests have yielded relevant datasets. We also have

[2018-03-14 17:48] selfissued commented on #837
Per the call, I am to add a sentence to this description about the extensions framework and having multiple interoperable implementations of at least one extension to validate the framework.

[2018-03-14 17:49] nadalin commented on #837
yes

[2018-03-14 17:54] selfissued commented on #838
Fixed by #839

[2018-03-14 17:54] #838 closed

[2018-03-14 18:00] selfissued commented on #837
All extensions are optional and all but AppID are at risk.

[2018-03-14 18:00] samuelweiler commented on #837
"All extensions are optional.  All except for appid are at risk."

[2018-03-14 18:25] equalsJeffH commented on #828
reopening because the 2nd linking error noted in the OP https://github.com/w3c/webauthn/issues/828#issue-303167961 is not as-yet resolved.

it's a couple refs in priv-cons that are `{{MakePublicKeyCredentialOptions/excludeCredentials}}`  but should be  `{{PublicKeyCredentialCreationOptions/excludeCredentials}}`

[2018-03-14 20:36] #828 closed

[2018-03-15 12:34] koalie opened #841 "Most recent Process (2018) has a different list for maturity levels"
I saw the CR milestone refers to the Process 2015 list for maturity levels; the process was updated twice since then. Most recent is 2018:
see https://www.w3.org/2018/Process-20180201/#maturity-levels

[2018-03-15 17:08] equalsJeffH commented on #841
I edited the description of our [CR milestone](https://github.com/w3c/webauthn/milestone/15) to be:

[2018-03-15 17:08] #841 closed

[2018-03-16 13:46] Kieun opened #844 "Need to fix abort operation example"
Session 12.4 shows the way to abort webauthn operations such as create() and get().
In order to invoke abort operation, we need to call abort() function of AbortController object.
See following link.
https://dom.spec.whatwg.org/#abortcontroller

So, we need to use authAbortController instead of authAbortSignal to invoking abort in the example.
[code]

[2018-03-18 14:37] ynojima opened #845 "Assertion signature verification procedure defined in Section 7.2 doesn't fit for the signature generated by FIDO-U2F token."
WebAuthn signature generation procedure is not equal to that of FIDO-U2F. [1]
Assertion signature verification procedure defined in Section 7.2 doesn't fit for the signature generated by FIDO-U2F token.
The spec should denote that the assertion generated by FIDO-U2F token should be verified in the manner defined in the FIDO-U2F spec.

[1]
The web authentication spec defines that the signature is g

[2018-03-18 14:46] samuelweiler commented on #837
Consistent with https://lists.w3.org/Archives/Public/public-webauthn/2018Mar/0143.html, I propose the following text for the CR.  Absent objection, I'll include this in the CR as published, and we'll need to backport it into the github source later:

[2018-03-18 14:47] samuelweiler opened #846 "Write blog post"
@selfissued Please write a blog post announcing the CR.  (Sorry is this is a duplicate - if so, I couldn't find the duplicate.)

[2018-03-19 21:57] wseltzer commented on #838
@equalsJeffH we could not accept contributions from Johan without Vasco's IPR commitment. We can ack in acknowledgments.

[2018-03-20 14:06] deniak commented on #784
We just published the CR today so unless that spec is returning to WD again, that spec will not be published by echidna  anymore so the bug won't occur again. I guess we can close that ticket but I'll leave that decision to you.

[2018-03-21 19:46] emlun opened #848 "RP UP verification instruction is weird"
[§7.1. Registering a new credential][reg] currently reads (and §7.2. Verifying an authentication assertion is analogous):

This results in the following truth table:
[code]

Note, for example, how UV `preferred` means that a response with `(UV=1, UP=0)` should be rejected.

It would make more sense to let the UP requirement be defined by the UV _response_ instead of the UV _requirement_:

[code]

[2018-03-22 12:03] emlun commented on #845
Thanks for pointing this out. The signature generation and verification algorithms specified in WebAuthn are actually backwards compatible with U2F signatures:

- The U2F application parameter is computed and given to the authenticator by the client, as is the RP ID hash in WebAuthn. In both cases this is an opaque blob of 32 bytes that is computed outside the authenticator.
- A U2F user presence

[2018-03-22 12:25] emlun commented on #845
Proposed resolution: Merge #850 or close with no action.

[2018-03-22 21:07] idamlaj opened #851 "Platform authenticators and key stores"
Issue #420 (PR #708) details how a relying party who only wants platform authenticators can create authentication flows using the web authentication API:

* Relying party creates a credential with attachment=platform
* Relying party stores the credential ID (let's call it cred1) in HTML5 local storage
* Next time a user wants to authenticate, relying party passes [cred1] as allowCredentials in .ge

[2018-03-24 03:00] ynojima commented on #845
Thank you for clarification. Now I understand it has backward-compatibility with FIDO-U2F assertion signature.
The note you proposed seems helpful for the relying party implementers like me.

[2018-03-26 11:17] emlun commented on #851
The RP will indeed get an ambiguous `NotAllowedError`, but that doesn't mean the RP can't show some kind of "Something wrong?" page. Just like many password forms provide a "Forgot password?" link on failed attempts, the RP can show a page to the effect of "Lost security key?" and other likely causes for the `NotAllowedError`. If the RP knows it's sent an `allowCredentials` of only platform creden

[2018-03-27 15:47] apowers313 opened #852 "Missing 'transports' description"
[Section 10.5.3](https://w3c.github.io/webauthn/#credential-dictionary) is missing a description of the term `transports` that's part of the dictionary. I'm not sure if this is intentional since it's just an enumeration, or an editorial oversight.

[2018-03-27 15:49] apowers313 opened #853 "AppID / origin"
The [AppID extension](https://w3c.github.io/webauthn/#sctn-appid-extension) says `let facetId be the origin`; should it say `let facetId be the rpId`, since rpId may be set through a parameter and may be more strict than the origin?

[2018-03-27 16:01] apowers313 opened #854 "AttestationResponse vs AssertionResponse"
There seems to be a weird asymmetry between [`AuthenticatorAttestationResponse`](https://www.w3.org/TR/webauthn/#authenticatorattestationresponse) and [`AuthenticatorAssertionResponse`](https://www.w3.org/TR/webauthn/#iface-authenticatorassertionresponse):

* Attestations return a CBOR map in the `attestationObject`, one of the fields of which is `authenticatorData`.
* Assertions return an object,

[2018-03-28 10:18] emlun commented on #854
I don't think the attestation interface was _converted_ to CBOR, instead it's just that the `attestationObject` and the unwrapped `authenticatorData` are the raw results returned from the authenticator. The argument "servers need to understand CBOR anyway" was against duplicating information (the public key, mainly) from the attestation object in an easier to use format, because the RP will need t

[2018-03-28 14:18] arnar commented on #854
Even without blinding, clients must parse and rewrite attestation objects because authenticators return CBOR maps with integer keys, which are defined in CTAP but not allowed by WebAuthn, and thus would not be understood by an RP.

https://github.com/fido-alliance/fido-2-specs/issues/501

[2018-03-28 17:21] equalsJeffH commented on #433
really closing this per https://github.com/w3c/webauthn/issues/433#issuecomment-371238377 and https://github.com/w3c/webauthn/issues/433#issuecomment-369525077

[2018-03-28 17:21] #433 closed

[2018-03-28 17:36] #594 closed

[2018-03-28 17:36] #452 closed

[2018-03-28 17:38] #540 closed

[2018-03-28 17:58] equalsJeffH commented on #851
discussed on 2018-03-28 webauthn call: @christiaanbrand acks that they have been thinking about this -- thinks their current impl ignores the spec in this case...  at least on Android, they know that a "key got wiped" and so can be smarter about it, but am not sure all platforms have that info available.

@akshayku how do you know to fallback to the external authnrs in this case?

@christiaanbrand

[2018-03-28 18:09] emlun commented on #851
Do we envision tweaking the API for this? In that case, perhaps it could be solved by adding a (non-signed) `AuthenticatorAttachment` attribute to `PublicKeyCredentialDescriptor` and `AuthenticatorAttestationResponse`? That would require no changes to CTAP or authenticators. Then the client could detect if `allowCredentials` lists only platform credentials of which none is available, although that

[2018-03-28 19:20] AngeloKai opened #855 "Add CR link to the editor's draft"
Add https://www.w3.org/TR/2018/CR-webauthn-20180320/ to the editor's draft.

[2018-03-28 20:17] equalsJeffH commented on #784
seems fine to me to close this....

[2018-03-28 20:20] equalsJeffH commented on #852
You mean to say [Section 5.10.3](https://w3c.github.io/webauthn/#credential-dictionary) me thinks, yes?  :)

[2018-03-28 20:29] equalsJeffH commented on #853
hm, are you looking at the latest spec rev? The [current text](https://w3c.github.io/webauthn/#sctn-appid-extension) says:

Does that address your issue/question?

[2018-03-28 21:09] apowers313 commented on #853
[Section 5.5 PublicKeyCredentialRequestOptions](https://w3c.github.io/webauthn/#dictdef-publickeycredentialrequestoptions) allows an application to pass in a claimed `rpId` parameter to a `.get()` call. My question was whether the AppID extension should be using the claimed (and validated) `rpId` as the facet or the `origin`. Although after thinking about this more, that doesn't really make sense.

[2018-03-28 21:09] #853 closed

[2018-03-28 23:25] equalsJeffH commented on #854
@apowers313 wrote:

actually, IIUC, [`AuthenticatorAttestationResponse`](https://www.w3.org/TR/webauthn/#authenticatorattestationresponse) will be a javascript object containing two byte arrays, one of which ([`clientDataJSON`](https://w3c.github.io/webauthn/#dom-authenticatorresponse-clientdatajson)) is JSON-serialized data, the other ([`attestationObject`](https://www.w3.org/TR/webauthn/#fig-att

[2018-03-29 09:19] #784 closed

[2018-03-29 15:47] apowers313 opened #857 "Clarify U2F attestation verification"
Step 4 of the [U2F attestation verification procedure](https://w3c.github.io/webauthn/#fido-u2f-attestation) could use some clarification:

Suggest adding "Section XYZ of [FIDO-CTAP]. CTAP is a big spec and it's not immediately clear that there's actually any section that defines a public key format.

I think a final bullet should be added stating `Let publicKeyU2F be the concatenation of (0x04 ||