[2017-06-04 10:42] herrjemand commented on #486
Same issue for CredAPI https://www.w3.org/TR/credential-management-1/#user-mediated-selection

[2017-06-04 10:45] herrjemand commented on #474
@equalsJeffH by "valid domain", are you referring to: https://url.spec.whatwg.org/#valid-domain-string?

[2017-06-04 18:51] AngeloKai commented on #85
Cleaning up the issues list... Assigning this to @leshi and @jcjones because they two are last seen on the thread. Based on @leshi's response, I think we can close this issue?

[2017-06-05 04:20] herrjemand commented on #473
+1

[2017-06-05 19:46] equalsJeffH commented on #486
this was discussed in this thread: https://lists.w3.org/Archives/Public/public-webauthn/2017May/0174.html

sam W. reported in: https://lists.w3.org/Archives/Public/public-webauthn/2017May/0184.html

"publish another WD".  If that fails, we can try to debug further.

..though no one has republished WD-05 as yet.  :(

[2017-06-05 20:32] equalsJeffH commented on #456
@AngeloKai, by "the spec" do you mean the (submitted) "FIDO Specification on W3C" (site) ?  I am guessing that is what @caileb2017 is referring to.

although, there is no "setAttestationChallenge()" in the submitted FIDO 2 specs.

I did find it in [fido-uaf-reg-v1.1-rd-20161005.html](https://fidoalliance.org/specs/fido-uaf-v1.1-rd-20161005/fido-uaf-reg-v1.1-rd-20161005.html) which is now supersede

[2017-06-05 20:37] equalsJeffH commented on #454
well, I think we were talking more in regards to security considerations.

[2017-06-05 20:39] equalsJeffH commented on #85
see also #404

[2017-06-05 20:44] AngeloKai commented on #404
Assigning this to @equalsJeffH because he proposed the issue.

[2017-06-05 21:12] AngeloKai commented on #486
@equalsJeffH I will try republishing later tonight. Wendy helped me out last time because there was a bug with the publication. @wseltzer is there any caveat with re-publishing, such as I should remove the old link first?

[2017-06-05 21:25] equalsJeffH commented on #404
I'm fine with working on this issue.  we still would like some input from @slightlyoff it seems.

[2017-06-05 21:39] AngeloKai commented on #454
I talked with @equalsJeffH. I think there's a bit of difference of interpretation to how our issue assigning process works. Since I'd like to have more stale issues to be resolved, I self-assigned myself to the issue.

[2017-06-05 21:47] equalsJeffH opened #488 "MakeCredentialOptions should be MakePublicKeyCredentialOptions"
`AssertionOptions` became `PublicKeyCredentialRequestOptions`

`ScopedCredentialOptions` became `MakeCredentialOptions`

MakeCredentialOptions should be MakePublicKeyCredentialOptions for consistency and clarity.

[2017-06-05 21:50] AngeloKai commented on #461
@gmandyam can you please resolve this issue? It does appear that the PRs depend on this to be resolved.

[2017-06-05 21:53] AngeloKai commented on #456
@equalsJeffH Interesting. I guess I don't have enough context here with regarding to Android attestation and UAF. Perhaps @leshi has more context.

[2017-06-05 21:55] equalsJeffH commented on #278
We've done some renaming since this issue was submitted. Presently:
* AssertionOptions -> PublicKeyCredentialRequestOptions
* ScopedCredentialOptions ->  MakeCredentialOptions

..so I will update the title of this issue.

Also, the alignment of WebAuthn with [CredMan](https://w3c.github.io/webappsec-credential-management/) _did not_ address this issue as I'd been (incorrectly) suspecting.

PublicK

[2017-06-05 22:09] equalsJeffH commented on #285
`[SameObject]` definition [is here](https://heycam.github.io/webidl/#SameObject).

So it seems @jyasskin is asserting that all the `readonly` interface attrs in our collected WebAuthn IDL ought to be `[SameObject]`.  Looks reasonable to me. I will effect the change.

[2017-06-05 23:41] equalsJeffH commented on #414
the inconsistency discussed in https://github.com/w3c/webauthn/issues/414#issuecomment-298119275 above was resolved in PR #464 i believe, so everything mentioned in this issue is now addressed AFAIK. Close it?

[2017-06-05 23:43] equalsJeffH commented on #468
This was essentially fixed in PR #464, and the reference to #403 is not terribly relevant here. close this?

[2017-06-06 03:54] gmandyam commented on #461
@AngeloKai

Will take a look and create PR.

[2017-06-06 15:55] rlin1 commented on #481
I didn't invent the "platform-specific" procedure - it was there before.
I think such platform specific procedure works fine for bound authenticators.
At this time I don't see a functionality in CTAP that would allow any platform implementing such procedure for roaming authenticators.

As a consequence I think the best thing a platform can do in such case is sending an empty credential list to the

[2017-06-06 16:09] kpaulh commented on #414
Yep! Thanks.

[2017-06-06 16:09] #414 closed

[2017-06-06 16:34] equalsJeffH commented on #481
yes, I realize that.

At this time I don't see a functionality in CTAP that would allow any platform implementing such procedure for roaming authenticators.

Ok.

According to the web authn spec on authenticatorGetAssertion the authenticator can handle empty credential lists.

Ok, then perhaps the current state of PR #427 addresses this.

[2017-06-06 18:06] equalsJeffH commented on #480
over in PR #427, @rlin1 said the below (https://github.com/w3c/webauthn/pull/427#issuecomment-306543869) which is relevant to this issue:

One more comment: the "in parallel for each credential C" seem to implicitly assume that each Authenticator related to the different credentials C could "display" (e.g. flash LED etc.) something to the use *in parallel*.
Note: If you have two bound authenticato

[2017-06-06 18:11] #387 closed

[2017-06-06 18:11] #481 closed

[2017-06-06 18:22] equalsJeffH commented on #462
added to list in the OP:
[code]

local configuration knowledge

[2017-06-06 19:23] qdot opened #490 "CredentialCreationOptions can't have a nullable MakeCredentialOptions"
The CrednetialCreationOptions dictionary definition lists the MakeCredentialOptions member as nullable. According to the WebIDL spec, dictionary type members of dictionaries cannot be nullable.

https://www.w3.org/TR/WebIDL-1/#idl-nullable-type

[2017-06-06 19:31] equalsJeffH commented on #278
@bzbarsky @jyasskin -- your thoughts on above https://github.com/w3c/webauthn/issues/278#issuecomment-306321898, should we just do this, and do we do something with rpId or just leave it as-is ?

[2017-06-06 19:53] equalsJeffH commented on #490
@mikewest @battre  --  do you know why https://w3c.github.io/webauthn/#credentialcreationoptions-extension and https://w3c.github.io/webauthn/#credentialrequestoptions-extension are using nullable types, and whether it is legit or not? thx.

[2017-06-06 20:04] bzbarsky commented on #278
I'm not obviously seeing that in https://w3c.github.io/webauthn/ as of today.

You can only inherit from one thing.

The point of this issue was that there was some stuff that was defined multiple times and could just be defined once instead.  But that may not be viable with a different inheritance model for these dictionaries, in which case you do just copy/paste as needed, at least until https:/

[2017-06-06 20:19] wseltzer commented on #486
Aha, the problem is that the links to images aren't absolute, so we either need to upload them to the w3.org site or use absolute references.

[2017-06-06 20:30] AngeloKai commented on #486
@wseltzer Can you please let me know how I should upload the images? We can also try the absolute references approach but keeping things under w3c control is probably a good idea.

[2017-06-06 20:53] equalsJeffH commented on #486
the images are spec-version-specific, so really need to be submitted along with the rendered spec itself.  It appears we did this successfully in all the prior public working draft releases, so there is perhaps some magic to perform at publication time?  we may need to ask @vijaybh since IIRC he pub'd the prior ones.

[2017-06-06 21:18] equalsJeffH commented on #278
pls see..

https://w3c.github.io/webauthn/#credentialcreationoptions-extension
https://w3c.github.io/webauthn/#credentialrequestoptions-extension

d0h!    0_o

Ok, so shall we close this issue?  thx for your help.

[2017-06-07 00:29] bzbarsky commented on #278
Neither of those is inheritance...  Those are a dictionary with a member that is itself a nullable dictionary.

[2017-06-07 00:31] bzbarsky commented on #278
So in particular, to pass a CredentialCreationOptions thing to `create` with the links above, you'd do:

    navigator.credentials.create({ publicKey: { rp: stuff, ... } })

[2017-06-07 16:10] jyasskin commented on #461
FWIW, @balfanz argued that we have two classes of users, neither of who needs this support in V1:
1. Public-facing sites like Facebook, Twitter, etc.: These sites are likely to accept any trust anchor, since it's better than a password.
2. Enterprises, maybe banks, etc.: These sites can tell their users "use exactly the key I give you", and it's ok if the UX for the user presenting a different key

[2017-06-07 18:47] wseltzer commented on #486
ok, for this draft, fixed by uploading the images to the WD-specific directory (
https://www.w3.org/TR/2017/WD-webauthn-20170505/) from whence they also show up in the /TR page.

[2017-06-07 19:02] jyasskin commented on #490
FWIW, I don't see a good reason to make those fields nullable. They're already optional because they don't say `required`, and we don't need to be able to spell "not there" both `undefined` and `null`.

[2017-06-07 19:07] herrjemand commented on #486
Thanks @wseltzer! It werkes!

[2017-06-07 19:07] #486 closed

[2017-06-07 20:05] equalsJeffH opened #491 "various issues with AppId extension"
There are various issues with the AppId extension as presently written:

1.  why is [the appId extension](https://w3c.github.io/webauthn/#sctn-appid-extension) used only during [get()](https://w3c.github.io/webappsec-credential-management/#dom-credentialscontainer-get) (which in this case is impl'd by [PublicKeyCredential’s  \[\[DiscoverFromExternalSource\]\](options) method)](https://w3c.github.i

[2017-06-07 20:11] equalsJeffH commented on #490
Ok, so we can just delete the "?"s in both of..
[code]

..and we are good?

[2017-06-07 20:13] equalsJeffH commented on #278
@bzbarsky patiently explained:

d0h! 0_o     ...gotcha.

Ok, thanks, so we can close this issue?

[2017-06-07 20:15] AngeloKai commented on #486
Just for record keeping purpose, the reason why we didn't submit it through echnida is because of the following issue:

[2017-06-07 20:21] AngeloKai opened #492 "Update README.md to include more specific instructions for spec submission"
I had a few hiccups when I was submitting the spec, such as this one: https://github.com/w3c/webauthn/issues/486. Keeping an issue open to remind myself to update the README.md once I have some bandwidth.

[2017-06-07 20:49] equalsJeffH commented on #461
WRT the orig post (OP) https://github.com/w3c/webauthn/issues/461#issue-228097099: note that preceding Step 11 of [Registering a new credential](https://w3c.github.io/webauthn/#registering-a-new-credential) says:

Which means an RP in (2) above will likely have such information on-hand.

Though, having a means for the RP to indicate to the client which authnrs are acceptable when invoking the [[Cr

[2017-06-07 21:14] bzbarsky commented on #278
That's up to you, basically.  I don't have strong opinions about which member definitions should be duplicated and which should be shared for which of these dictionaries.

[2017-06-07 22:52] equalsJeffH commented on #358
adding to the original post (OP):

* key material

[2017-06-07 23:18] equalsJeffH opened #493 "be explict about "same user" is verified at get() time as was verified at create() time"
this may involve some changes to the two main algorithms, and definitely should be mentioned in the user verification definition.  as @jyasskin notes in PR #460:

[2017-06-07 23:53] AngeloKai commented on #493
+1 on clearer step, though I am not sure how to do that. Obviously all platforms use some sort of storage structure to memorize each user and associate the gestures. However, beyond that, I have very limited knowledge of how it is done. I am also not sure about the IP aspect because different device manufacturers use different ways to identify users.

[2017-06-08 01:56] equalsJeffH commented on #493
We do not have to get into details. I am thinking we can have a generic high-level fairly abstract statement to the effect that: user verification at [{#getAssertion}](https://w3c.github.io/webauthn/#getAssertion) time must identify the same user as was verified at [{#createCredential}](https://w3c.github.io/webauthn/#createCredential) time.  or something to that effect that we can agree on.

[2017-06-08 16:50] battre commented on #490
We need these to be nullable because we extend the CredentialCreationOptions type that is shared by all profiles of the Credential Management API.

The following would have a nulled publicKey but would be valid:
navigator.credentials.create({password: {...}});

[2017-06-08 17:01] jyasskin commented on #490
@battre: `navigator.credentials.create({password: {...}})` creates a dictionary with a [not present](https://heycam.github.io/webidl/#dfn-present) `publicKey` member, not a `null` one. You only need these fields to be nullable in the dictionary if you want to enable and give a meaning to `navigator.credentials.create({publicKey: null})`, which I don't think you do.

[2017-06-08 17:12] battre commented on #490
That makes sense. Thanks for educating me.

[2017-06-09 22:46] equalsJeffH opened #494 "complete terminology cleanup from PR #427"
I've noticed I left a few items of terminology in a ragged state when doing PR #427. addressing this will essentially be just renaming a couple local variables in the two main API methods:

exludeList -> excludeCredentialDescriptorList
credentialDescriptorList -> allowCredentialDescriptorList

..and using "credential descriptor" rather than "credential" in prose.

[2017-06-12 20:58] AngeloKai commented on #245
@equalsJeffH As we discussed on the call, let me add a few more explanation here:

[2017-06-12 21:06] AngeloKai commented on #402
Adding the milestone tag to the issue. It seems like the circumstances have changed since the last conversation on this one. The CredMan spec changed their API surface. Maybe something was decided during a WG call. If so, should we close the issue? @jyasskin

[2017-06-13 00:04] equalsJeffH commented on #402
added [stat:Discuss] label :)

[2017-06-13 14:56] jyasskin commented on #486
Filed in specberus as https://github.com/w3c/specberus/issues/622.

[2017-06-13 18:39] #285 closed

[2017-06-13 18:39] #326 closed

[2017-06-13 18:39] #327 closed

[2017-06-13 18:39] #329 closed

[2017-06-13 18:39] #351 closed

[2017-06-13 18:39] #392 closed

[2017-06-13 18:39] #490 closed

[2017-06-13 18:39] #494 closed

[2017-06-14 17:52] selfissued commented on #180
BTW, I don't like introducing the term "WRP".  If we abbreviate, let's stay with the standard "RP" abbreviation.

[2017-06-14 17:59] rlin1 commented on #480
Approach:
1. create a list of all authenticators involved
2. do in parallel  for each authenticator in that list
    do the current step 1 and step 2 but the credentialList filtered by the specific authenticator.

[2017-06-14 19:46] AngeloKai commented on #180
By the way, all the [RP] and [RPS] are changed to [=[RP]=] when we were publishing WD-05.

[2017-06-14 20:37] equalsJeffH commented on #358
added to OP:

authenticator
* platform-provided authenticator
* platform authenticator

[2017-06-14 20:39] equalsJeffH commented on #462
added to list in the OP:
[code]

[2017-06-14 21:22] equalsJeffH commented on #180
@selfissued, @AngeloKai, understood.

[2017-06-15 17:23] cyberphone commented on #331
Millions of users of pre-FIDO solutions are already using cloud (OOB) based authentication of the type I guess this issue about.  Here is an outline of an enhanced version of such schemes that _may_ fit FIDO as well:
https://github.com/w3c/web-nfc/issues/128#issuecomment-308647894

[2017-06-15 22:09] AngeloKai commented on #245
My original proposal includes two change:

[2017-06-15 22:33] AngeloKai commented on #278
Reading through the comments, it seems like we may be able to close the issue though some more discussions may be needed. Adding a discussion tag.

[2017-06-15 23:00] AngeloKai commented on #245
My original post proposes two changes to the spec:

1. Remove the "required" keyword from PublicKeyCredentialDescriptor.id, which is a member of the allowCredentials and excludeCredentials dictionary.
2. Change the relevant prose to say that allowCredentials and excludeCredentials are "lists of search criteria to find credentials acceptable to the callers."

Reading from J.C.'s comment, I believe

[2017-06-16 03:38] equalsJeffH commented on #480
It turns out that the above approach (https://github.com/w3c/webauthn/issues/480#issuecomment-308510804) is what is already in the spec at this time (and even before) (doh!).

in looking further into this, I'm thinking we should perhaps try...

1. create a list of all authenticators involved
2. For each authenticator currently available on this platform, perform the following steps:
    1. If opti

[2017-06-16 08:50] rlin1 commented on #480
Note that step 16 already does that, i.e. For each authenticator currently available on this platform, perform the following steps:.
As a consequence allowCredentialDescriptorList only contains the credentials bound to that specific authenticator (see step 16.2).

Additionally, I think the algorithm must distinguish 2 cases:
a) options.allowCredentialDescriptorList is non-empty
b) options.allowCre

[2017-06-16 16:44] equalsJeffH commented on #462
added to list in the OP:

cross-platform transport protocols
[code]

[2017-06-16 18:07] equalsJeffH commented on #480
thanks much for your thoughts @rlin1

my apologies, what I posted in https://github.com/w3c/webauthn/issues/480#issuecomment-308924747 is a summary abstraction of this portion of the alg, in a similar vein to the directly prior post https://github.com/w3c/webauthn/issues/480#issuecomment-308510804, and so omitted details.

understood.

agreed, the alg already does that in current step 16.3. I had

[2017-06-16 19:16] AngeloKai commented on #461
Given that the related issues are all tagged as CR, moving this issue to milestone CR.

[2017-06-16 19:36] gmandyam commented on #461
@AngeloKai

Based on discussion in weekly conf. call on 06-14-2017, it does not seem like declaring preferred trust path in the API  is the method that group participants want to use to address this problem.  The preference would be to accept all trust paths, but have the RP communicate back with the user that the selected authenticator is not acceptable if the selected authenticator's trust path

[2017-06-16 19:41] cyberphone opened #496 "Cloud Based "Phone Token" Option"
### Defensive Publication
The following was not developed for WebAuthn but _may_ be usable anyway.  Similar systems using QR code or phone numbers instead of NFC are in fairly big use in Europe including millions of frequent users in Sweden only.  Payments is another major application, particularly in China.

Using Web NFC adds several qualities over the existing schemes:
- No need explicitly star

[2017-06-16 20:00] equalsJeffH opened #497 "update #credentialcreationoptions-extension & #credentialrequestoptions-extension section titles"
update #credentialcreationoptions-extension & #credentialrequestoptions-extension section titles such that they are not confused with (webauthn) "extensions". e.g.:

### `CredentialCreationOptions` Dictionary Extension ### {#credentialcreationoptions-extension}

### `CredentialRequestOptions` Dictionary Extension ### {#credentialrequestoptions-extension}

[2017-06-16 21:56] equalsJeffH commented on #468
yes, this was fixed by PR #464

[2017-06-16 21:56] #468 closed

[2017-06-16 22:28] AngeloKai commented on #497
I get the interest in furthering clarifying this. Perhaps an easy fix is to get the word 'extension" from the section titles?

[2017-06-16 22:31] AngeloKai commented on #461
Close as requested.

[2017-06-16 22:31] #461 closed

[2017-06-16 23:11] equalsJeffH commented on #497
i would rather just add "Dictionary" to the titles as illustrated above.

[2017-06-16 23:17] equalsJeffH commented on #472
Hm, if the authnr's returning of Credential ID is optional in the case where the webauthn client invokes `authenticatorGetAssertion()` with exactly one credential descriptor in allowCredentials[], then in this case the client needs to maintain state -- the Cred ID -- until the call to `authenticatorGetAssertion()` returns and then set {{PublicKeyCredential/[[identifier]]}} to the saved value, yes?

[2017-06-17 13:04] rlin1 commented on #480
If the caller doesn't provide any list of credentials, i.e. options.allowCredentials is empty, then all connected authenticators need to be asked.  This is the password replacement case.

Whether this is done as separate case a or implicitly is not that important.

[2017-06-17 16:50] bzbarsky commented on #472
Please re-cc me if there's a specific question for me.

[2017-06-19 18:10] equalsJeffH commented on #472
@bzbarsky yes, [the above questions](https://github.com/w3c/webauthn/issues/472#issuecomment-309160109) are for you _if you have time to consider them_ (the other guys are  out-of-pocket for a while). thanks.

[2017-06-19 18:18] equalsJeffH commented on #480
@rlin1

Whether this is done as separate case a or implicitly is not that important.

Ok, please review PR #495

[2017-06-19 18:28] bzbarsky commented on #472
I guess I just don't understand the questions then.  They seem to be about details of authn that I'm not familiar with, not about the general platform integration aspects....

[2017-06-19 20:06] equalsJeffH commented on #472
The questions are about how to save state (a particular value) from before the invocation of an async operation, until the async operation returns, and then combine the saved value with the async op's returned values.  abstracted out, it's like this:

if a given sequence |A| has exactly one value, then let |S| be a new `ArrayBuffer`, created using |global|'s `%ArrayBuffer%`, and containing the byt

[2017-06-19 20:52] bzbarsky commented on #472
So basically you want to pass some sort of data through the async op?  I'm not sure what the best current spec language for that is.  @domenic ?

[2017-06-19 20:57] domenic commented on #472
I'm having a hard time understanding the above, and I tried reading https://github.com/w3c/webauthn/commit/31a8f855649dd120141d7ed42290d39e8c1d897e, but without context it's not very intelligible to me. At first glance those sentences seem OK-ish, although generally you want to be more explicit about going in-parallel and then posting a task to get back to the main thread. But it seems like you're

[2017-06-19 21:11] equalsJeffH commented on #472
Well, not "through" the async op. Rather, want to remember something "globally" (on the "main thread" ?) "outside" the async op.

So, thanks guys -- I take that as meaning that at a first-order approximation the new language is OK enough for now.

wrt..

might you be able to point to a spec that does the above, that we might learn from?

thanks again.

[2017-06-19 21:18] domenic commented on #472
https://www.w3.org/2001/tag/doc/promises-guide#queue-tasks

[2017-06-19 22:22] equalsJeffH commented on #472
Ok thanks.   Is not "posting a task to get back to the main thread" part of inherent Promise machinery?  In the case of [the alg discussed](https://w3c.github.io/webauthn/#getAssertion) here, it is called-into by [navigator.credentials.get()](https://w3c.github.io/webappsec-credential-management/#dom-credentialscontainer-get) wherein the Promise resolution/rejection is handled.

[2017-06-20 19:53] domenic commented on #472
If the only thing you do back on the main thread is resolve/reject a promise with a pre-existing value (usually undefined), then we have [defined](https://www.w3.org/2001/tag/doc/promises-guide#shorthand-manipulating) them to post a task. (Although that is somewhat controversial/buggy; see https://github.com/w3ctag/promises-guide/issues/52.)

But if you do anything else back on the main thread, su

[2017-06-20 22:42] equalsJeffH commented on #472
Thanks for the review & guidance @domenic !

@domenic noted in irc #whatwg that when he says "post a task", he means "[[=queue a task=]](https://html.spec.whatwg.org/#queue-a-task)"

@domenic wrote:

Ok.

Ok, will look to https://github.com/WebAssembly/design/pull/1093 ([preview](https://github.com/WebAssembly/design/pull/1093/files?short_path=8e85308#diff-8e85308ab5cc1e83e91ef59233648be2)) for gu

[2017-06-20 23:57] equalsJeffH commented on #254
re-opening since the alignment-with-credman work we did in PR #384 and subsequently has violated @bzbarsky's assertion in the orig post (OP) above that "Whatever work is done with settings objects and origins needs to be done before going async."

credman's [Create a `Credential`](https://w3c.github.io/webappsec-credential-management/#algorithm-create) and [Request a `Credential`](https://w3c.gith

[2017-06-21 15:08] bzbarsky commented on #254
Yes, you need to grab any information like that before going parallel, in general.

[2017-06-22 18:32] equalsJeffH commented on #358
added to OP:

user verification
* obtains a biometric or other authorization gesture from the user (should be "verifies the user"?)

[2017-06-22 18:38] nadalin commented on #496
In FIDO we have looked at things like QR codes, call backs, etc. we found these interesting but not a option for the first release

[2017-06-22 18:49] cyberphone commented on #496
Apparently this use case is already dead since the PC vendors do not intend to include NFC support since there is [currently] no use case for NFC which BTW was one of the motives behind this design.

[2017-06-22 18:49] #496 closed

[2017-06-23 00:18] gmandyam commented on #483
Addressed in https://github.com/w3c/webauthn/pull/499

[2017-06-23 18:30] AngeloKai commented on #245
Attempted to be addressed by https://github.com/w3c/webauthn/pull/500

[2017-06-23 22:46] AngeloKai commented on #410
We should probably address this after https://github.com/w3c/webauthn/issues/349 is addressed.

[2017-06-26 21:13] equalsJeffH commented on #268
**reopening because:** `excludeList` aka `excludeCredentials` (along with `allowList` aka `allowCredentials`) was defined as defaulting to a zero-length sequence in commit https://github.com/w3c/webauthn/commit/8963f2144585bc435e0b4d22b4cbf2ab2d391f2d, but the ` = []` was dropped from `excludeCredentials` in some recent commit.  We need to fix it.

[2017-06-26 22:44] equalsJeffH commented on #245
@AngeloKai wrote

agreed.

Actually, @jcjones [says "I could go either way" about the above](https://github.com/w3c/webauthn/issues/245#issuecomment-302277978).

Though, in reviewing PR #500, I am wondering whether the change proposed by this issue is actually necessary.  You wrote:

..but an RP would in the above case restrict credential creation & registration to the cred type(s) it understands,

[2017-06-27 20:09] equalsJeffH commented on #472
see also issue #254 "There is no "current settings object" in algorithm steps that are executing in parallel" for additional context wrt what's at issue here.

[2017-06-27 20:12] equalsJeffH commented on #254
this issue is in general relevant to issue #472

[2017-06-27 23:43] equalsJeffH commented on #374
Given that as of merging of PR #384 webauthn depends upon credman -- [which is (presently) restricted to top-level browsing contexts](https://w3c.github.io/webappsec-credential-management/#security-origin-confusion) -- shall we close this issue?

[2017-06-28 01:01] AngeloKai commented on #374
@equalsJeffH I agree now that webauthn depends upon credman, which is restricted to top-level browsing context, webauthn should be restricted in the same way. However, this restriction appears to be an accidental by-product of the merge rather than a deliberate product. I'd feel much more comfortable closing this issue after we talked it through on the WG call and everyone is on the same page.

Wh

[2017-06-28 16:31] equalsJeffH commented on #374
@AngeloKai thanks for your thoughts and the reference to relevant issue #458

Well, my point is that this _is_ already "decided" in the sense that [credman](https://w3c.github.io/webappsec-credential-management/) is (presently) restricted to top-level browsing contexts ([see the security considerations here](https://w3c.github.io/webappsec-credential-management/#security-origin-confusion)), so as

[2017-06-28 19:07] AngeloKai commented on #374
@equalsJeffH Agreed that the spec currently is doing this. It's just that I am not sure everyone in the WG, including the two other browser folks, actually know that the spec currently says this. @nadalin perhaps this is something we should bring up at the next WG call.

In the meantime, I am fine with closing this issue and move on to discussion in the credman spec repo. Should we also open anoth

[2017-06-28 19:40] AngeloKai commented on #374
@mikewest to the thread

[2017-06-28 20:20] equalsJeffH commented on #254
see also new relevant section in HTML spec: https://html.spec.whatwg.org/multipage/webappapis.html#event-loop-for-spec-authors

[2017-06-28 21:07] gmandyam commented on #483
PR approved

[2017-06-28 21:07] #483 closed

[2017-06-28 23:17] equalsJeffH commented on #245
we moved the relevant PR #500 to milestone CR on the webauthn call today 28-Jul-2017, so doing same with this issue.

[2017-06-28 23:23] equalsJeffH commented on #268
I queued the fix for this in PR #495

[2017-07-05 17:22] #268 closed

[2017-07-05 17:22] #475 closed

[2017-07-05 17:22] #480 closed

[2017-07-05 21:20] equalsJeffH commented on #358
added to OP:

signature
* webauthn signature

[2017-07-05 21:21] equalsJeffH commented on #462
added to list in the OP:

signature

[2017-07-05 21:31] equalsJeffH commented on #393
part of fixing this is where we say..

   contents of this object are determined by the attestation statement
   format used by the authenticator.

..to rather say something like..

..because the former is incorrect in that it is saying the attstnObj's format is determined by the attestation statement format, where it is actually only a component of the attstnObj that varies per attestation stmt f

[2017-07-07 00:50] hillbrad opened #503 "Pre-Registration Discovery"
Greetings, WebAuthN folks.

Facebook has now had U2F available as a second-factor authentication technology for not quite six months.  I'd like to share some challenges we have and are encountering with our deployment in hopes that these might be addressed by the WebAuthN work.

Specifically, I want to raise the issue that the lack of pre-registration discovery presents a major obstacle to both re

[2017-07-07 16:22] rlin1 commented on #503
I think this is mainly relevant in the case of roaming authenticators as bound authenticator would always be responsive (to a create call).

But even without actively advertising the support for access to a roaming Authenticator on the platform to the RP JS Code, the Browser could remember that it has seen a roaming Authenticator before and could ask the user whether to use/insert it or to say no

[2017-07-07 16:49] hillbrad commented on #503
Even for a bound authenticator, how do I know if a given person arriving at
my service in a browser actually has an authenticator available? My request
is that:

1) Be able to determine if a given person has an authenticator available
they want to use, so that we can promote the setup flow non-intrusively.
(e.g. put an install banner across the top of the screen)  I don't want to
just randomly cal

[2017-07-07 21:34] equalsJeffH commented on #349
note that [authenticatorGetInfo() is defined in the CTAP draft spec in section 4.4](https://fidoalliance.org/specs/fido-v2.0-rd-20161004/fido-client-to-authenticator-protocol-v2.0-rd-20161004.html#authenticatorgetinfo)

[2017-07-07 21:37] equalsJeffH commented on #503
IIUC, there is work-in-progress that may address your needs, please see issues #345 and #349, and PR #379 -- does that help?

[2017-07-07 21:48] AngeloKai commented on #503
To add to @equalsJeffH's point, we saw similar issues at MS when we were talking to our partners at different websites. The amount of devices available to perform the authentication requirements are such a small number compared to the backdrop of the web. Especially since web devs are trying to write once and work everywhere, they have to have a way for figure out if the user's device is capable.

[2017-07-07 21:55] AngeloKai commented on #349
@equalsJeffH do you have a more recent version of the CTAP spec?

[2017-07-07 22:03] arshadnoor commented on #503
Since Github, apparently, does not automatically include comments submitted through public-webauthn@w3.org, I was requested to post them here for the record.  Sorry for the duplicate e-mail that goes out on this.

Hi Brad,

I'm not going to discuss the merits/demerits of "advertising" that I have a FIDO U2F Authenticator (its bad enough that business models are so skewed already to profit on users

[2017-07-09 17:42] devd commented on #503
adding a note from the Dropbox side, I do think this will tremendously help us too. Not sure the PR #379 solves the problem Brad is pointing out though: if I am reading the top level comment right, there will be a permission prompt?

[2017-07-09 22:28] AngeloKai commented on #503
@devd well the PR is structured in a way to give flexibility to the browser vendors as to how they want the experience to look like. Browsers can decide whether to give a prompt or add something in setting or other UX when they give the information to the RP. There are concerns that without the permission prompt, it'd be fingerprinting. That's why the PR mentions the permission prompt.

[2017-07-12 17:18] nadalin commented on #474
mike to create pr

[2017-07-12 17:25] nadalin commented on #254
Maybe move this to WD07

[2017-07-13 09:37] tripu commented on #486
(I edited https://github.com/w3c/webauthn/issues/486#issuecomment-306911763 right now just to wrap  chunks of HTML in backticks, so that the markup is shown.)

[2017-07-13 09:51] herrjemand opened #504 "PublicKeyCredentialDescriptor.id and PublicKeyCredentialEntity.id type differ"
PublicKeyCredentialEntity.id of type DOMString, but PublicKeyCredentialDescriptor.id of type BufferSource. I think it will be confusing for the future developers to work with the same id but in different types

[2017-07-13 09:52] herrjemand commented on #504
Maybe we should make them both DOMString?

[2017-07-13 12:54] equalsJeffH commented on #504
there were reasons we introduced using BufferSource rather than DOMString in various places: https://github.com/w3c/webauthn/issues/61

though, we've had various further issues in this context:

https://github.com/w3c/webauthn/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aclosed%20buffersource

Am not sure offhand whether we ought to change PublicKeyCredentialEntity.id of type DOMString to BufferSourc

[2017-07-13 13:04] equalsJeffH commented on #349
@AngeloKai: will send info directly.

[2017-07-13 13:06] herrjemand commented on #504
In U2F keyID is controlled by the authenticator, so it makes sense to have it binary blob.

In WebAuthn however ID is set by RP.

[2017-07-13 13:09] herrjemand commented on #504
My argument here is consistency. If we are saying that PKCDescription.id is string, the other id fields should be string as well

[2017-07-13 13:09] equalsJeffH commented on #254
moved to WD-07

[2017-07-13 13:13] herrjemand commented on #504
And it makes things far more elegant:

Before
[code]

After
[code]

[2017-07-17 17:54] jcjones opened #506 "FIDO U2F Attestation Statement Format doesn't say what to do with AAGUID"
The AAGUID field is a required part of the Authenticator Data structure. U2F devices may not have an AAGUID. (I think, if it exists, it's in the attestation certificate?)

We should define what the 128-bit AAGUID should be if if isn't known, instead of leaving it implementation-specific. Right now Firefox is leaving it as all zeroes (and not even trying to pull it out of the certificate -- that's

[2017-07-17 18:58] agl commented on #506
It could, plausibly, be defined as the truncated, SHA-256 hash of the raw, X.509 Subject field of the certificate. (I.e. including the SEQUENCE header so that it's a valid X.509 `Name` structure.)

However, at least some U2F devices have unique serial numbers in them, suggesting that either some complex normalisation needs to be defined, or perhaps that the hash of the Issuer could be used instead

[2017-07-17 19:56] jcjones opened #507 "FIDO U2F Attestation Statement Format doesn't say what to do with Counter"
Similar to #506 ... when creating a new credential, the U2F wire protocol doesn't provide back a Counter value. We should define how UAs should behave in this case.

The options we've discussed before are:

1) Encode this as all zeroes, or some other sentinel value to indicate that it is unset.

2) After generating a new credential, UAs must immediately trigger a U2F Sign operation with that crede

[2017-07-17 20:06] agl commented on #507
(Could also be resolved by removing the signature count. See #453.)

[2017-07-20 00:37] kpaulh opened #508 "Specify how to handle authenticators that are plugged after registration/signing is requested"
The spec's algorithms specify enumerating all available authenticators and then calling the respective authenticator methods on them. It appears not to allow users to attach any authenticators in the middle of this process, which currently is common behavior.

One solution might be to be notified whenever new authenticators show up and dispatch authenticatorMakeCredential / authenticatorGetAsserti

[2017-07-20 09:07] pzboyz commented on #508
The UX for people with USB and BLE authenticators should be carefully thought through.

Maybe the whole problem is solved simply having the RP prompt (if the UI allows it) the user at the time when it needs to connect to the Authenticator to tap, activate or enable the Authenticator and then hit an OK button.

[2017-07-26 01:28] jcjones opened #509 "Attestation Data defines ECC key X, Y parameters two ways"
Web Authentication defines the Attestation Data's Credential Public Key in the CBOR map as having parameters `x` and `y` of type `biguint` [1], and then refers to RFC7518 section 6.2.1.{2,3} [2] for the details:

RFC7518 defines `x` and `y` as base64url-encoded strings; presumably the language "_though not their encoding_" means to ignore that and go with them as being type `biguint`, but it'd be

[2017-07-26 17:42] nadalin commented on #278
Close w/o action pending review

[2017-07-26 17:42] jcjones commented on #278
(Going to get @jyasskin's commentary, and he should close if he agrees)

[2017-07-26 17:47] nadalin commented on #473
Create PR and merge

[2017-07-26 17:47] selfissued commented on #473
I will create a PR using the name pubKeyCredParams

[2017-07-26 17:50] nadalin commented on #488
Mike to create PR and merge

[2017-07-26 17:50] selfissued commented on #488
I will create a PR for this

[2017-07-26 17:50] jcjones commented on #488
:+1: let's do it

[2017-07-28 00:09] selfissued opened #512 "Is AlgorithmIdentifier value a string or an object?"
The examples for AlgorithmIdentifier use values such as "ES256" and "RS256" - both in WebAuthn and CTAP.  But if the WebCrypto normalization rules result in these always being objects, we should consider either using JOSE algorithm values to keep them strings or fix the examples.  I think that authenticator implementers will be much happier with strings than objects.

[2017-07-28 00:32] selfissued commented on #473
This was addressed by PR #511

[2017-07-28 00:32] #473 closed

[2017-07-28 00:33] selfissued commented on #488
This was addressed by PR #511 .

[2017-07-28 00:33] #488 closed

[2017-07-28 00:34] selfissued commented on #485
This is now addressed by PR #460 .

[2017-07-29 00:08] #485 closed

[2017-08-02 04:16] jyasskin commented on #278
So, we have:

[code]
and
[code]

We could extract `challenge`, `timeout`, and `extensions` into a base dictionary, probably of the form:

[code]

However, I tend to find that the specification of extracted fields is harder to understand than if they're just duplicated, so I endorse duplicating these. If the two dictionaries were passed to a common operation, that might be a reason to extract the b

[2017-08-02 16:18] jcjones commented on #278
Agreed with @jyasskin's analysis. Closing.

[2017-08-02 16:18] #278 closed

[2017-08-02 22:10] #459 closed

[2017-08-02 22:18] selfissued commented on #345
This issue was addressed by PR #379 .

[2017-08-02 22:18] #345 closed

[2017-08-02 23:27] equalsJeffH commented on #474
@herrjemand, I could go either way on this, I think given the way the URL and HTML specs are presently written that using either `[=valid domain=]` or `[=valid domain string=]` is correct.

[2017-08-02 23:41] equalsJeffH opened #517 "document why only "valid domain" format is allowed for "effective domain""
the rationale is [essentially the same as for HSTS, which is documented like so](https://tools.ietf.org/html/rfc6797#appendix-A)...
[code]

[2017-08-02 23:42] jcjones commented on #474
Out of the two, I would prefer "valid domain string", as WD-06 types RP ID as a "domain string" elsewhere.

[2017-08-03 00:20] #474 closed

[2017-08-03 01:13] selfissued opened #518 "Update Attestation Object figure to match the spec"
In Figure 3 at https://w3c.github.io/webauthn/#fig-attStructs:

- Add "uv" as bit 2 of the flags.
- Rename "tup" to "up" in bit 0 of the flags.
- After PR #514 has been merged, change the text "variable length (CBOR)" to "variable length (COSE_Key)".

[2017-08-03 18:10] nadalin commented on #518
@equalsJeffH can you please look at this and create a PR so we can get this merged ?

[2017-08-03 19:47] selfissued commented on #518
Figure 1 "Authenticator data layout" in Section 5.1 also needs to be updated to rename TUP to UP and to add the UV bit.

[2017-08-04 16:22] selfissued commented on #512
This was closed by PR #514 .

[2017-08-04 16:22] #512 closed

[2017-08-04 16:22] selfissued commented on #518
This was closed by PR #514 .

[2017-08-04 16:22] #518 closed

[2017-08-04 22:15] equalsJeffH opened #520 "do not need to normalize web crypto params any longer"
PR #514 freed us from the need to normalize web crypto params, but steps to do such remain in [#createCredential ](https://w3c.github.io/webauthn/#createCredential) steps 10, 11, 12, and 24.3.  Need to fix this.

[2017-08-04 22:23] AdamSobieski opened #521 "Public Key Infrastructures and Web Authentication"
Discussed are public key infrastructures and X.509 certificates as components of user authentication and digital signing scenarios through a web browser.

## Operating Systems and Banks

During the installation of operating systems, users may initialize digital wallets and app store experiences.  As users enter their credit card, debit card or bank account information, this is an opportunity for o

[2017-08-06 20:39] AdamSobieski commented on #521
X509 certificates commonly utilize _issued by_ and _issued to_ information.  Regarding question 2 (see also: #458), which broaches cross-domain keys, options include extending X509 certificates to include _issued for_ information, a sequence of domains with wildcards, to specify the domains which a certificate is intended for.

Operating system vendor-provided certificates could utilize the wildca

[2017-08-07 00:57] AdamSobieski commented on #521
Regarding scenario 1, this seems to involve a new user permission, where a permission request event, an alert or popup, occurs with text resembling: "This website wants to know your real name."

[2017-08-07 18:14] equalsJeffH commented on #322
Also, the spec ought to have a separate "privacy considerations" section.

[2017-08-07 19:29] #520 closed

[2017-08-07 22:06] AngeloKai commented on #458
One interesting thing to note here is that the Chrome's implementation of Credential Management API does allow credentials to be shared between origins through the use of [digital asset links](https://developers.google.com/digital-asset-links/v1/getting-started). It seems a relatively risky decision given that the file may be hacked. But I am sure @mikewest have given it some thoughts. Could we us

[2017-08-08 09:38] mikewest commented on #380
Looks like this has solidified into https://dom.spec.whatwg.org/#aborting-ongoing-activities.

[2017-08-08 10:14] jakearchibald commented on #380
It sure has! Is it suitable for what you need?

[2017-08-08 22:44] equalsJeffH opened #524 "Not necessary to pass AuthenticatorSelectionCriteria members to authenticatorMakeCredential()"
In reviewing the present state of [webauthn](http://w3c.github.io/webauthn/) in the context of reviewing some CTAP changes, I (finally, sigh) noticed that we are passing `options.authenticatorSelection.rk` and `options.authenticatorSelection.uv` to   authenticatorMakeCredential().

This is unnecessary [IIUC](http://onlineslangdictionary.com/meaning-definition-of/iiuc).  Note that `options.authenti

[2017-08-08 22:46] equalsJeffH commented on #524
fwiw, passing options.authenticatorSelection.rk and options.authenticatorSelection.uv to authenticatorMakeCredential() was added in these two recently-merged PRs:

https://github.com/w3c/webauthn/pull/502 add requireResidentKey param to the invocation step of authenticatorMakeCredential

https://github.com/w3c/webauthn/pull/460 Adds requireUserVerification option in AuthenticatorSelectionCriteria

[2017-08-08 23:18] selfissued commented on #524
They are passed dynamically to allow authenticators, for instance, to support both resident keys and non-resident keys.  Likewise, it's fine for authenticators supporting user verification to use this functionality to only provide user presence, when UV isn't needed.

I understand your point, but particularly for software authenticators, I suspect that many will be able to tailor their functionali

[2017-08-09 00:52] nadalin commented on #156
@rlin1 @selfissued  is this still valid ?

[2017-08-09 01:07] selfissued commented on #156
It's not clear to me what practical interoperable value UVI has.  What are RPs expected to do when UVI matches a previous version?  What are they expected to do when they don't match?

If this is already clearly explained by a publicly available FIDO UAF document, please provide a URL and the relevant section numbers.

Unless this is going to be useful and used, we should consider deleting the UVI

[2017-08-09 07:56] rlin1 commented on #156
1) What are RPs expected to do when UVI matches a previous version?
If it matches a set of previously seen UVI values that are tied to the legitimate user, the RP has strong assurance that the same user approved the action.  So all RPs (including the ones that care about "friendly fraud") could accept the action.

2) What are they expected to do when they don't match?
RPs that care about "friendly

[2017-08-09 08:16] dontcallmedom opened #526 "Conflicting definition of AlgorithmIdentifier"
`AlgorithmIdentifier` is defined in [Web Crypto](https://w3c.github.io/webcrypto/Overview.html#algorithm-dictionary) as `typedef (object or DOMString) AlgorithmIdentifier`; the [latest editor draft of WebAuthn](https://w3c.github.io/webauthn/#alg-identifier) redefines it as `typedef (short or ByteString) AlgorithmIdentifier` - is it meant to override the Web Crypto definition? if not, a different

[2017-08-09 16:34] equalsJeffH opened #527 "revise approach of isPlatformAuthenticatorAvailable()"
@mikewest offers an alternative approach to isPlatformAuthenticatorAvailable() (embodied by the already-merged PR #379) here https://github.com/w3c/webauthn/pull/379#issuecomment-308037955

Also, discussion on pr #379's approach has been continuing post-merge (see @balfanz s https://github.com/w3c/webauthn/pull/379#issuecomment-320375807 and subsequent comments).

I support @mikewest's and @balfan

[2017-08-09 17:30] equalsJeffH commented on #527
discussion on webauthn call 9-Aug-2017 w/ @kpaulh @jyasskin @selfissued @AngeloKai , we decided to go with PR #523 rather than this approach.

[2017-08-09 17:30] #527 closed

[2017-08-09 17:31] jcjones opened #529 "Include Constants for COSE Algorithm Numbers"
It might be nice for implementations to be able to use constants to refer to the `-7` and `-257` values for [the COSE algorithm shorts](https://www.iana.org/assignments/cose/cose.xhtml#algorithms) rather than having to use magic numbers in their JS.

[2017-08-09 17:32] selfissued commented on #526
What do people think of the name COSEAlgId?

[2017-08-09 17:52] jyasskin commented on #458
I think @AngeloKai's original problem is of a small organization moving from old.example.com to new.example.com. They have a trusted credential-source bound to old.example.com and need to either move it to new.example.com or create a new trusted credential-source bound to new.example.com.
1. User visits new.example.com/login.
2. User is redirected to old.example.com/move-credential
3. Server, whic

[2017-08-09 17:56] selfissued commented on #458
Most seemed to feel that federation was the right way to solve this - where an organization uses a single IdP for the FIDO RP and then uses federation, such as OpenID Connect, from the IdP to other domains.  For instance, you log into youtube.com and gmail.com at login.google.com.

@equalsJeffH suggested on today's call that the right place to do this in DNS.

On the call we also mentioned that Ch

[2017-08-09 18:12] jcjones opened #530 "Make U2F Attestation Format "sig" more precise"
[Section 7.6](https://w3c.github.io/webauthn/#fido-u2f-attestation) defines the syntax of the **sig** field for the U2F Attestation Format as "The attestation signature." The Firefox [implementation chose (incorrectly)](https://bugzilla.mozilla.org/show_bug.cgi?id=1387820) to use the whole U2F signature response, including counter and flags, rather than the bare signature.

It would be good to adj

[2017-08-09 18:23] equalsJeffH commented on #530
However, note that the Firefox bug [1387820](https://bugzilla.mozilla.org/show_bug.cgi?id=1387820) is regarding the returned **_authentication assertion_** signature, rather than the **_attestation_** signature.

that said, yes, [Section 7.6](https://w3c.github.io/webauthn/#fido-u2f-attestation)  [#fido-u2f-attestation](https://w3c.github.io/webauthn/#fido-u2f-attestation)  could use thorough revi

[2017-08-09 19:07] arshadnoor commented on #458
While @AngeloKai's use-case in the original posting is a valid one, the right way to address this problem is through a business transaction, and to keep the authentication protocol true to one of its core principles: preserving a user's privacy.  I fear that the  compromise of web-applications at one site may be used to exploit FIDO credentials at another site if this privacy barrier is broken at

[2017-08-09 22:55] selfissued commented on #526
This was fixed by PR #531 .

[2017-08-09 22:55] #526 closed

[2017-08-10 20:02] AngeloKai commented on #380
@mikewest The PR looks enough for this need. Looking through the PR, it looks like we still need to add a few sentences in our algorithm section about how we accept the AbortSignal.

[2017-08-10 20:03] AngeloKai commented on #380
Because the issue has to do with changing the algorithm and this issue would impact cornercase user experience, I am moving the issue back to WD07.

[2017-08-10 22:22] nadalin commented on #176
@equalsJeffH can we close this now that #464 is merged ?

[2017-08-10 22:26] nadalin commented on #180
@selfissued can you make sure that when RP is used refers to WebAuthn Relying Party

[2017-08-10 22:30] nadalin commented on #133
@equalsJeffH , @selfissued  Can we close this one since Mike has redone the extension section ?

[2017-08-15 18:35] AngeloKai commented on #492
Closing as the PR merge: https://github.com/w3c/webauthn/pull/534

[2017-08-15 18:35] #492 closed

[2017-08-16 00:42] AngeloKai commented on #503
Closing as the related PR is merged: https://github.com/w3c/webauthn/pull/379

[2017-08-16 00:42] #503 closed

[2017-08-16 00:43] AngeloKai commented on #509
@selfissued can we close this issue now that 514 is merged?

[2017-08-16 00:43] AngeloKai commented on #509
Accidentally click on the wrong button.

[2017-08-16 17:25] selfissued commented on #349
@equalsJeffH will create a PR

[2017-08-16 17:29] equalsJeffH commented on #254
I believe this will be fixed by pr #498

[2017-08-16 17:36] AngeloKai commented on #507
This could be related to https://github.com/w3c/webauthn/issues/125

[2017-08-16 17:39] equalsJeffH commented on #507
having counter values is a given and are in fielded devices we need to support. we need to document RP counter usage in impl-cons.

[2017-08-16 17:45] jcjones commented on #393
Agreed.

[2017-08-16 17:46] equalsJeffH commented on #292
see also #380

[2017-08-16 17:51] equalsJeffH commented on #458
@selfissued mike jones reports on webauthn call today that he has spoken with folks requesting this and convinced them that identity federation and/or business processes are the way to address their overall use cases.

[2017-08-16 17:51] #458 closed

[2017-08-16 17:57] agl commented on #507
I believe that the signature counter was a mistake because of its limited utility and privacy risks.

The FIDO spec hints that the signature counter may be used to identify duplicated keys, but provides no guidance about how they see that happening. If a token fails to write to flash and thus repeats a counter, should sites reject that token and require a reenrollment? How is the latter to be auth

[2017-08-16 21:09] jyasskin commented on #125
To link everything up, @agl suggests in #453 that the counter field be repurposed for a place to inject some random data that authenticators can use to frustrate differential power analysis. In  https://github.com/w3c/webauthn/issues/507#issuecomment-322845730, @equalsJeffH recorded the statement in this morning's call that the counters are used to detect cloned authenticators, at least in the cas

[2017-08-16 22:53] nadalin commented on #24
@equalsJeffH  can this be closed now ?

[2017-08-16 22:55] nadalin commented on #79
@equalsJeffH can this be closed now that we have reconciled with CredMan ?

[2017-08-16 22:57] nadalin commented on #80
@selfissued can you please verify that the document is consistent

[2017-08-16 23:35] AngeloKai commented on #80
From what I am reading here, the issue shouldn't change the name of the API. I am removing the subtype:renaming tag.

[2017-08-17 00:34] kpaulh commented on #506
Just confirming we're also zeroing out the AAGUID.

[2017-08-17 15:28] equalsJeffH commented on #462
added to list in the OP:

external authenticator  (to be defined in conjunction with roaming authnr)

[2017-08-17 23:00] equalsJeffH opened #535 "#createCredential step 12 incorrectly refers to a timer"
should, i think, be:

[2017-08-18 17:49] equalsJeffH opened #536 "parameter lists in #createCredential and #op-make-cred do not match"
[#createCredential](https://www.w3.org/TR/webauthn/#createCredential) is missing `options.authenticatorSelection.uv` in step 24.3, and is in different order than [#op-make-cred](https://www.w3.org/TR/webauthn/#op-make-cred)

[2017-08-21 18:35] balfanz opened #537 "Make create() and get() abortable"
We need to make sure that create() and get() are abortable: For example, imagine a web page that gives users the ability to dismiss a dialog or popup that takes the user through an Authenticator registration or assertion-generation process. When the user dismisses that dialog or popup, the Authenticator should be notified to, say, stop blinking, callbacks waiting for the create() or get() results

[2017-08-21 18:40] AngeloKai commented on #537
Adding this parameter is discussed here: https://github.com/w3c/webauthn/issues/380. I'd expect that on spec level, we just need to extend the WHATWG HTML spec.

[2017-08-22 15:28] equalsJeffH commented on #537
see also issue #283
issue #316 may be related.

fwiw, terminology-wise, "abort(able)" is being used equivalently to "cancel(able)", both here in webauthn, and in whatwg-land, eg in the [abort/cancel proposal in DOM, Fetch, et al.](https://github.com/whatwg/fetch/issues/447): https://github.com/whatwg/fetch/issues/447

The latter is being implemented now, and is perhaps (ie needs investigation) wha

[2017-08-23 17:15] nadalin commented on #506
@selfissued to create PR to documents this and merge it

[2017-08-23 17:18] nadalin commented on #507
@rlin1 to write up algorithm for RPs to use counters

[2017-08-23 17:21] equalsJeffH commented on #292
see also #537

[2017-08-23 17:21] nadalin commented on #292
see also #537

[2017-08-23 17:22] nadalin commented on #524
@equalsJeffH to review and commnet

[2017-08-23 17:26] nadalin commented on #535
also see #498

[2017-08-23 17:31] equalsJeffH commented on #79
this  is superseded see issue #358

[2017-08-23 17:31] #79 closed

[2017-08-23 17:32] equalsJeffH commented on #80
see also #358

[2017-08-23 17:37] equalsJeffH commented on #95
no longer applicable, spec has moved way on....

[2017-08-23 17:37] #95 closed

[2017-08-23 17:38] nadalin commented on #96
@selfissued can you look at this ?

[2017-08-23 17:40] nadalin commented on #101
@rlin1 can you research this to see if this can be closed

[2017-08-23 17:41] equalsJeffH commented on #116
see also issue #292

[2017-08-23 17:44] equalsJeffH commented on #133
@AngeloKai has asserted that interfacing with the permissions framework is not applicable for webauthn in this context, and AFAIK we've just accepted that, so closing this. tho, if someone disagrees please cite appropriate specs etc.

[2017-08-23 17:49] rlin1 commented on #156
As decided on the webauthn call: close.

[2017-08-23 17:49] #156 closed

[2017-08-23 17:50] nadalin commented on #166
@selfissued please make sure we have already done this and close as if so

[2017-08-23 17:52] equalsJeffH commented on #176
we are at this time keeping the "authenticator model" as an "abstract model", of which CTAP is one concrete example. so closing this.

[2017-08-23 17:52] #176 closed

[2017-08-23 19:08] AngeloKai commented on #462
As discussed on the call, the issue wouldn't change API names. Taking out the renaming flag.

[2017-08-23 19:10] AngeloKai commented on #358
As discussed on the call, the issue doesn't have to do with API name change but rather editorial changes. Taking out the renaming label.

[2017-08-23 19:11] AngeloKai commented on #430
Given that there's no API renaming proposal in this issue, I am taking out the renaming label.

[2017-08-28 14:46] kpaulh opened #538 "Should the "name" field in PublicKeyCredentialEntity be marked required?"
https://w3c.github.io/webauthn/#dictionary-makecredentialoptions
The text says that the "name" field for both the rp and user are required. Should the IDL reflect that?
Same question for the "displayName" field for user.

[2017-08-28 17:12] rlin1 commented on #507
see branch sign-counter-alg-507

[2017-08-28 18:26] AngeloKai commented on #538
The issue was brought up in past discussions around CredMan. If needed, I can dig up the related discussions. I believe the required keyword on IDL is omitted due to the need to integrate with CredMan. @mikewest probably has better memory about this. The argument is that it is ok for the keyword to be omitted as long as a DOM Exception error would be thrown.

On the code level, I believe the expec

[2017-08-28 19:41] equalsJeffH commented on #538
this is a good question.  I attempted to find discussion about this in the public-webauthn archives but could not. I'm curious about the rationale details (I do not recall this discussion).

It appears the requisite DOM exception is indeed thrown in [#createCredential ](https://w3c.github.io/webauthn/#createCredential)step 3.

[2017-08-29 07:40] rlin1 commented on #507
See PR #539

[2017-08-29 07:45] rlin1 commented on #453
When receiving a signatureCounter, the relying party should
a) compare that the value is greater than the previously stored one and
b) store the new value.

When putting random data in the field, the RP would have to understand when to ignore the counter value.
This makes it more complicated for the RP.

I propose to close this issue as won't fix.

[2017-08-29 07:46] rlin1 commented on #125
See PR #539

[2017-08-29 17:47] jyasskin commented on #455
@jovasco Is there a situation where the authenticator would not know how many extensions it's going to send before starting to encode the list of them? Recall that CBOR's length prefix counts the number of items, unlike DER's which needs the number of bytes.

[2017-08-30 09:51] jovasco commented on #455
@jyasskin Probably not.  At this point, I see no need to use indefinite maps and arrays but this might easily change in future specs. I consider indefinite length strings essential (from authenticator to client).

As for sorted maps... this type of optimization is only going to matter for really small or slow processors. Requiring this from the client is one thing, requiring the authenticator to e

[2017-08-30 15:22] jyasskin commented on #455
If you know the number of elements in a list ahead of time, it's really easy to produce a min-length encoding of the length.

What's the use case for unknown-length byte- and utf8-strings sent from the authenticator?

I don't think we'd specify that authenticators MUST or even SHOULD check that the map is sorted, but rather that they MAY.

[2017-08-30 17:25] equalsJeffH commented on #453
so @jyasskin notes that: discussion in PR #539 supersedes the discussion in this issue. all decisions are getting made in PR #539

[2017-08-30 17:38] AngeloKai commented on #538
The RP and User dictionary both inherit from the same parent dictionary. Name is a common field that is shared between both dictionaries. But displayName and id are two fields that aren't shared. We decided to remove the required keyword and let JS throw the TypeError so that the inheritance would be clearer.

 If a developer miss any of the required parameters listed in [#createCredential](https:

[2017-08-30 17:38] #538 closed

[2017-08-30 17:43] AngeloKai commented on #210
Given the related [document wide review](https://github.com/w3c/webauthn/issues/106) issue is labelled as process, I am removing the two existing labels and adding the type:process

[2017-08-30 17:45] AngeloKai commented on #116
I am moving the issue back to WD-07 because I am addressing the cancel issues together at once.

[2017-08-30 17:51] AngeloKai commented on #88
The spec already has an extensive server behavior section. The section is considered descriptive suggestion to server. According the comments above, it seems the consensus is the issue should be closed. Should we close the issue? @equalsJeffH @jyasskin

[2017-08-30 17:55] agl commented on #455
For small chips, I would imagine that the encoding would be generated directly by code and, as such, maps would be sorted by virtue of the code blocks that emit each element being ordered.

I agree that checking different requirements of the canonical form should be a MAY for implementations as a few large implementations doing the checks is sufficient to keep the ecosystem on track.

I don't beli

[2017-08-30 17:59] AngeloKai commented on #210
https://www.w3.org/International/techniques/developing-specs?collapse

[2017-08-30 18:14] equalsJeffH commented on #210
notes from today 30-Aug-2017 webauthn call:

jyasskin: thinks the issues here are primarily for user-visible text items. the implication is that we might need to add fields for text direction et al, but such additions would be (largely) bkwards compatible, except for things that are sent to the authnr.... this needs someone to sit down and analyze the webauthn spec per the [internationalization ch

[2017-08-30 20:33] equalsJeffH opened #540 "note that "credential public key" is the same as "user's public key""
One of the things that jumped out to me in [Denis Pinkas' webauthn review](https://lists.w3.org/Archives/Public/public-webauthn/2017Jul/0052.html) was his noting that we have two very similar terms in "[public key credential](https://w3c.github.io/webauthn/#public-key-credential)" and "[credential public key](https://w3c.github.io/webauthn/#credential-public-key)" and that there lurks potential co

[2017-08-30 21:03] AngeloKai commented on #537
Resolving this issue would also resolve https://github.com/w3c/webauthn/issues/116

[2017-08-30 21:10] AngeloKai commented on #374
I am moving the issue back to WD-07 because of the priority:implementation tag. I am not sure everyone in the WG is aware of the fact that our APIs are restricted to top level domain now.

[2017-08-31 10:13] jovasco commented on #455
All of this is, for me, about generating messages in-place. I do not want to have to generate the extension data a buffer and later copy it to the authenticator data buffer and then copy that into the reply buffer. Resources are not abundant in an embedded implementation.

Going through all the extension and buffer generation logic to calculate the size to then go back and do it all again when gen

[2017-08-31 16:47] agl commented on #455
ASN.1 ECDSA signatures are a common case of having to serialise something in a format with minimum-sized lengths. (There is BER, with indefinite lengths, but DER, without them, utterly dominates.)

ECDSA hardware often returns signatures in a simple format where r and s are just 32-byte (for P-256), big-endian numbers. Thus an embedded system writing out an ASN.1 signature needs to find the number

[2017-08-31 18:30] emlun opened #541 "Must returned extensions be mathematically proper subsets of requested extensions?"
Step 5 of [§ 6.1. Registering a new credential][reg] and step 7 of [§ 6.2. Verifying an authentication assertion][ass] both read (with minor editorial differences):

In mathematics, a _proper subset_ is [necessarily not equal to its superset][wolfram]. This doesn't seem right here, however. For example if the RP requests exactly one extension, this requirement would require the client to always ig

[2017-08-31 22:36] AngeloKai commented on #541
You are correct. The "proper" qualification should be dropped. Filing a PR right now.

[2017-08-31 23:07] AngeloKai commented on #88
Removing the type:technical label. This doesn't impact the API interface or behavior.

[2017-08-31 23:35] AngeloKai commented on #529
Don't we already use long instead of [constants](https://heycam.github.io/webidl/#idl-constants) in timeout?

[2017-09-01 06:29] emlun commented on #541
Cool, thanks!

[2017-09-01 21:59] AngeloKai commented on #541
The PR fixes the issue.

[2017-09-01 21:59] #541 closed

[2017-09-02 04:40] AngeloKai commented on #540
What does "user public key" mean? Which one of the two terms ("public key credential" and "credential public key") does "user public key" refer to? I agree this would be a small change and would not alter the surface. But I really don't understand what the term is and how the term helps understanding.

[2017-09-02 04:43] AngeloKai commented on #524
This should be looked at with https://github.com/w3c/webauthn/issues/536

[2017-09-02 04:47] AngeloKai commented on #506
Since we all confirm what our implementations are doing the same thing, this is no longer an issue that concerns implementation nor technicality. Removing the two flags.

[2017-09-02 05:10] AngeloKai commented on #453
I don't see any reason for us to talk about this issue within a W3C web spec. At the end of the day, this spec is a web spec that aims at standardizing the behaviors of the user agents. This spec doesn't attempt to standardize or define the hardware design. Please, if you want to talk about hardware design, go talk about it in CTAP land, in U2F land, or in UAF land. @agl @rlin1 @equalsJeffH

The s

[2017-09-02 05:17] AngeloKai commented on #393
Confirmed at the WG that this doesn't impact API  interface.

[2017-09-03 00:58] equalsJeffH opened #543 "musings wrt webauthn's profile of COSE_Key"
presently, in [WD-06 section 5.3.1. Attestation data](https://www.w3.org/TR/2017/WD-webauthn-20170811/#sec-attestation-data), we say (in the last row of the table) in regards to the [credential public key](https://www.w3.org/TR/2017/WD-webauthn-20170811/#credential-public-key) (aka "user public key" see issue #540):

Given the stipulations in [Section 7 of [RFC8152]](https://tools.ietf.org/html/rf

[2017-09-03 21:30] agl commented on #453
Isn't webauthn the source of things like section 9.3 (Generic Transaction Authorization Extension), and 9.7 (Location Extension)? If these sections are echoing things defined elsewhere then I have misunderstood the relation between the specs. But if webauthn is defining things that can be signed then saying "there should be something arbitrary so that tokens can randomise inputs" is related.

Alth

[2017-09-04 12:41] jovasco commented on #455
I believe the complexity of the protocol is because of _what_ we serialize, not _how_ we serialize it.

That said, I am going to withdraw my objection to canonical cbor. I will solve in-place generation in a different way. Indefinite encoding of strings would allow things like fragmenting map keys and that is just plain expensive and unhelpful. Adding our own set of restrictions will just create c

[2017-09-04 23:49] akshayku commented on #540
@AngeloKai "user public key" refers to "credential public key".
Although it pretty clear to me, if it creates confusion, I would go for similarity between UAF/U2F.

[2017-09-04 23:58] akshayku commented on #543
Yes, that's my interpretation for ES256. I would put three examples corresponding to ES256, PS256 and RS256.

RS256
{
  1:3,
  3:-257,
  -1: <n>,
  -2: <e>
}

PS256
{
  1:3,
  3:-37,
  -1: <n>,
  -2: <e>
}

[2017-09-05 13:52] equalsJeffH commented on #543
calculating the size of COSE-encoded EC public keys [RFC8152] for curve P-256 in EC2 form, with "alg" included:

Using the first public key from <https://tools.ietf.org/html/rfc8152#appendix-C.7.1> with the optional "kid" field (i.e., "2") removed and some including some comments here for documentation):
[code]
then:
[code]
The above cbor2diag.rb output matches the text input to the PublicKeyInCOS

[2017-09-05 17:58] AngeloKai commented on #453
@agl At the end of the day, the WebAuthn spec is a web spec and should only define the web interface. Defining an extension involves defining a web interface and a set of authenticator operation. If there's an ask to add a new extension, both the UA and the underlying authenticators need to accept the ask. If the ask here requires change to the authenticator interface, the ask should start from th

[2017-09-05 21:08] nadalin commented on #374
@equalsJeffH so do we close this with no action and punt over to credman ?

[2017-09-05 21:17] agl commented on #453
In any case, putting this in an extension is highly problematic because extensions are optional, and a side-channel defense that the attacker can choose to deny to the token isn't useful.

Repurposing the signature counter seemed like a solid win because we eliminate the counter (which I believe would be positive) and can use those bytes for optional randomisation. However, it all depends on elimi

[2017-09-05 21:17] #453 closed

[2017-09-06 02:10] AngeloKai commented on #524
Software authenticators such as Windows Hello can alter behaviors differently based on what inputs they accept, including key storage and user verification behaviors. This behavior is different from UAF and U2F authenticators'. @equalsJeffH can we close the issue?

[2017-09-06 02:13] AngeloKai commented on #245
Given that we can always remove 'require' (go from more restrictive to less restrictive) and the goal of the issue is to address other flavors of public key credentials (not in scope for v1), I am moving the issue to v2. @equalsJeffH @jcjones please let me know if you disagree.

[2017-09-06 17:42] selfissued commented on #506
I will create a PR saying that we're zeroing out the AAGUIDS.

[2017-09-06 17:53] nadalin commented on #217
@equalsJeffH to verify and maybe close

[2017-09-06 17:56] AngeloKai commented on #231
This is no longer valid. It's not the job for the authenticatorGetAssertion to display UI but rather the getAssertion itself.

[2017-09-06 17:56] #231 closed

[2017-09-06 17:58] nadalin commented on #248
@equalsJeffH If no longer valid please close

[2017-09-06 18:01] AngeloKai commented on #257
The spec has references to both W3C and WHATWG HTML spec. There are way too many references to keep track now. This is a political issue still heavily discussed in the HTML specs world. If they come up with a result, they should come back and tell us whether they intend to change all the references to the W3C HTML specs in all the existing W3C specs. Closing the issue. This is not in scope for us

[2017-09-06 18:01] #257 closed

[2017-09-06 18:02] AngeloKai commented on #543
Adding milestone tag to be tracked.

[2017-09-06 18:06] tabatkins commented on #257
Ignoring the dismissal of this as "political", was the issue raised in the OP actually addressed? That is, is the "make credential" algorithm now pointing to a correct algorithm, in whatever spec it happens to be referencing?

(The link in the OP is broken, so I'm not sure if the question is moot, or if it was just renamed and accidentally broke links.)

[2017-09-06 18:08] AngeloKai commented on #529
@selfissued do you mind taking a look? This has to do with COSE keys.

[2017-09-06 18:14] bzbarsky commented on #257
The TR version of W3C HTML at https://www.w3.org/TR/html51/browsers.html#relaxing-the-same-origin-restriction still has an incorrect algorithm.

The editor's draft at https://w3c.github.io/html/browsers.html#relaxing-the-same-origin-restriction has been corrected.

The webauthn spec at this point links to https://html.spec.whatwg.org/multipage/origin.html#is-a-registrable-domain-suffix-of-or-is-eq

[2017-09-06 18:33] AngeloKai commented on #469
After talking to @akshayku, I learned that the CTAP layer already has a way to handle malformed CBOR by erroring out. It's not necessary to do the same action on the web layer. CBOR will be validated when it is parsed and used. Outer layers should simply pass the CBOR bytes to the components that will consume. Outer layers shouldn’t know the details of the inner CBOR that might change over time.

[2017-09-06 18:33] #469 closed

[2017-09-06 19:05] AngeloKai commented on #248
From reading the current text, it seems really clear. The text is here: https://w3c.github.io/webauthn/#iface-pkcredential:

[[type]]
The PublicKeyCredential interface object's [[type]] internal slot's value is the string "public-key".
Note: This is reflected via the type attribute getter inherited from Credential.

type, of type DOMString, readonly
This attribute’s getter returns the value of the

[2017-09-06 21:12] equalsJeffH commented on #536
yes, this is a still-valid issue.

[2017-09-06 21:18] equalsJeffH commented on #374
The relevant credman issue is https://github.com/w3c/webappsec-credential-management/issues/3 and discussion has resumed therein.

[2017-09-06 21:21] equalsJeffH commented on #217
These references are informative and provide hints to additional context and so ought to remain.

[2017-09-06 21:21] #217 closed

[2017-09-06 21:24] equalsJeffH commented on #248
agreed this is now clear and we can close this.

[2017-09-06 21:24] #248 closed

[2017-09-06 21:31] equalsJeffH commented on #280
The present language is (step 16.2 of https://www.w3.org/TR/2017/WD-webauthn-20170811/#getAssertion (WD-06):

Am closing this issue. if problems arise, eg the upcoming interop, due specifically to unclarity in this particular alg step, please re-open and provide details.

[2017-09-06 21:31] #280 closed

[2017-09-06 21:49] nadalin commented on #101
@selfissued, @rlin1 please close this

[2017-09-06 21:52] nadalin commented on #166
@selfissued please close this

[2017-09-06 21:57] nadalin commented on #227
@gmandyam please give proposal or close

[2017-09-06 22:07] nadalin commented on #257
@AngeloKai please close per call today

[2017-09-06 22:11] nadalin commented on #294
Clearly the developer has done something wrong if they edit buffersource in place after makeCredential and we shouldn’t care about interoperability in this scenario so just document

[2017-09-06 22:14] nadalin commented on #303
@selfissued what is the status of this and the IETF ?

[2017-09-06 22:25] equalsJeffH commented on #462
added "first factor" to OP

[2017-09-06 23:05] AngeloKai commented on #257
@nadalin The issue was closed 5 hours ago already.

[2017-09-06 23:06] selfissued commented on #166
USVString is used for icon and rpId

[2017-09-06 23:06] #166 closed

[2017-09-06 23:08] selfissued commented on #101
Closing, per the resolution to #42

[2017-09-06 23:08] #101 closed

[2017-09-06 23:37] nadalin commented on #296
@equalsJeffH This should be closed. As all  discussions on thread are either fixed in WD-06 or captured in other issues.

[2017-09-06 23:52] nadalin commented on #368
@selfissued @rlin1 please create a PR and merge

[2017-09-06 23:57] nadalin commented on #376
@selfissued Can you please close per your last comment on privacy

[2017-09-07 00:00] selfissued commented on #376
Closing with no action per the privacy comment above.

[2017-09-07 00:00] #376 closed

[2017-09-07 00:00] nadalin commented on #410
@AngeloKai this just seems to be editorial

[2017-09-07 00:02] nadalin commented on #417
@selfissued can you create a PR to do this ?

[2017-09-07 00:04] nadalin commented on #452
@selfissued can you review this and make a wording proposal

[2017-09-07 00:06] nadalin commented on #374
@equalsJeffH So we keep open but don't act on this

[2017-09-07 00:10] nadalin commented on #412
@leshi All the proposal require breaking changes, so my suggestion is unless there is a non breaking proposal we close this

[2017-09-07 01:55] bzbarsky commented on #294
That is unacceptable.  The behavior needs to be defined so that it can be interoperably implemented, because otherwise developers _will_ in fact do this and come to depend on UA behaviors.

[2017-09-07 02:03] equalsJeffH commented on #524
@AngeloKai wrote:

**A)** Ok, so that means that we are altering the "authenticator model" from what it was/is in U2F & UAF. The latter is that authnrs' behaviors are fixed and describable by relatively simple metadata.  We are now saying that (some) authnrs' behavior is tailorable by RPs at createCredential() and (it seems?) getAssertion() times.

**B)** This alteration to the "authnr model" is n

[2017-09-07 15:14] equalsJeffH commented on #24
No, this should remain open, i argue that having such protocol diagrams are important for folks to be able to figure out what is going on in this spec.  I have digrams in progress, need to be updated (it is on the stack):

https://docs.google.com/presentation/d/1om__oSew4n48MK_Qcc8deq6hCZ6720-Zvv1PdK0CrjA/edit#slide=id.g2b7fa0712_0127

https://docs.google.com/presentation/d/1om__oSew4n48MK_Qcc8deq

[2017-09-07 17:31] herrjemand commented on #535
Can be closed per #535

[2017-09-07 17:41] AngeloKai commented on #24
I agree this should be open. Such diagrams would be really helpful. I do wonder whether this is necessary to be resolved before CR. Browser vendors often look at CR as signal for making the implementation on by default. If the issue is truly about helping people understand the spec, we can wait until CR is announced and a lot more people start coming in to review. This way we will know which diagr

[2017-09-07 17:55] nadalin commented on #535
@equalsJeffH please close

[2017-09-07 22:33] nadalin commented on #491
@leshi Please review and if you are still interested in this please update, if not please close this

[2017-09-07 22:49] nadalin commented on #504
@herrjemand this is a breaking change, so we have to decide to do this now as CR is too late

[2017-09-07 22:54] nadalin commented on #441
@rlin1 please close as PR was merged

[2017-09-07 22:56] nadalin commented on #436
@equalsJeffH @gmandyam  this is an issue with the SafetyNet specs not WebAuthn, so this should be closed

[2017-09-07 22:57] nadalin commented on #437
@equalsJeffH @gmandyam this is an issue with the SafetyNet specs not WebAuthn, so this should be closed and get Google to fix their documentation

[2017-09-07 22:58] nadalin commented on #438
@equalsJeffH @gmandyam this is an issue with the SafetyNet specs not WebAuthn, so this should be closed and get Google to fix their documentation

[2017-09-07 23:01] gmandyam commented on #437
@nadalin
SafetyNet appears in as a pre-registered attestation format in the spec.  I think a suitable solution is to remove SafetyNet from the spec, and only add it back in when sufficient documentation is provided.

[2017-09-07 23:05] nadalin commented on #437
@gmandyam There is nothing wrong with a pre-registered attestation format, if the referenced specification is not enough to implement then people will not implement, we can't fix SafetyNet specification in WebAuthn

[2017-09-07 23:05] selfissued commented on #437
Removing SafetyNet would have the practical consequence of decreasing the interoperability of implementations.  That's not good for anyone.  We should keep it - just like we're keeping the TPM attestation format, which is also there to increase interoperability.

[2017-09-07 23:06] nadalin commented on #441
@rlin1 moving this to next level as all authenticator selection criteria enhancements are for next release

[2017-09-07 23:06] AngeloKai commented on #504
The two fields should be of those types. Looking through the description, my guess is there is a misunderstanding of what the fields do. When the MDN documentation is out, the issues would become clearer.

PublicKeyCredentialEntity.id is the rp.id field. This field is used for web developers to specify which origin the keys should belong to (no larger than eTLD+1).

PublicKeyCredentialUserEntity.i

[2017-09-07 23:07] gmandyam commented on #437
@selfissued

How can we ensure interop of an attestation format when the attestation format is not sufficiently defined?  TPM (in comparison) is a complete specification that has been vetted by many companies.  This is not the case with SafetyNet.

[2017-09-07 23:09] gmandyam commented on #437
@nadalin
There is something wrong with pre-registered attestation formats that are incomplete.  We should not be adding attestation formats without expert review.

[2017-09-07 23:10] AngeloKai commented on #504
@nadalin I'd recommend closing out the issue given the above reason. The filer is misinterpreting the spec.

[2017-09-07 23:10] selfissued commented on #437
It's fine to ask the Googlers for the additional information needed to make this interoperable and assign it to them.  That's the right solution.  Removing a commonly-used format would hurt WebAuthn, and thus, is the wrong solution.

[2017-09-07 23:14] gmandyam commented on #437
@selfissued

This is exactly what I am doing - asking for the missing information from the Google 'specification'.  Note that there is no official liaison relationship defined between the W3C and Google, so I don't see any official way to request the missing information other than on the repo.

Regarding "commonly-used", what criteria are you using to make this determination?  As far as I can tell

[2017-09-07 23:21] AngeloKai commented on #374
@nadalin The CredMan issue discussion has resumed. AFAIK the reason why top level browsing context constraint was added to credman is because CredMan api can exercise silent auth. Considering we don't currently allow silent auth, their attitude is the constraint be removed for webauthn. At least in the Edge implementation, we show the origin of the site in the prompt. By showing the origin, we are

[2017-09-07 23:33] ve7jtb commented on #438
The saftynet attestation gives you the identity of the app.   To turn that into something useful there needs to be a registry of authenticator apps to look up the additional meta-data.
Safetynet is not WebAuthn specific, is ther a requirement that safetynet look up the other meta data to include in the JWT?

The app could wrap the JWT but you need to look up the app info someplace anyway to valida

[2017-09-08 07:37] rlin1 commented on #125
The U2F specs say (with regard to the counter, see https://fidoalliance.org/specs/fido-u2f-v1.2-ps-20170411/fido-u2f-raw-message-formats-v1.2-ps-20170411.html#authentication-response-message-success):
"This is the big-endian representation of a counter value that the U2F token increments every time it performs an authentication operation"

[2017-09-08 11:53] herrjemand commented on #504
@AngeloKai Why would developers decode id from assertion when they are already aware of it, as they request registration for this specific id?

[2017-09-08 16:06] nadalin commented on #125
@equalsJeffH So if we take what is in the U2F Spec or reference the U2F spec would that be OK? as the authenticator has to support the counter, I can imagine some do and some don't. I can imagine that this will only currently be used by U2F authenticators

[2017-09-08 16:20] AngeloKai commented on #504
@herrjemand The developer will not be aware of the id from assertion before they receive the assertion.

The key to keep in mind here is there are two ids: the account id and the credential id. Multiple credentials can be registered for one account. Multiple account cannot register the same credential. When the developer requests registration, they are required to supply the account id.

In additi

[2017-09-08 16:22] herrjemand commented on #504
@AngeloKai Oh, so PublicKeyCredentialDescriptor.id is not binary version of PublicKeyCredentialUserEntity.id?

[2017-09-08 16:22] AngeloKai commented on #504
@herrjemand Perhaps in-person explanation would help. Maybe you can talk to Adam Power who explain this more in-depth in person?

[2017-09-08 16:25] AngeloKai commented on #504
@herrjemand No, PublicKeyCredentialDescriptor.id is not binary version of PublicKeyCredentialUserEntity.id

[2017-09-08 16:26] AngeloKai commented on #504
@herrjemand @nadalin Because the ask for the change is based on an misinterpretation of the spec, I am closing the issue.

[2017-09-08 16:26] #504 closed

[2017-09-08 16:26] herrjemand commented on #504
Oh, cool then we just need to update examples, cause they confused the hell out of me.

Thanks for clarifying that @AngeloKai

[2017-09-08 16:33] rlin1 commented on #125
the way I read the U2F specs, there is a field for the counter, but the Authenticator could always set the field to 0 in order to indicate that the counter isn't supported.

[2017-09-08 16:45] balfanz opened #547 "Key types and algorithms are confusing"
We use the [CoseAlgorithmIdentifier](https://github.com/w3c/webauthn/blob/14c2733ca6a4a9568e4c48fef1b870448818e811/index.bs#L1449) throughout the doc for different purposes: sometimes to denote a type of key, sometimes to denote a signature algorithm.

For example, when [describing an attestation statement](https://github.com/w3c/webauthn/blob/14c2733ca6a4a9568e4c48fef1b870448818e811/index.bs#L231

[2017-09-08 16:48] ve7jtb commented on #125
In implementation considerations 2.6 the counter should start at 0.

In the limited tests I can do with the uninitialized key I have it send one for the first authentication but I am guessing that just happened to be one vendors implementation.

A key sending 0 would be perfectly valid according to my reading of the spec, and I would probably have interpreted it that way.

I think the better solut

[2017-09-08 17:07] ve7jtb commented on #547
I agree in general, however limiting a key to a particular signature alg is a goo thing in theory as it protects against some theoretical attacks against the private key.   The current wording however is probably not the best way to make that clear.

[2017-09-08 17:20] leshi opened #548 ""Authenticator extension processing" is likely wrong"
The description says:

I believe that's incorrect.  Specifically, it talks about putting the authenticator extension **input** in the authenticator data, but I think it means the authenticator extension **output**.

Other evidence of this theory is the the contradictory statement in section 5.1 (Authenticator Data), which states that the extension field "is a CBOR [RFC7049] map with extension iden

[2017-09-08 17:21] leshi opened #549 "The authenticatorMakeCredential operation section doesn't specify how to pass extensions to authenticator"
The authenticatorMakeCredential operation section doesn't specify how to pass extensions to authenticator.  In theory, it should just say that the authenticator extensions are put into the extensions cbor map parameter when sending a request to the authenticator.

[2017-09-08 17:23] leshi commented on #549
never mind, it's there.

[2017-09-08 17:23] #549 closed

[2017-09-08 18:00] balfanz opened #550 "should authenticatorExtensions really be a dictionary?"
Currently, [authenticatorExtensions](https://github.com/w3c/webauthn/blob/14c2733ca6a4a9568e4c48fef1b870448818e811/index.bs#L1353) in the CollectedClientData structure is defined as a dictionary. The intention, presumably, being that different extensions are listed in there as different dictionary keys. For example, if we had two extensions, "foo", and "bar", and they both have authenticator exten

[2017-09-08 18:24] leshi opened #551 ".store() is confusing"
As defined, webauthn inherits the default implementation of .store() from CredMan.  Unfortunately, this means that .store() is a NOOP, but actually resolves.  It does not throw.  That means a caller will be confused in that they will call .store(), not see anything blow up, and not really realize that the .store() had no effect.

[2017-09-08 18:35] AngeloKai commented on #551
We should potentially find a way for PublicKeyCredential to not inherit the .store() method. .store() has no logical meaning the external authenticator world. @mikewest thoughts? I am not aware of anything in Web IDL that allows this. Maybe add unscopable to credman?

[2017-09-08 18:37] leshi opened #552 "The description for creating a new credential has the browser prompting the user for consent"
Seems to imply that the browser will throw a prompt in the user's face. Let's remove this sentence, we talk about getting consent (and all the complications of how authenticators do this) later in the spec.

[2017-09-08 19:03] nadalin commented on #550
@selfissued since you went through the extensions please review

[2017-09-08 19:04] nadalin commented on #548
@selfissued since you went through the extensions can you review

[2017-09-08 19:09] nadalin commented on #301
@selfissued is this already covered by #501 ?

[2017-09-08 19:11] jyasskin commented on #551
The code you're worried about is `navigator.credentials.store({publickey: ...})`, right? Clearly we can't remove `.store` from `navigator.credentials` only if its arguments have a `publickey` field. We could arrange for it to throw an exception instead of being a no-op, and like that idea. I think we discussed it before and decided that the current behavior was acceptable, but that might have just

[2017-09-08 21:35] jyasskin commented on #437
3 thoughts. Note that I'm not involved in defining that field, and I don't have an opinion on whether SafetyNet needs to be in the pre-registered attestation format:
1. https://developer.android.com/training/safetynet/attestation.html#possible-results elaborates on what kinds of circumstances result in `basicIntegrity` being true or false. Does that help at all?

2. This resembles some anti-malwar

[2017-09-08 21:43] balfanz opened #554 "keyType: "public-key" is superfluous"
I seem to remember that we had discussions about this in the working group and flagged it as something we should come back to later, but we never have.

The `type` attribute in [`PublicKeyCredentialDescriptor`](https://github.com/w3c/webauthn/blob/14c2733ca6a4a9568e4c48fef1b870448818e811/index.bs#L1406) and in [`PublicKeyCredentialParameters`](https://github.com/w3c/webauthn/blob/14c2733ca6a4a9568

[2017-09-08 22:22] ve7jtb commented on #437
FYI this is a link to the Android Compatibility testing.  https://source.android.com/compatibility/

Someone from Google should comment, but in looking at saftyNet attestations for other things my conclusion was that ctsProfileMatch is required to trust the attestation.   A device that docent have that can't really be trusted.   basicIntegrity is a best effort to provide some integrity checks on u

[2017-09-08 22:22] balfanz opened #556 "user id should be returned in get()"
When we use navigator.credentials.get() to obtain webauthn's authentication assertion, the caller should receive the user id associated with this credential. This is necessary if get() is called without an allowList, and optional if it is.

Proposal: add a field `userId` to the [`PublicKeyCredential`](https://github.com/w3c/webauthn/blob/14c2733ca6a4a9568e4c48fef1b870448818e811/index.bs#L460) dict

[2017-09-08 22:27] balfanz opened #557 "include public key in result from create()"
As agreed at the last face-to-face, we should add the generated public key in a web-friendly format (i.e., JWK) to the result of navigator.credentials.create().

[2017-09-08 22:35] balfanz commented on #557
Proposal: we can add a field `publicKey` to [`AuthenticatorAssertionResponse`](https://github.com/w3c/webauthn/blob/14c2733ca6a4a9568e4c48fef1b870448818e811/index.bs#L1058)

[2017-09-08 22:47] nadalin commented on #554
@balfanz if no one speaks up then please create a PR and merge it

[2017-09-08 23:37] balfanz commented on #550
I just noticed that in section 4.1.3, Step 14, substep 5 it says to base64-encode the authenticator extension input, so there isn't really a "type mismatch" here, and the extension input can indeed be represented in this dictionary.

So I'm fine closing this issue. Or we can debate whether it would be better to have *one* string, which is the base64-encoding of the complete CBOR-encoded extension

[2017-09-08 23:58] balfanz opened #559 "Not clear what's executed in parallel in Section 4.1.3, Step 24.3"
[Step 24.3](https://github.com/w3c/webauthn/blob/14c2733ca6a4a9568e4c48fef1b870448818e811/index.bs#L683) in Section 4.1.3 starts with "In parallel", but only mentions one operation. It's not clear what's supposed to be executed in parallel.

[2017-09-09 00:02] christiaanbrand commented on #456
Fixed by PR #546

[2017-09-09 06:37] akshayku commented on #556
Why CredentialID is not enough in webauthn's authentication assertion?

[2017-09-09 07:00] akshayku commented on #557
Not having publicKey in AuthenticatorAssertionResponse cryptographically ties assertion signature to authenticatorMakeCredential response as you need that public key to verify the assertion signature instead of just credentialID matching.

IMO, it provides better security as it minimizes RP chance of getting fooled by attacker who uses its own public key in authenticatorGetAssertion response but t

[2017-09-11 08:15] mikewest commented on #551
It should be straightforward to add an implementation of the [`[[Store]](credential)`](https://w3c.github.io/webappsec-credential-management/#dom-credential-store-slot) method to WebAuthn that returned some sort of error condition, and to change Credential Management's [storage algorithm](https://w3c.github.io/webappsec-credential-management/#algorithm-store) to interpret that condition as cause f

[2017-09-11 11:12] emlun commented on #392
Now the spec instead doesn't say how to detect when the `fido-u2f` attestation statement format uses self attestation. It seems like that would be when `attStmt.x5c[0]` is self-signed, correct? Either way I think the verification procedure in [§7.6][1] should make some mention of self attestation, as currently

- the only occurence of the word "self" in §7.6 is in the list of supported attestation

[2017-09-11 17:47] AngeloKai commented on #559
@equalsJeffH Is this something you can fold into the existing https://github.com/w3c/webauthn/pull/498? We just need to change the wording from |authenticator| to each |authenticator| in |currentlyAvailableAuthenticators|.

[2017-09-11 20:24] equalsJeffH opened #560 "ensure #registering-a-new-credential step 10 and the inputs to all attStmt types' verification procedures match"
all attStmt types' verification procedures are invoked by the RP's [#registering-a-new-credential
](https://w3c.github.io/webauthn/#registering-a-new-credential) procedure step 10.  Ensure what's passed into the attstn verification procedures matches what each attstn verification procedure expects/needs.

[2017-09-11 20:58] nadalin commented on #551
@mikewest @AngeloKai  I believe that will do it, so if you open and issue can you link to it here amd @AngeloKai can close this ?

[2017-09-11 21:45] AngeloKai commented on #551
@nadalin I think what @mikewest was saying is that 1) webauthn needs to add some text about [[Store]] and how it would return a error condition, 2) credman can then go ahead to update the storage mechanism. I will try to squeeze in some time to file a PR for this between today and tomorrow, though this week is very busy for us over at Edge.

[2017-09-11 21:51] equalsJeffH opened #561 "#registering-a-new-credential step 10 breakage"
[#registering-a-new-credential](https://w3c.github.io/webauthn/#registering-a-new-credential) step 10 is presently:
[code]
Issues with step 10:
1. the first is that |attStmt| is not what is signed over.  Rather, [[=authenticator data for the attestation=]](https://w3c.github.io/webauthn/#authenticator-data-for-the-attestation) and [[=hash of the serialized client data=]](https://w3c.github.io/weba

[2017-09-11 22:26] equalsJeffH opened #562 "incosistent concatenation symbols - notational conventions section?"
in [figure 2](https://w3c.github.io/webauthn/#fig-signature) we use a double-vertical-bar`||` symbol to indicate concatenation, but elsewhere in spec we use a single-vertical-bar `|` to also indicate concatenation.  Perhaps we should consistently use a double-vertical-bar`||` symbol.

Also we do not have a section on notational conventions. perhaps we should.

[2017-09-11 22:43] selfissued commented on #455
As has been discussed in the corresponding FIDO 2.0 CTAP issue https://github.com/fido-alliance/fido-2-specs/issues/200, the recipient can't assume that the content is canonical CBOR even if it's specified that it must be. That imposes additional validation steps that the authenticator must perform that otherwise would not be necessary. This seems like a "false savings" to me, as many of the canon

[2017-09-11 23:13] equalsJeffH commented on #561
refining/fixing suggestion for step 10:
[code]

need to also fix the ags defined in [#verification-procedures](http://w3c.github.io/webauthn/#verification-procedures) to match.

the [#verification-procedures](http://w3c.github.io/webauthn/#verification-procedures) may also need the RP's expected RP ID value passed-in.

[2017-09-11 23:15] equalsJeffH commented on #462
added to list in the OP:

assertion

cloned authenticator

authenticator protection measures

trust path

[2017-09-12 04:26] equalsJeffH commented on #296
I disagree.  We need [PublicKeyCredentialType](https://w3c.github.io/webauthn/#credentialType) is an extension point.  we need it to do things like support the millions of UAF-capable mobile handsets over CTAP2.  See: https://github.com/w3c/webauthn/pull/407

[2017-09-12 04:26] equalsJeffH commented on #554
I disagree.  We need [PublicKeyCredentialType](https://w3c.github.io/webauthn/#credentialType) is an extension point.  we need it to do things like support the millions of UAF-capable mobile handsets over CTAP2.  See: https://github.com/w3c/webauthn/pull/407

See also issue #296

[2017-09-12 04:27] Kieun opened #563 "Safetynet attestation does not return byte array as a response."
Section 7.5 describes Android Safetynet attestation statement format.
The "response" value is defined as a byte string (Major type2 ). However, Safetynet API returns String instead of byte array.
See following getJwsResult() method.
[https://developers.google.com/android/reference/com/google/android/gms/safetynet/SafetyNetApi.AttestationResponse](url)
So, we need to change response type from a byt

[2017-09-12 08:14] jovasco commented on #455
@selfissued Validating canonical CBOR and handling non-canonical CBOR are of a different order altogether.

For example, when comparing map keys in canonical CBOR, I can rely on them being a single, fixed length string (ie, use strncmp straight form the input buffer). Validating that the tag is fixed length is essentially free because I have to parse the tag and check the length anyway. If I have

[2017-09-12 12:42] rlin1 commented on #524
Some comments:
a) we should define whether up is expected to be set (or ignored) when uv is set.  The flags "up" and "uv" are not fully orthogonal, it is more like an enumeration with 3 values: nothing=0, up=1, uv=2.  We also should be clear whether a bit should be (1) used by the platform to select an authenticator or (2) by an authenticator to influence its behavior.
b) This bit-fiddling stuff l

[2017-09-12 12:46] rlin1 commented on #554
If support renaming it to "assertion format".  Very similar to our extensible attestation statement format.
More specifically I propose:
closing this issue as won't fix and handle the renaming in issue #296.

[2017-09-12 17:28] selfissued commented on #455
Thinking about the discussion of Canonical CBOR that happened on the FIDO 2 call today, there seems to be enough support for it that I'm willing to drop my objection. As a programmer, I understand the argument that you can then validate maps using a constant-space data structure, rather than space that's of the order of the size of the map. It also makes it easier to detect and reject duplicate ke

[2017-09-13 08:10] jovasco commented on #455
@selfissued Glad to hear it, Mike.

It even allows you to detect and reject duplicate keys you do not expect, understand or care about with the same duplication check. Although some believe you don't have to care about what you do not understand, a duplicate map key is a programming error that should be caught as early as possible for a clean ecosystem.

[2017-09-13 14:25] christiaanbrand commented on #556
CredentialID is also PII. I'm not sure there's any difference in something that's in plaintext or need to be looked up in a DB (by the RP). Most RPs (including Google) can't key off of CredentialID and requiring this will be a major impediment to implementing this protocol (not only for us).

[2017-09-13 14:36] rlin1 commented on #556
While the CredentialID generated by the platform is PII, the userID might even (depending on how the specific RP uses it) be PI.

[2017-09-13 14:44] akshayku commented on #556
Cross posting here:

I do not think this is correct. CredentialID does not reveal anything about the user. It may be unique in RP's database but credentialID by itself doesn't reveal any information about the user to the attacker. On the other hand, for userid, RP's can have any string which potentially identifies the user. For example, Email-ID or something. So User id in current form is definite

[2017-09-13 17:18] #552 closed

[2017-09-13 17:44] rlin1 commented on #125
See PR#539

[2017-09-13 17:51] leshi commented on #557
I think Dirk meant ```AuthenticatorAttestationResponse```

[2017-09-13 20:03] nadalin commented on #557
@leshi to create PR

[2017-09-13 21:26] nadalin commented on #559
@selfissued can you look into Jeff's suggestion and if that works can you update and add to #498

[2017-09-13 22:08] nadalin commented on #529
@selfissued please look at this and see if this is something that makes sense

[2017-09-14 17:44] idamlaj commented on #557
balfanz/leshi:

It's difficult for me to rationalize this change. Can you please add some rationale to the PR?

Is the purpose of this change to simplify the credential creation process for the relying party? If so, the measurement for this is the complexity of the [credential creation algorithm](https://w3c.github.io/webauthn/#registering-a-new-credential).

Does this change remove steps or add s

[2017-09-14 19:10] AngeloKai commented on #557
I believe this PR https://github.com/w3c/webauthn/pull/321/files removed publicKey.

[2017-09-14 19:12] AngeloKai commented on #557
Meeting minutes on this topic from the F2F last Feb: https://www.w3.org/2017/02/13-webauthn-minutes.html#item02

[2017-09-14 19:13] AngeloKai commented on #563
@christiaanbrand can you please look at this issue?

[2017-09-14 19:14] #456 closed

[2017-09-14 19:55] leshi commented on #557
@idamlaj: we miss you on the call ;) Join there for all the fun discussions and heart-wrenching emotions.  The goal of this proposal is to not make relying parties that don't care about attestation parse the attestation to get the public key.  There are two things that all RPs will care about: 1) credential ID and 2) the public key.  (1) was already pulled out to the top level result of .create()

[2017-09-14 20:09] leshi commented on #554
Do UAF authenticators speak CTAP2?

[2017-09-14 20:11] leshi commented on #554
When you say "millions of UAF-capable mobile handsets" -- do you mean millions of handsets that have UAF that are going to be upgraded to speak CTAP2?  Or are you saying millions of handsets that could potentially have UAF on them?

If it's future authenticators that don't exist, why won't they be WebAuthn instead of UAF?

[2017-09-14 20:36] rlin1 commented on #554
The upcoming version of UAF will formally include CTAP2 support (if CTAP2 spec gets finalized soon).
The CTAP2 support is on ASM level that can easily be updated on the handsets.
The Authenticators implemented in the TEE could theoretically be updated, but updating TEEs is more complex is typically not done (other than for fixing severe security issues).

[2017-09-14 20:43] leshi commented on #554
Thanks, Rolf!

If an update will be required, why won't the new handsets implement webauthn assertion & attestation format instead?

[2017-09-14 22:36] balfanz opened #564 "Consider dropping requirement for TUP on create()"
Currently, the spec requires that Authenticators test for user presence when creating a new keypair.

The user experience on existing platforms (TouchID on iOS, Fingerprint on Android) for equivalent use cases (turn on TouchID for Amazon orders, turn on TouchID when logging into Mint, etc.) does not do this - it's often a simple switch in the apps' UI.

We should go with the Industry standard here

[2017-09-14 22:47] leshi commented on #139
What if we just remove the icon altogether?  Save some space on the authenticator.  The selection UI will be okay -- there is still a username.

We'll gain privacy and lose complexity...

[2017-09-14 23:04] nadalin commented on #564
@balfanz you are asking for additional calls, not sure the rationale is here since we have long talked about TUP

[2017-09-14 23:08] balfanz commented on #564
Just to clarify - I'm not asking for additional calls, just that we consider changing the semantics of create(); essentially remove [one line](https://github.com/w3c/webauthn/blob/db1be8059b02cb8981fbe0229f6d1eebaedb9505/index.bs#L1660) from the spec.

[2017-09-14 23:17] nadalin commented on #564
@balfanz but you are requiring me to do a get() and I could have failed on the create() so extra call and now I have gone through the create with something I may not want to use

[2017-09-14 23:19] balfanz commented on #564
Oh, **_that_** additional call. Yes, I think it's ok to optimize for the common case (make that cheaper both for the user and the RP), and make the rare case more expensive.

[2017-09-14 23:26] leshi opened #565 "preventSilentAccess() -- what effect does calling it have?"
The webauthn spec does not mention `preventSilentAccess()`.  However, the credman spec [does](https://w3c.github.io/webappsec-credential-management/#framework-credential-management).

What does it mean for public key credentials?  If it has a meaning, let's explicitly state that.  If it doesn't, let's make it throw an error.

[2017-09-14 23:28] akshayku commented on #564
This proposal can create silent resident keys and fill up the authenticator storage which is very scarce.

[2017-09-14 23:36] akshayku commented on #564
Let's not optimize here unnecessarily.

[2017-09-14 23:45] leshi opened #566 "How should the browser handle CredentialMediationRequirement for public key credentials?"
`CredentialRequestOptions` in webauthn extends `CredentialRequestOptions` from CredMan.  I'm reproducing it below for easy reference:

[code]

I'm not sure how a WebAuthn implementation should handle the mediation parameter.  It is not referenced at all in the WebAuthn spec.  We should clarify this.

[2017-09-14 23:45] balfanz commented on #564
I'm worried that the webauthn experience will be worse than existing mechanisms (TouchID, Fingerprints on Android) when addressing the same use cases.

"Bypass your password next time you use this (web)app, and use your fingerprint instead" is such an existing use case. Today, users are used to just turn on this kind of feature, without having to show a test of user presence at that point.

re/ re

[2017-09-15 01:10] balfanz commented on #554
re/ adding UAF-style assertions to webauthn because we might want to re-use existing UAF keys over CTAP - what would the user experience be for this? Am I imagining this right:

1. User launches PayPal app on phone, which is UAF capable, but before the CTAP update.
2. PayPal app says "hey, let's use fingerprints instead of passwords next time", and uses UAF to accomplish this. Note that the user i

[2017-09-15 01:19] balfanz opened #567 "authenticatorMakeCredential has an excludeCredentialDescriptorList parameter, but doesn't do anything with it"
`authenticatorMakeCredential` has an `excludeCredentialDescriptorList` parameter, but doesn't do anything with it. It probably should. And it should explain how the `excludeCredentialDescriptorList` is used differently between U2F and CTAP Authenticators.

[2017-09-15 08:17] emlun opened #568 "Where are rsaAlgName and eccAlgName defined?"
The `packed` and `tpm` attestation statement formats reference the types `rsaAlgName` and `eccAlgName`, saying "The types `rsaAlgName` and `eccAlgName` are as defined in [§5.3.1 Attestation data][attData]". Section §5.3.1 however doesn't reference these terms, and neither does the [RFC8152][rfc] cited therein to define the COSE_Key format.

Where are `rsaAlgName` and `eccAlgName` defined? Are they

[2017-09-15 08:27] AxelNennker commented on #139
Please remind me, why isn't icon part of [PublicKeyCredentialUserEntity](https://w3c.github.io/webauthn/#sctn-user-credential-params)?

I think it is valuable to have icon images e.g. if the authenticator is implemented on a smart watch or smart phone.

My opinion:
The origins of the icon URL and the RP origin MUST match.
The icon URL must be secure.
Passing icon data to the Authenticator is optio

[2017-09-15 08:49] emlun commented on #561
Personal anecdote: I as an implementer personally had no issue with the present formulation. The fact that `attStmt` is not the bytes signed over was not a cause of confusion for me as I found it clear that the `attStmt` is a polymorphic container for the signature.

I agree that a link to the definition of the [attestation statement][attStmt] or some such could be useful, though.

The correctness

[2017-09-15 10:51] emlun commented on #557
Weighing in as an RP implementer: What would really be the difference between parsing a `publicKey` property on the root object as opposed to parsing the authenticator data? If you don't care about attestation trust it's already perfectly possible to get at the public key without parsing the attestation statement, if that's what you mean.

Either way it seems unlikely to me that any one "friendly

[2017-09-15 11:23] emlun commented on #556
Rekeying the database should only be necessary to support a WebAuthn credential as the single factor (no username), though, right? If the user can supply a username when initiating the authentication ritual, won't it suffice to just add a new table/column/property to the database that links users to their credential IDs? And even with single factor login it seems wise to me to keep the credentialI

[2017-09-15 16:19] annevk opened #569 "Add [Exposed] to all interfaces"
Needed for https://github.com/heycam/webidl/issues/365.

[2017-09-15 19:09] agl commented on #455
I did some more testing with existing FIDO U2F tokens over the weekend and found two (with completely separate firmware) that got into such a bad state after processing an invalid key handle that they needed a power cycle to get back to normal operation.

No amount of care in a specification can address issues like that, but it does suggest that we can expect a very low level of testing on these d

[2017-09-15 21:00] AngeloKai commented on #556
I am questioning whether we have the right expert in the room to evaluate the work of rekeying database. @akshayku @nadalin @balfanz Is there someone from the respective server team who can speak to this? I remembered @selfissued used to be the expert on distributed computing before his current life on identity.

[2017-09-15 21:19] AngeloKai commented on #557
The argument for removing the publicKey is the following: The client shouldn't have to worry about key parsing. Although this adds a complexity to the server side, most servers are already equipped to handle complexity. @equalsJeffH also pointed out that we had some discussions regarding pushing the complexity to the server side and can add more explanation. By putting publicKey in the blob, it fo

[2017-09-15 21:22] AngeloKai commented on #139
@AxelNennker icon is part of PublicKeyCredentialUserEntity. This object inherits from the PublicKeyCredentialEntity.

[2017-09-15 21:27] AngeloKai commented on #139
@leshi  From what I read, the account chooser UI is better because it incorporates the image. @selfissued and other identity folks can comment more on the UI.

I am not sure if we are actually gaining privacy. At the end of the day, image is just another piece of data. The RP already supplies the name of the user, which can be used to identify the user. Comparatively image is probably more difficu

[2017-09-15 21:33] AngeloKai commented on #402
Closing the issue and moving the discussion to https://github.com/w3c/webauthn/issues/402 given that requireUserMediation no longer exists.

[2017-09-15 21:33] #402 closed

[2017-09-15 22:50] nadalin commented on #564
@balfanz @akshayku  seems like we should close this no action as leaving this the way it is does not give us issues of creating unwanted keys

[2017-09-15 22:59] nadalin commented on #561
@emlun so does this just become an editorial change to add the definition of the attestation statement?

[2017-09-15 23:02] nadalin commented on #557
@AngeloKai @emlun @balfanz So is this a close no action now ?

[2017-09-15 23:04] nadalin commented on #556
@AngeloKai @balfanz @christiaanbrand Seems like we are back to not having the USER ID, so close ?

[2017-09-16 03:32] emlun commented on #561
I don't call any shots, I just wanted to weigh in with that I as an RP implementer don't think the longer wording is necessary for it to be understandable and unambiguous. I'm only one data point, but yes, my suggestion would be to leave the wording as is and just add a proper reference to the definition of the attestation statement.

[2017-09-18 07:19] Kieun opened #570 "No description regarding representation of credential Id length"
In section 5.3.1, there is lack of explanation regarding representation of credential Id length.
Referring to CTAP spec, the length should be 2-byte unsigned big-endian integer.
See followings
[Attestation Data](https://w3c.github.io/webauthn/#attestation-data)

[2017-09-18 18:58] leshi commented on #567
I found the reference:

* An optional list of PublicKeyCredentialDescriptor objects provided by the Relying Party with the intention that, if any of these are known to the authenticator, it should not create a new credential.

[2017-09-18 20:40] christiaanbrand commented on #567
We clarified the text a bit with a PR.

[2017-09-18 21:03] christiaanbrand commented on #564
Can we make it optional for platform (built-in) authenticators to require a TUP? They won't have the issue of getting filled up with credentials, right? And the UX is much better.

[2017-09-18 21:32] balfanz commented on #557
Hi Angelo,

thanks for pointing to the meeting notes again. :-) I'll highlight the relevant passages:

If you recall, my point there (which, IIRC, was met with no objections in the room) was that we don't know where and how the public key will be consumed - server side, client side, what programming language the server will be written in (the server may very well be written in JS), how they split

[2017-09-18 21:36] christiaanbrand commented on #551
Angelo, are you still doing this?

[2017-09-18 21:42] #550 closed

[2017-09-18 22:33] leshi opened #574 "Not clear what to do with cross platform authenticators during make-an-assertion step"
The current text in section 4.1.4 step 16 says:

[code]

If an authenticator is `xplat` (or cross platform), say an NFC token that only appears once the user taps it, how does that jive with step 16 which says "... currently available on this platform..."?

Also, "...execute a platform-specific procedure..." works for platform authenticators, but not for cross-platform authenticators.

[2017-09-18 23:19] christiaanbrand opened #575 "isUserVerifyingPlatformAuthenticatorAvailable() timeout really 10 minutes?"
Is [isUserVerifyingPlatformAuthenticatorAvailable()](https://w3c.github.io/webauthn/#isUserVerifyingPlatformAuthenticatorAvailable) really set as 10 minutes? Why not on the order of a couple of seconds? I don't really see a mechanism for fingerprinting if we wait for a random time within that couple of seconds before returning.

[2017-09-19 01:41] emlun commented on #557
Wouldn't a RP that doesn't care about attestation formats (and therefore does not parse them) be violating the MUST in [§6.1 Registering a new credential](http://w3c.github.io/webauthn/#registering-a-new-credential)?

[2017-09-19 16:23] kpaulh commented on #575
The lengthy timeout is to allow for user interaction. Even if the client supports a platform authenticator, the user has to approve the sharing of that information by responding to a prompt of some sort.

[2017-09-19 16:28] jyasskin opened #576 "RP guidelines should allow RP to not check attestation"
A Relying Party who merely wants to use public-key credentials without caring how well the private key is protected could get by without including code to parse the attestations, especially after #557 is fixed. However, as @emlun pointed out there, http://w3c.github.io/webauthn/#registering-a-new-credential currently says the RP MUST validate the attestation statement they receive. We should proba

[2017-09-19 16:29] jyasskin commented on #557
@emlun Maybe that's a bug in the RP algorithm. Discussing it would derail this thread, so I created a new one at #576.

[2017-09-19 18:38] emlun commented on #576
Perhaps this isn't a big issue, but one caveat of this is that if the RP does not parse the attestation statement then it also cannot verify the registration signature, so there is no cryptographic proof that the client has access to the corresponding private key.

One counterpoint is that the ritual will be performed over HTTPS anyway, and should be resistant to network MitM attacks, but this wou

[2017-09-19 18:42] emlun commented on #576
On the other hand, verifying the signature but not the attestation of the authenticator model is already explicitly allowed in step 14:

Perhaps there is some confusion in what "attestation" means?

[2017-09-19 18:57] balfanz commented on #566
@jyasskin - can you advise here and assign back to @leshi or unassign?

[2017-09-19 18:57] balfanz commented on #565
@jyasskin - can you advise here and then assign back to @leshi or unassign?

[2017-09-19 19:00] balfanz commented on #557
@jyasskin - any advice on how to word this? I assume something about JWKs, but I'm not fluent in whatever programming language this spec is written in. :-)

[2017-09-19 22:00] leshi commented on #374
@jyasskin, brining you into this.

[2017-09-19 22:53] akshayku commented on #574
Yeah..
This needs to be extensible for authenticators which platform has not seen yet. This is certainly applicable for NFC, but also applicable for future USB plugins or BLE devices.

[2017-09-19 22:56] akshayku commented on #568
This is artifact left over previous to COSE Key change. This is supposed to be alg: COSEAlgorithmIdentifier.

[2017-09-19 23:11] akshayku commented on #564
Adding a FIDO experience for TouchID, Fingerprints on Android is a new scenario and once in a life time event. Arguably IMO, experience is not bad and is consistent with whole FIDO security promise and user experience.

Regarding resident keys, on both platform as well as cross platform authenticators, should absolutely require a touch so that not any malware can fill up the authenticator storage.

[2017-09-19 23:15] akshayku commented on #557
Does it need to be JWK?? Why cannot it remain in COSE_KEY format? That way we will be consistent everywhere.

[2017-09-19 23:25] jcjones opened #577 "CDDL for attStmtType is confusing"
When implementing the [CBOR-encoded Attestation Object](https://w3c.github.io/webauthn/#generating-an-attestation-object), the `attStmtTemplate` defines `attStmt` to be `bytes`:

[code]

However, all of the definitions of the `attStmtType` actually override the `attStmt` to be some other type, namely a **map**. E.g.:

[code]

Defining it at the top-level as **bytes** is confusing, then. It's proba

[2017-09-20 06:22] rlin1 commented on #554
The idea is to use the UAF Authenticator bound the the phone via CTAP2 for the browser on the laptop instead of asking for the password - avoiding the additional identity binding procedure (via password).

[2017-09-20 11:34] emlun commented on #557
If it's just going to be the same COSE_key blob duplicated, why not just parse it out of the authenticator data instead?

[2017-09-20 16:24] equalsJeffH commented on #559
I am addressing this as part of PR #498

[2017-09-20 18:08] jyasskin opened #578 "Privacy Considerations should describe risks of storing userID/displayName in "second-factor" authenticators"
After discussions about #558, there's agreement that in cases where the authenticator doesn't itself authenticate the user (e.g. via PIN, fingerprint, etc), it's a bad idea to store PII in the authenticator. The PII appears to be all of [MakePublicKeyCredentialOptions.user](https://w3c.github.io/webauthn/#dom-makepublickeycredentialoptions-user) except perhaps for `id` if the RP is careful (see be

[2017-09-21 15:41] ve7jtb commented on #578
I recall Google did the encryption trick with their pairwise identifiers for openID 2, so it can work.

For privacy I agree that credentials without some sort of local pin (or other authenticated unlock) should not provide a display name.

[2017-09-22 08:14] emlun commented on #577
I agree. At the interop meeting some browsers had interpreted the spec as meaning the `attStmt` should be a binary value (decoded as `attStmt := parseCbor(parseCbor(attObjBytes).attStmt)` and some had interpreted it as a map value (decoded as `attStmt := parseCbor(attObjBytes).attStmt`), both perfectly reasonable interpretations. This ambiguity should be eliminated.

[2017-09-22 09:51] emlun opened #579 "Credential ID uniqueness expectations are inconsistent/vague"
As pointed out in #558, the requirements on the uniqueness of the credential ID are not completely clear.

[§4.1. PublicKeyCredential Interface][att-resp] reads:

[§4.2.1 Information about Public Key Credential (interface AuthenticatorAttestationResponse)][att-resp], point `attestationObject` reads:

[§5. WebAuthn Authenticator model][authenticator-model] reads:

[§5.2.1. The authenticatorMakeCred

[2017-09-22 10:40] emlun commented on #579
An alternative to (2) is, as @akshayku points out in #558, to explicitly allow RPs to reject registration of an already registered credential ID.

[2017-09-22 10:48] akshayku commented on #579
For the RP's who have implemented or are going to implement ONLY credentialID based lookup, uniqueness of the credentialID is very important. I would suggest it to be minimum of 16 bytes.

At the same time, we probably should refrain away from how its generated which allows flexibility and inventiveness for the authenticators.

[2017-09-22 12:09] jovasco commented on #579
Actually, that's a lot more requirements than I found with a quick search, I only found the reference in 4.2.1.

@akshayu It's not possible to guarantee this as the authenticator does not have the required context and vendors do not know how other vendors generate Credential IDs. Collisions are always possible.

@emlun There is little point to that probability requirement in that form as it cannot

[2017-09-22 12:22] emlun commented on #556
I'm quite sure this would break compatibility with the millions of existing U2F devices as they can't store anything else in addition to the credential ID.

[2017-09-22 13:18] emlun commented on #579
I was using the 2017-08-11 WD, perhaps we had different versions?

Anyway, those are good points.

[2017-09-22 13:38] emlun commented on #579
I was using the 2017-08-11 WD, perhaps we had different versions?

Anyway, those are all good points; I retract suggestion (2), and then (1) isn't really necessary anymore.

However I think it's a good idea to instead explicitly allow RPs to refuse registering a duplicate credential ID. Authenticators are already required to generate a new credential ID for every call to new `create()`, so registr

[2017-09-22 14:32] jovasco commented on #579
I agree on the explicitly allowing to refuse a duplicate.

I would still add a minimum length requirements and the requirement to use a cryptographic operation. The first one will create lots of bits, I think the second one will guarantee at least as much entropy as the encryption key (again, not a cryptography expert).

[2017-09-22 15:03] ve7jtb commented on #579
I agree the RP SHOULD refuse a duplicate credential id.   I would make that a MUST but some may only be indexing credential id by user id for starred credentials so might not be able to easily tell if it is duplicate.   Collisions in UUID https://en.wikipedia.org/wiki/Universally_unique_identifier are relatively well understood.  A 16 byte value is probably sufficient.  If the problem is a weak ra

[2017-09-22 16:35] akshayku commented on #579
Totally agree with @ve7jtb suggestion.

[2017-09-22 17:50] #567 closed

[2017-09-23 05:38] emlun commented on #556
Sorry, never mind. Turns out that won't be a problem.

[2017-09-24 09:18] jovasco commented on #579
So 16 bytes length, fine by me. What about the entropy?

[2017-09-24 09:33] emlun commented on #579
If RPs are recommended that they SHOULD refuse duplicate credential IDs I think it's not necessary to specify any minimum length or entropy for the credential ID. The worst that would happen is a bad user experience with badly designed authenticators, and that's on the authenticator designer if that's worth ignoring the SHOULD clause.

[2017-09-25 01:34] Kieun commented on #579
In cases of UAF, the credential Id (called keyId) is unique in the scope of aaguid (called AAID). We cannot guarantee that the credential Ids are unique across all authenticators. For usability, the server may check duplication of credential Ids in the scope aaguid instead of looking up all records.

[2017-09-25 03:23] selfissued commented on #568
PR #580 replaces the uses of rsaAlgName and eccAlgName with COSEAlgorithmIdentifier.

I'd like feedback on whether we should also replace uses of the strings "ED256" and "ED512", which refer to the algorithms defined at https://fidoalliance.org/specs/fido-uaf-v1.1-id-20170202/fido-ecdaa-algorithm-v1.1-id-20170202.html#ecdaa-algorithm-names, with new COSEAlgorithmIdentifier values.  If so, I would

[2017-09-25 03:34] akshayku commented on #568
Yes, we should also replace "ED256" and "ED512" with COSE identifier.

[2017-09-25 07:14] emlun commented on #579
@Kieun Does UAF generate a new credential ID if registration is retried?

[2017-09-25 07:38] Kieun commented on #579
@emlun Yes. Credential Ids are generated randomly by authenticators during registration.
Comparing to U2F and WebAuthn, in UAF the probability of credential Id duplication is low. And with tuple of AAID (aaguid), keyID (credential Id), the server can locate credential public key and user id. So, if we have AAGUID for the first factor authenticators, we can avoid credential duplication problems.
Fo

[2017-09-25 07:46] christiaanbrand commented on #579
Why would it not be up to the RP to decide if they want to accept duplicate credential IDs? Just key off the user id too now. We've added it especially for you :)

[2017-09-25 09:22] rlin1 commented on #568
I have not seen any CODE identifier for those yet.

[2017-09-25 11:34] jovasco commented on #579
@christiaanbrand As long as it is explicitly allowed that's fine, the current wording does not allow it.

[2017-09-25 12:52] emlun commented on #579
Of course the RP can already choose no accept it or not, but if you really lawyer it up on §6.1 it technically doesn't allow the RP to refuse duplicate credential IDs. :)

I see two main reasons for recommending against accepting duplicates:

- It reduces the importance of credential IDs being very unique
- It reduces the risk of RPs implementing lookups in a way vulnerable to DoS attack similar t

[2017-09-25 23:38] selfissued commented on #568
These have been added to PR #580 .  Please review.

[2017-09-26 09:18] Kieun opened #583 "No way to select an intended authenticator during authentication with attachment info"
[Section 4.4.4](https://w3c.github.io/webauthn/#attachment) describes the way for RP to set acceptable types of authenticators for registration and authentication.
In case of registration, there is a member for this in MakePublicKeyCredentialOptions dictionary.
But, there is no such member for authentication option defined in PublicKeyCredentialRequestOptions dictionary.
IMO, PublicKeyCredentialRe

[2017-09-26 23:44] balfanz opened #584 "Make packed attestation format Privacy CA-friendly"
Currently, the packed attestation format requires that the attestation key sign over - among other things - the RP ID hash and client data hash.

If/when we move to a Privacy CA model - in which the attestation signature generated by the authenticator is replaced by the attestation signature generated by the Privacy CA - it is desirable that the Privacy CA not learn the identity of the Relying Par

[2017-09-27 01:21] balfanz commented on #557
I think it should be a JWK, since we're designing a web API. On the web, [we use JWKs to represent keys](https://w3c.github.io/webcrypto/Overview.html#dfn-SubtleCrypto-method-exportKey).

[2017-09-27 01:27] equalsJeffH opened #585 "address needs of various webauthn spec audiences"
The webauthn spec is written for multiple audiences, including _at least_:
* Relying Party deployers
* Web browser implementers
* OS platform implementers
* Authenticator vendors

PR #375 attempts to address this by adding a "spec roadmap" section to the introduction. this may or may not be sufficient -- we may want to consider creating "explainer" docs for one (eg RP deployers) or more audiences.

[2017-09-27 04:35] apowers313 opened #587 "Nothing required in PublicKeyCredentialEntity"
Currently the [PublicKeyCredentialEntity](https://w3c.github.io/webauthn/#dictdef-publickeycredentialentity) has no required members, and it appears to be acceptable to pass an empty object to `publicKey.rp`. Was that the intent?

[2017-09-27 04:54] apowers313 commented on #587
Same concern for [PublicKeyCredentialUserEntity](https://w3c.github.io/webauthn/#dictdef-publickeycredentialuserentity), which also doesn't seem to have any meaningful information (such as an `id` for the user).

[2017-09-27 05:39] apowers313 commented on #587
Further, I think [4.1.3](https://w3c.github.io/webauthn/#ref-for-dictdef-makepublickeycredentialoptions①) step 3 actually refers to a `user.id` which no longer exists in the dictionary:

[2017-09-27 07:18] manger opened #588 "Extension identifiers in examples are inconsistent with registered identifiers"
§11.3 "Sample scenarios: Authentication" has an example with:
  extensions: { 'webauthn.txauth.simple':

§11.1 "Sample scenarios: Registration" has an example with:
  extensions: {"webauthn.location": true}

But the registered extension from §10.2 "WebAuthn Extension Identifier Registrations" are:
  txAuthSimple
  loc

Fix: change the §11.3 and §11.1 examples to use the §10.2 values.

[2017-09-27 07:25] manger opened #589 "User Verification Method (uvm) extension incorrectly mentions user verification *index*"
§9.8 "User Verification Method Extension (uvm)" says (when describing authenticator extension processing) that the output is set to the
  user verification index
but it should be set to the
  user verification method

Fix: change "index" to "method"

"method" distinguished face vs finger vs iris etc; whereas "index" distinguishes, say, 2 fingers enrolled  on a device.

[2017-09-27 08:35] Kieun opened #590 "Need to remove the term "authentication key" in self attestation description"
§5.3.3 Attestation Types depicts **Self Attestation** type and there is a term "authentication key" that is not defined elsewhere. This term is only referred in this section.
Let us use "credential private key" instead of "authentication key". #

[2017-09-27 11:45] Kieun opened #591 "Description of attestation signature generation for ECDAA needs to be fixed."
§7.2 Packed Attestation Statement Format describes syntax and semantics of Packed Attestation Statement.
The signing and verification attestation procedures are explained.
In case of using ECDAA for the attestation, the signing procedure is somewhat weird.
Followings are the depicted signing procedure for ECDAA.

In order to generated ECDAA signature, a signer (authenticator) generates signature w

[2017-09-27 16:53] r12a opened #592 "Incorrect feedback link in 20160531 WD"
fwiw, https://www.w3.org/TR/2016/WD-webauthn-20160531/ points people with comments to the wrong github repo (SOTD end of first para).

[2017-09-27 16:57] r12a opened #593 "Display name content rules?"
[This review was done against https://www.w3.org/TR/2016/WD-webauthn-20160531/#iface-account, and the comment was raised by Addison Phillips. The i18n WG agreed to forward as a WG comment.]

There are no rules (other than that they are DOMStrings) associated with display names. Should there be any content restrictions?

[2017-09-27 16:59] r12a opened #594 "Examples should include non-ASCII [editorial]"
[This review was done against https://www.w3.org/TR/2016/WD-webauthn-20160531/#iface-account, and the comment was raised by Addison Phillips. The i18n WG agreed to forward as a WG comment.]

Section 3.3 contains several examples of user and organizational names (`rpDisplayName`, `displayName`, etc.). The examples should include some non-English or non-Latin example.

[2017-09-27 18:33] AngeloKai commented on #557
@selfissued can you please take a look at this issue? @balfanz

[2017-09-28 00:12] #568 closed

[2017-09-28 02:46] selfissued commented on #547
I agree with John that limiting a key to use with a particular algorithm is a good security practice.  This was intentional.

I don't know why you're saying that the curve is not specified.  The COSE algorithm identifiers are specific to particular algorithms, including the curve.  For instance, the ES256 (-7) is specific to a particular curve.

[2017-09-28 03:39] selfissued commented on #548
Good catch.  The "authenticator data" is an output.  It should say that the authenticator extension input is included in the request to the authenticator.  I'll create a PR.

[2017-09-28 04:44] #530 closed

[2017-09-28 04:44] #563 closed

[2017-09-28 04:55] christiaanbrand opened #598 "Change user.id examples to binary encoding."
Change user.id examples to binary encoding. It can be up to 64 bytes long.

[2017-09-28 04:57] #548 closed

[2017-09-29 02:57] Kieun commented on #584
In case of using Privacy-CA model, the authenticator has Endorsement key (EK) which is long-term key like attestation key in Basic Attestation model.
In stead of using EK directly for the attestation during registration, the authenticators uses Attestation Identity Keys (AIKs) which are very short-term keys.
These keys are generated during AIK certificate enrollment process between the authenticat

[2017-09-29 08:51] Kieun opened #599 "Need to fix android key attestation verification procedure"
#546 PR fixes the android attestation generation issue.
The resolution is to change the signing procedure to handle properly android key attestation. But the verification procedure does not reflect these modification.
So, verification procedure should be fixed.
Followings are need to be fixed.

In stead,

[2017-09-29 23:02] agl commented on #584
There might not be an enrollment process between the authenticator and the Privacy-CA. There is not, for example, in current U2F tokens.

As an alternative to Dirk's scheme, the RP ID should be replaced in the signed message with H(blind + RP ID). The Privacy-CA would still see the structure of the message that it was signing, but the blind would only be disclosed to the RP by the client.

[2017-09-30 00:06] Kieun commented on #584
In WebAuthn spec, there are supported attestation types including Privacy-CA.
Is this a proposal to add more attestation type? I think Dir's scheme is not regarding Privacy-CA defined in WebAuthn and TPM specs. In stead, it seems like proxy signature or blind signature scheme.

[2017-10-02 17:27] idamlaj commented on #564
I support dropping the TUP requirement for platform (built-in authenticators).

We should do this only if excludeCredentials.length == 0, otherwise a relying party may silently query for credentials via the excludeCredentials parameter.

[2017-10-02 18:55] nadalin commented on #564
@idamlaj are you in favor of removing this or making it optional ?

[2017-10-02 19:04] akshayku commented on #564
Let's make it optional for only platform authenticators. Let each platform device what behavior it wants.

[2017-10-02 19:34] jyasskin commented on #585
#88 also talks about specifying what RPs need to do.

[2017-10-02 19:47] nadalin commented on #564
@akshayku @idamlaj  @christiaanbrand Looks like support to wrap this up as making this optional

[2017-10-03 00:12] equalsJeffH commented on #554
@balfanz wrote:

yes (if that is a system whose local storage was cleared or is a system the user has not used before) and then the RP's client-side webapp ought to be able to determine there's a roaming (aka external) authnr in range/connected and give it a try over CTAP2. The existing FIDO (UAF) credential is employed and the user signed-in on the browser on laptop. In the future they can just u

[2017-10-03 04:58] rlin1 commented on #564
I have some open question regarding this topic.
1. The distinction between bound authenticators and roaming authenticators is not a static as one might think.  Let's assume a bound authenticator in a smartphone.  Let's further assume that smartphone supports CTAP protocol and is connected to some laptop using CTAP.  This makes the bound authenticator a roaming authenticator.  Would that authentica

[2017-10-03 10:26] akshayku commented on #584
@nadalin Can we front-load this issue in this week's call as this is a breaking change?
@balfanz/@leshi Can you guys create a PR for your proposal??

[2017-10-03 11:17] emlun commented on #583
Under what circumstances would an RP want to allow some authenticators for registration but not for authentication?

[2017-10-03 11:34] emlun commented on #587
This looks like an editorial mistake. [§4.4][rp] specifies that `rp.name` is required.

That type inherits `id` in the 2017-08-11 draft. In the 2017-09-28 draft the property has been moved down, and is also specified in [§4.4][user] to be required.

[rp]: https://w3c.github.io/webauthn/#dom-makepublickeycredentialoptions-rp
[user]: https://w3c.github.io/webauthn/#dom-makepublickeycredentialoptions

[2017-10-03 11:59] emlun commented on #594
It looks like §3.3 in WD1 (2016-05-31) corresponds to [`PublicKeyCredentialEntity`][dict] and its subtypes in [WD7 (2017-08-11)][wd7].

[dict]: https://w3c.github.io/webauthn/#dictdef-publickeycredentialentity
[wd7]: https://www.w3.org/TR/2017/WD-webauthn-20170811/

[2017-10-03 12:54] Kieun commented on #583
Some authenticators can be platform(bound) or cross-platform(roaming) authenticators depending on their characteristics. And some of platform authenticators can be cross-platform authenticators at the same time.
Also, the user may register multiple authenticators and the RP wants to select the specific authenticator which has user verification method in some context such as money transfer case.
In

[2017-10-03 13:30] emlun commented on #583
Ah yes, section 4.4 is indeed inconsistent as you point out. But doesn't `allowCredentials` already enable these features? Of course that assumes the RP has stored device metadata in the registration ceremony, but the RP would need that metadata anyway in order to verify that the user agent obeys the `authenticatorSelection`.

[2017-10-03 15:22] Kieun commented on #583
AllowCredentials is similar to this feature. But I think allowCredentials is mainly used for the credential selections by setting credential Id in case of which RP knows the credential ID before sending authentication challenge. But what if the RP does not know the credential ID before sending authentication challenge in case of first factor authentication? So, authenticatorSelection is little bit

[2017-10-03 19:14] emlun commented on #583
Ah yes, you are right. It is technically possible for the user to select a first factor they know the RP will accept, but it would indeed make for a better user experience if the user agent can prevent the user from choosing a credential/authenticator the RP won't accept.

[2017-10-03 19:26] emlun commented on #583
But on second thought, couldn't that also be solved with an additional authentication ceremony? The RP can first authenticate the user with any registered credential, and then when the user is identified in a session the RP can request specific credentials for specific actions. It still risks to complicate the user interaction, but at least it spares the user from retrying failed authentications.

[2017-10-03 21:47] jyasskin commented on #566
Sorry it took me so long to look. I believe https://w3c.github.io/webappsec-credential-management/#algorithm-request takes complete charge of handling the `mediation` field. This handling uses a distinction between the [`[[CollectFromCredentialStore]]`](https://w3c.github.io/webappsec-credential-management/#dom-credential-collectfromcredentialstore-slot) method (which webauthn doesn't override) an

[2017-10-03 22:52] nadalin commented on #564
1. It depends on the boundary as you pointed out in Sydney, so it can be simple or complicated. but the basic definition would be that the internal OS protocols are used and not CTAP
2. Agree there should be some clarification
3. There is no violation as the FIDO conformance tests would be require user consent

@akshayku @idamlaj @christiaanbrand @rlin1  Looks like support to wrap this up as makin

[2017-10-03 23:39] akshayku commented on #564
Fine with me if it is optional

[2017-10-04 03:23] jyasskin opened #605 "Define how to verify the attestation certificate"
https://w3c.github.io/webauthn/#registering-a-new-credential says

@sahf says that leaves a bunch of questions unanswered:

1. Should the RP honor the validity dates in the attestation certificate? If so, how should the user be told that his token is too old to be used?
1. Should the RP honor the "critical" bit for X.509 extensions, meaning that it should refuse to register in the case where a tok

[2017-10-04 08:38] jovasco commented on #564
I'm not so sure there are no privacy considerations. Basically, you are allowing any RP to uniquely identify any system with such an authenticator.

All that is needed is a makeCredential call with a requirement for an attached authenticator without UP requirement and an exclude list. If no new credential is created, this particular credential identifies this system.  The only practical limit is t

[2017-10-04 17:28] #556 closed

[2017-10-04 17:47] rlin1 opened #606 "Update definition of Authenticator to make it more similar to FIDO's def"

[2017-10-04 17:47] rlin1 commented on #606
see branch updated-authnr-def

[2017-10-04 17:59] jcjones commented on #547
I agree with limiting keys to specific algorithms; this is commonplace throughout other specs.

And if some curves are under-specified, then that sounds like a COSE issue?

[2017-10-04 18:40] apowers313 opened #608 "Update CTAP references"
A new version of the CTAP spec has been published:
https://fidoalliance.org/specs/fido-v2.0-rd-20170927/fido-client-to-authenticator-protocol-v2.0-rd-20170927.html

We need to update the reference to point to this version of the specification.

[2017-10-04 19:20] #577 closed

[2017-10-04 19:20] nadalin commented on #608
@apowers313 can you create PR and then just merge this ?

[2017-10-04 19:22] nadalin commented on #606
@rlin1 Can you create a PR and just merge it ?

[2017-10-04 19:30] nadalin commented on #598
@christiaanbrand can you create a PR and just merge this since this was decided in CTAP ?

[2017-10-04 19:31] nadalin commented on #584
@christiaanbrand we agreed that we will keep this open, but you will create a new issue that describes making a new packed attestation format so this becomes a non breaking change

[2017-10-04 21:00] idamlaj commented on #564
@jovasco you are correct. See my previous comment.

My proposal is that we make the makeCredentail call (optionally) silent if the exclude list is null.

This should be called out in the privacy considerations section.

-Ibrahim

[2017-10-04 22:03] equalsJeffH commented on #462
added to list in the OP:

user's account
user's account identifier
user account entity
user account's  PublicKeyCredentialUserEntity.

user handle

[2017-10-04 22:11] ve7jtb commented on #584
To Adams comment, I am more comfortable with just blinding the "CA"  to the RP ID rather than removing the audience totally.
It may be a mistake to call this a privacy CA.  It is more of a blinding proxy for the attestation.

If the RP ID can be hashed with a nonce before going to the fido client then CTAP would not necessarily need a new attestation format.   The proxy would need a new attestatio

[2017-10-04 22:37] jyasskin commented on #587
https://w3c.github.io/webauthn/#createCredential step 3 says:

Because `name` is required in both the `user` and `rp` fields, I think it is ok to mark it `required` in the base class. `id` wasn't marked `required` when it was in PublicKeyCredentialEntity because it was only required by one of the sub-dictionaries, but now it probably could be marked `required` in `PublicKeyCredentialUserEntity`.

[2017-10-04 22:41] equalsJeffH opened #609 "technical & terminology issues with PR#558 Plumb User ID through"
seems to me that PR#558 Plumb User ID through could have been reviewed more thoroughly prior to merging. I see a technical issue we arguably need to fix, and also feel that it further clouds our already fragmented/hazy/undisciplined terminology ( see also #358 and #462 ).

1.  technical issue with PR #558

please note here..
[code]
..that `user.id` is a BufferSource, here on the "input" side of th

[2017-10-04 23:10] equalsJeffH opened #610 "Per TCG: "privacy CA" is now "Attestation CA""
Note that if one searches the TCG's  TPM 2.0 specs for "privacy CA", one will not find it.

I went looking and found this in https://trustedcomputinggroup.org/wp-content/uploads/IWG_CMC_Profile_Cert_Enrollment_v1_r7.pdf

The primary Certification Authority (CA) associated with the TPM has been referred to in previous TCG publications as either the “Privacy CA” (PCA) or “Platform CA”. In an effort

[2017-10-05 00:32] SAHF commented on #605
For context: I know little about WebAuthn & my comments were pretty off-the-cuff.  My concern was that chain building in HTTPS is a (very) complex topic & that without specific guidance, WebAuthn implementors may reuse features of HTTPS implementations—maybe even inadvertently!

So if you intend the verification procedure here to be simpler than what it is in HTTPS, it is probably worth writing ou

[2017-10-05 00:58] ve7jtb commented on #584
Good point.   That method of blinding won't work.

That leaves us with needing to change the attestation from the Authenticator to support this.

What are the security implications of leaving a audiance out of the attestation.  Is there anything else that is currently passed to the Authenticator that could also be used as an audiance?

The format returned needs to work both directly and with a pri

[2017-10-05 03:46] akshayku commented on #584
I agree and we want all the current security assurances from the new scheme also (like able to tie together RPID with the credential in the signature.)

We need to see @leshi / @balfanz  / @christiaanbrand  proposal quickly on this.

If I understand it correctly, @balfanz is saying something like this

-------------------------------------
Current Attestation Format:
alg: COSE Algorithm Identifier

[2017-10-05 10:27] emlun commented on #564
"Null" as in "present with a `null` value", "not present" or both?

[2017-10-05 11:53] emlun opened #613 "Allow hot-plugged authenticators?"
In discussing the Firefox implementation with @jcjones we discovered a wrinkle in the `create()` and `get()` ceremonies: Hot-plugged authenticators - yes or no?

Currently, [§4.1.3. Create a new credential][make-cred] and [§4.1.4. Use an existing credential to make an assertion][assert] both specify their procedure on the form

 1. Prepare authenticator arguments
 2. Let `currentlyAvailableAuthent

[2017-10-05 13:28] Kieun commented on #584
Dirk's proposal seems like delegation of generating attestation signature from the authenticator to the Privacy CA (actually it's not in the context of TPM and WebAuthn). This is sometimes called proxy signature scheme. Usually, this approach is used in the applications like grid computing and mobile computing which the client has a limited resources to sign the message. It's not for the privacy o

[2017-10-05 13:58] equalsJeffH commented on #566
@jyasskin when you use the term "user" in the above, you mean the client-side webapp script?

[2017-10-05 15:26] jcjones commented on #613
A very good point. Right now our WebAuthn implementation allows hotplugging... while the algorithm language is pretty clear on not allowing hotplugging.

https://github.com/w3c/webauthn/blob/0cae38154c59cf4760e7dfed00f2c44e298f8c9f/index.bs#L661-L664

Obviously we paid very close attention to the specific algorithm language! 😀

[2017-10-06 11:28] emlun commented on #574
See also #613

[2017-10-06 13:21] emlun commented on #579
Actually... apparently someone already thought of this. The last paragraph of [6.1. Registering a new credential][make-cred] reads:

How embarassing to have missed that... It might however be worthwile to make this one of the formal algorithm steps.

[make-cred]: https://w3c.github.io/webauthn/#registering-a-new-credential

[2017-10-09 17:03] jovasco commented on #613
For BLE authenticators, it is almost certain that the authenticators will appear somewhere during the process, whenever the user turns it on.

[2017-10-09 17:41] equalsJeffH commented on #233
points (2) and (3) (see OP: https://github.com/w3c/webauthn/issues/233#issue-183487783) addressed in PR #614

[2017-10-09 22:32] jcjones opened #618 "isPlatformAuthenticatorAvailable's examples imply it should be static"
The example in the spec shows static usage of `isPlatformAuthenticatorAvailable`:

https://github.com/w3c/webauthn/blob/089c10e16bdcda0bd75db1d7f1d6a2be21304e08/index.bs#L3432-L3451

However, isPlatformAuthenticatorAvailable is defined [`[Unscopable]`](https://www.w3.org/2017/08/webidl-fpwd-draft.html#Unscopable), which is a [regular operation](https://www.w3.org/2017/08/webidl-fpwd-draft.html#dfn

[2017-10-10 03:31] jyasskin commented on #566
@equalsJeffH Yep, edited to be more precise.

[2017-10-10 06:58] Kieun opened #621 "Transaction authorization extensions are registration and authentication extension?"
Section 9 describes the initial set of WebAuthn extensions. Each extension is registration and/or authentication extension depending on the use cases.
In case of transaction authorization, there are two defined extensions: TxAuthSimple and TxAuthGeneric.
And both extensions are registration extension and authentication extension at the same time, which means those extensions can be handled during

[2017-10-10 12:14] emlun commented on #621
Do you mean that UAF requires an authentication operation in order to show a prompt to the user?

[2017-10-10 12:50] Kieun commented on #621
Yes, transaction confirmation in UAF is extended authentication operation.
See followings description in UAF spec.

[2017-10-10 13:39] jovasco opened #622 "PublicKeyCredentialUserEntity difference between name, displayName and id not clear"
For name:

for displayName:

Both say they are friendly identifiers and are intended for display (one explicitly, the other by its name).

When displaying account selection, a unique displayable name is required so the user can always differentiate between his different accounts.

So name should be the login name, unique for the relying party and suitable for display.
displayName should just be a

[2017-10-10 13:41] emlun commented on #621
Then it indeed seems like UAF devices can't support `txAuthSimple` or `txAuthGeneric` for registration, but does that mean no other device should either? Some RPs might still want to be able to request those extensions from future devices that do support them for registration. UAF devices are allowed to simply ignore the extension for the registration ceremony.

[2017-10-10 13:45] emlun commented on #622
Are two separate "names" even needed when we have `id` for both the User and RP variants?

[2017-10-10 13:56] Kieun commented on #621
if the RP just needs to show a prompt to the user, RP may use web UI component instead of using those extensions.
The transaction authorization is for RP to ensure that the user is confirming the transaction content.
Thus, if the purpose of transaction authorization is for getting cryptographic proof of user confirmation of the content, the signature for the proof should be generated with user's p

[2017-10-10 14:43] emlun commented on #621
Ah yes, that is true. However at registration time the RP does not yet trust the user's private key, only the attestation key, so no security would be gained by also signing with the user's private key.

I agree it raises the question of whether there's still a point in allowing the extensions for registration, but I think there is. Even if it's impossible to verify authorization by any particular

[2017-10-10 18:20] #609 closed

[2017-10-10 20:59] nadalin commented on #547
@selfissued where do we stand on this issue ?

[2017-10-10 22:50] selfissued commented on #547
I believe this should be closed as "won't fix" since the premise of the issue is false.  The curves for all COSE algorithms are fully specified.

[2017-10-11 00:15] jcjones opened #624 "clientExtensionResults attribute cannot be a Record type"
The attribute clientExtensionResults is a `typedef` of  `record<DOMString, any>`:

https://github.com/w3c/webauthn/blob/e74d8c4da2813559086fa32a28bdc6c576d54c1f/index.bs#L1354

It's used in several dictionaries - where it's fine - but it's also attached to each `PublicKeyCredential` as an attribute:

https://github.com/w3c/webauthn/blob/e74d8c4da2813559086fa32a28bdc6c576d54c1f/index.bs#L471-L475

[2017-10-11 03:54] bzbarsky commented on #624
The reason records can't be attributes is that each get would return a new object, which is bizarre behavior for an attribute, btw.  An operation doing that is OK, though.

[2017-10-11 14:21] equalsJeffH commented on #624
Presumably, then, we would need to specify the algorithm implementing `getExtensionResults()`, yes?

IIUC, given @bzbarsky's explanation, with this approach we are essentially defining an explicit "getter" (?).

[2017-10-11 15:04] jcjones commented on #624
@bzbarsky: Makes sense, now that you've given me the context - thanks!
@equalsJeffH: That's my understanding as well, yep.

[2017-10-11 15:39] bzbarsky commented on #624
You need to specify an algorithm no matter what, no?  The thing returns a record; you need to define how that record is constructed.  (And keep in mind that records are ordered, so you probably need to specify the ordering too, while you're here.)

[2017-10-11 17:19] selfissued commented on #584
Closing with no action per decision at 11-Oct-17 working group meeting.

[2017-10-11 17:19] #584 closed

[2017-10-11 17:59] akshayku opened #625 "Signature Counter needs to be mandatory in authenticationData"
As discussed in WebAuthN meeting on 10/11, it is decided to make signature counter mandatory in authenticationData after merging PR #539 as that contains more clarifications.

This tracks the follow up work.

[2017-10-11 18:21] #562 closed

[2017-10-11 18:55] #547 closed

[2017-10-11 18:57] jcjones opened #626 "Extensions need to define how their parameters convert to/from CBOR"
Extension definitions need to be more thorough, as @bzbarsky [points out in the discussion for issue #624](https://github.com/w3c/webauthn/issues/624#issuecomment-335853416). In particular, for each extension -- including the example -- we need two sections:

1. How to encode the `AuthenticationExtensions` data structure  into CBOR for the wire protocol
2. How to decode the resulting extension CBO

[2017-10-11 19:14] balfanz opened #627 "clarify isPlatformAuthenticatorAvailable's semantics"
The reason we introduced `isPlatformAuthenticatorAvailable` is so that RPs can find out whether they're running on a platform that supports Windows Hello, or Apple TouchID-like systems (i.e., user-verifying reauthentication mechanisms).

The current wording makes it sound like `isPlatformAuthenticatorAvailable` merely looks for platform-attached authenticators. We need to make sure that RPs can us

[2017-10-11 19:36] balfanz opened #628 "Allow RPs to choose between "required" and "optional" attestation in credentials.create()"
TL;DR: When/if a client platform uses the Privacy CA model described in the spec, it would be beneficial for the RP to specify if they want an attestation from the Privacy CA. We should introduce an (optional) parameter in credentials.create() for this.

Details:

Some platforms/clients may opt into using Privacy CAs to address potential issues with poorly-implemented on-Authenticator attestation

[2017-10-11 19:36] jyasskin commented on #626
Most of the extensions specify the AuthenticationExtensions -> CBOR conversion in "Authenticator extension input" and the CBOR->AuthenticationExtensions conversion in "Client extension output". The specifications aren't perfect, but they're present in most or all cases.

[2017-10-11 19:42] jyasskin commented on #622
@emlun I believe the `user.id` field won't in general be human-readable, while `user.name` is likely to be something like "april@example.com".

`rp.id` is a domain name, so it is probably human-readable similar to `user.name`, and I believe `rp.name` is intended to be a pretty name, like `user.displayName`.

[2017-10-11 20:01] #618 closed

[2017-10-11 20:01] bzbarsky commented on #626
Those specifications are pretty useless, sorry.   The first example I came to: https://w3c.github.io/webauthn/#sctn-simple-txauth-extension says:

What does that mean?  The input is an ES Value, right?  Is https://tc39.github.io/ecma262/#sec-tostring used?  Something else?  If it's ToString, that can have side-effects, so the exact timing of the operation needs to be defined.

Then once you've got

[2017-10-11 20:13] equalsJeffH commented on #524
notes from discussion in Sydney regarding this -- I have these four issues to submit on webuthn and CTAP as noted:

I gave preso on webauthn issue #524 & ctap issue #318
 AIs:                                                       ***!!!
 1. sub issue on CTAP & webauthn clarify authn model that UP, UV are selectable at getAssn() & makeCred() times

 2. sub issue on CTAP that getAssn step 4 is uncle

[2017-10-11 20:30] jcjones commented on #283
Dupe/Wontfix of #537

[2017-10-11 20:30] #283 closed

[2017-10-11 20:32] balfanz opened #629 "credentials.get() should have optional parameters for userVerification and userPresence"
When requesting an assertion from an Authenticator in `credentials.get()`, the RP should be able to specify whether a test of user presence is required, whether user verification is required, or whether neither is required (a "silent signature").

Note: [`credentials.get()`](https://w3c.github.io/webappsec-credential-management/#dom-credentialscontainer-get), in the webauthn case, is implemented b

[2017-10-11 20:38] equalsJeffH commented on #292
during 11-Oct-2017 meeting, we feel that this is more of an impl considerations item.  making normative spec language at this time is fraught.

[2017-10-11 20:38] akshayku commented on #629
Proposal 2 looks better to me.

[2017-10-11 20:38] emlun commented on #622
Yes, but then what's the point of `user.name` if we also have `user.displayName`? Couldn't "april@example.com" just as well go in `user.id`?

[2017-10-11 20:39] rlin1 commented on #507
has been addressed by merging PR #539 IMHO

[2017-10-11 20:41] rlin1 commented on #125
addressed by merging PR #539.  Should close this issue.

[2017-10-11 20:44] rlin1 commented on #625
Note the field signCounter is MANDATORY.
So we would need some language to say that conforming authenticators would have to increase the counter as specified in the algorithms in WebAuthn

[2017-10-11 20:45] akshayku commented on #629
Thinking more about this, doesn't silent signatures problematic as they leak information without user knowing?

How does one make sure that, user has given consent the first time and then it can be used at later stage without user presence but no silent signatures without user consent at some earlier time?

[2017-10-11 21:00] equalsJeffH commented on #374
decision at meeting 11-Oct is to continue discusing this with credman in context of https://github.com/w3c/webappsec-credential-management/issues/3 -- punt to CR milestone for now --  while understanding it may get punted further as appropriate.

[2017-10-11 21:02] emlun commented on #629
The authenticator signs over the user presence and user verification flags, so it won't be possible to assert later that a silent signature was made with user consent. But the RP does need to take care to actually verify those flags (or store the signature), so that should probably be added to [§6.2. Verifying an authentication assertion][verify].

What would be the use case for silent signatures?

[2017-10-11 21:07] jcjones commented on #471
The under-specified behaviors are also an issue for #626

[2017-10-11 21:11] jcjones commented on #471
We've agreed that the existing name matches up with the other `Authenticator...` names in our WebIDL, and we're going to stick with it.

The second half of this issue is addressed in #626, so closing this and we're keeping `AuthenticationExtensions`

[2017-10-11 21:11] #471 closed

[2017-10-11 21:13] ve7jtb commented on #628
We should stop calling this a privacy CA.  It is a attestation proxy not a privacy CA.  Yes it is using a certificate to sign but it returns a basic attestation signed by the proxy.

We also need a way to turn off this functionality so that the actual attestation can be delivered for some use cases.   I understand that for general social web this is probably fine, but not for all enterprise use ca

[2017-10-11 21:14] jcjones commented on #506
Will be resolved by https://github.com/w3c/webauthn/pull/539

[2017-10-11 21:15] equalsJeffH commented on #506
this will be fixed by PR #539

[2017-10-11 21:16] equalsJeffH commented on #535
also, this is addressed in PR #498, closing.

[2017-10-11 21:16] #535 closed

[2017-10-11 21:17] equalsJeffH commented on #536
will address in PR #498

[2017-10-11 21:18] rlin1 commented on #506
I think this is addressed in FIDO CTAP2 spec.

[2017-10-11 21:26] equalsJeffH commented on #551
ok, so at webauthn mtg 11-Oct-2017 decided that we will impl @mikewest's https://github.com/w3c/webauthn/issues/551#issuecomment-328453389 approach and add a store() impl that throws and error. and separately need to modify credman's default store() impl to do the right thing with that error.

[2017-10-11 21:34] rlin1 commented on #557
We should just make sure the platform extracts this public key from authenticatorData.attestationData as opposed to look deeply inside the binary attestation generated by the authenticator.

[2017-10-11 21:41] balfanz commented on #557
Discussion on the call on 10/11 suggested that the key should be returned as a JsonWebKey dictionary.

[2017-10-11 22:05] equalsJeffH commented on #557
it seems easy to parse out the cred ID length, the cred ID, and the cred public key from the attObj (attestation object):

37 bytes gets to attested cred data
16 size of AAGUID
--
53 bytes is index of cred ID length (L).
53 + L = index of cred public key (in cose-key format)

[2017-10-11 22:07] jcjones commented on #557
We discussed that instead of duplicating data, to instead add operations (getters) to obtain web-friendly forms (such as a CryptoKey object).

However, there's still no consensus to proceed with this, so we're closing this issue.

[2017-10-11 22:07] #557 closed

[2017-10-11 22:07] #625 closed

[2017-10-11 22:19] equalsJeffH commented on #628
@ve7jtb said:

Actually, the TCG now terms it an "attestation CA" (see issue #610), tho one can argue that the latter is a TCG-specific name.  IIUC, what @balfanz et al are imagining would not actually impl the TCG-specified attestation CA protocol tho would be similar.  Perhaps the "attestation proxy" is a good name in order to avoid confusion with the legacy privacy CA (tcg-specific) name.

[2017-10-11 22:24] balfanz commented on #628
I like the term "attestation proxy".

[2017-10-11 22:36] emlun commented on #628
Correct me if I'm wrong here, but I question the premise - isn't the whole point of the spec that the RP trusts the authenticator but _not_ the client? If the RP doesn't care about the attestation signature, there's no guarantee that an authenticator is even involved in the first place. Web Crypto already provides APIs for generating asymmetric keys, so why would an RP use WebAuthn if they don't c

[2017-10-11 22:41] selfissued commented on #564
@balfanz is creating a PR to enable this to be optional for platform authenticators. @akshayku argued that touch should still be required for external authenticators.

[2017-10-11 22:42] equalsJeffH commented on #564
be sure to see also @nadalin's comment https://github.com/w3c/webauthn/issues/564#issuecomment-334002023

[2017-10-11 23:13] equalsJeffH commented on #628
@emlun because webauthn, even without attestation (attstn) eases the impl & deployment burden on RPs as compared to concocting their own crypto authn protocol using Web Crypto.

[2017-10-12 00:01] #564 closed

[2017-10-12 00:11] christiaanbrand commented on #598
I think this is already done?

[2017-10-12 00:29] #88 closed

[2017-10-12 00:29] selfissued commented on #598
I pointed out to Christiaan that Example 2 in Section 11.1 (Registration) has an rp.name value but no required rp.id value.  His PR will fix this.

[2017-10-12 00:42] emlun commented on #561
With #635 merged, can we close this?

[2017-10-12 00:53] #566 closed

[2017-10-12 00:54] AngeloKai commented on #415
fixed by https://github.com/w3c/webauthn/pull/631

[2017-10-12 00:54] #415 closed

[2017-10-12 01:08] #608 closed

[2017-10-12 01:11] Kieun commented on #628
If the platform generates the attestation instead of the authenticator, does this mean that platform has its own authenticator or just generate the attestation signature on behalf of the authenticator?

[2017-10-12 01:12] #598 closed

[2017-10-12 03:24] Kieun opened #640 "First factor authenticator selection"
Depending on the use cases of RP, some RP may only allow **first factor authenticators**. For this, there should be a certain parameter to set this option for create() function.
Do we have such parameters or options?
If there is no such thing, the RP allowing first factor authenticator only should reject the attestation generated by a second factor authenticator by getting authenticator characteri

[2017-10-12 09:29] jovasco commented on #622
@emlun No. User.id was added by Google and contains a binary lookup key for their user database. It is not human readable and not intended to be.

As I understand it, Name is supposed to be the login name as used traditionally.  Display Name is just a pretty printing name.

In an authenticator with a display or in the case of multiple accounts in a first factor situation (see CTAP), we need a uniq

[2017-10-12 10:12] emlun commented on #622
Ok. But then if `user.name` uniquely identifies the user, why is `user.id`necessary?

[2017-10-12 11:12] jovasco commented on #640
Resident key support in the authenticator is a requirement in first factor situations. You can use an  `AuthenticatorSelectionCriteria ` with `requireResidentKey` set to true.

This far from obvious though.

[2017-10-12 11:19] emlun commented on #622
Oh right, I think I can answer that myself. It's to support first factor login while making it harder for an attacker with a stolen authenticator to identify the authenticator's user, right? And that's also why you shouldn't put something identifying like an email address in `user.id`.

But wait, aren't you saying that the UI for selecting a first factor credential will display the `name` and/or `

[2017-10-12 11:32] emlun commented on #622
I'll answer myself again: What prevents the attacker is the assumption that the authenticator will verify the user's identity before giving up the stored account info. Context: #558

[2017-10-12 11:32] jovasco commented on #622
As far as I can tell, it is only there to make Google's life easier.

It does not make it harder in a first factor situation because knowing the user name is not necessary for an attacker with the authenticator to use it as a first factor credential. He can just log in with each offered credential and figure out the user name that way.

It could conceivably be an additional privacy protection agai

[2017-10-12 11:39] jovasco commented on #622
Reading up on #558,

User.id MAY be included by the RP. If it is, client MUST pass it on. Authenticator MUST return it when only a RP ID is passed in and MUST NOT return it when a Credential ID is passed in.

Make User.name mandatory to include for RPs and authenticator MUST return it in first factor cases if user.id is not present.

Agreed?

[2017-10-12 13:09] emlun commented on #622
It troubles me that `PublicKeyCredentialEntity.name` means different things when inherited by `PublicKeyCredentialRpEntity` vs `PublicKeyCredentialUserEntity` - in the former case it's a human-friendly display name, in the latter case it's a unique identifier for a user account. I would prefer to get rid of that ambiguity and rename `rp.name` to `rp.displayName`. Preferably also rename `user.id` t

[2017-10-12 13:13] jovasco commented on #622
Why are we trying to inherit from a common dictionary when they have little or no meaning in common? There are only some identically named optional fields in common.

[2017-10-12 13:53] emlun commented on #640
Indeed `requireResidentKey` seems to be the way to go here.

[2017-10-12 15:00] emlun commented on #628
@Kieun Strictly speaking there's no difference between the two. It would mean the platform _is_ the authenticator, and that the RP and user therefore trust the platform to not impersonate and/or track the user.

[2017-10-12 15:26] ve7jtb commented on #628
I think Google is proposing a cloud based services that the platform would sent the authenticator generated attestation to and get back a new attestation signed by the cloud service that would then be given ton the RP.   Effectively making multiple authenticators look like a single logical one from a attestation point of view.

The downside of this is that the service must be highly reliable and c

[2017-10-12 16:06] emlun commented on #628
Yes, in that case the trust relationship shifts to the RP and user trusting the cloud service instead of the client. I see no issues with that, other than it being a centralized point of failure.

To be clear: I think the concern about unjust discrimination against particular authenticator vendors and/or models **is valid**, but I'm also concerned about whether the RP and user should have to trust

[2017-10-12 16:29] balfanz commented on #628
Just a couple of comments:

- Keeping in mind that these are not black-and-white issues, the RP *does* have to trust the client. If the client is malicious, it can exfiltrate the user's data, operate on the user's behalf, etc.

- Using a Privacy CA is not a change to webauthn. The spec already calls that out as a possible model. I think that what's happening here is that nobody has seriously looke

[2017-10-12 16:37] equalsJeffH commented on #578
this seems related to issue #382

[2017-10-12 17:07] ve7jtb commented on #628
To be fair, what has previously been called a privacy CA strictly deals with non correlation and not attribute blinding.
I consider what is being discussed as more of a blinding proxy with one of the things being blinded being the public key of the original attestation signer.

As you know I have previously made similar arguments around not providing RP's too much information in openID Connect ass

[2017-10-12 17:12] Kieun commented on #640
Actually, requireResidentKey is not for first factor authentication. It's about key storage. E.g., secret key such as Yubikey can store a credential private key even if it is a second factor authenticator.

[2017-10-12 18:03] equalsJeffH commented on #622
@jovasco asked:

It is an artifact of the credman merge.  seemed OK at the time, tho is evolving as the nuances (eg for supporting first factor aka passwordless) become more well-understood by webauthn participants.

WRT @emlun's proposal https://github.com/w3c/webauthn/issues/622#issuecomment-336130117 -- I'm inclined to simply clarify the present spec rather than rename things, but could be conv

[2017-10-12 18:04] ve7jtb commented on #628
While it would be more work did Google consider using a real Privacy CA model?

The authenticator would need to produce a attestation signed by EK and a CSR signed its fixed Key containing the EK for the platform.  The platform would then send the CSR portion to the Privacy CA and get back a certificate for EK (Hence the name CA) and the platform would pass along the Authenticator generated Attest

[2017-10-12 21:02] equalsJeffH commented on #613
yeah, this seems to be a good point.

@jcjones

perhaps we ought to use your impl to inform the webauthn spec?

i wonder if we can handwave in the webauthn spec algorithms that authnrs may appear or disappear during the process ?

I wonder how one might use webIDL+HTML+infra+etal specs to model something where there is an OnAuthnrBecomesAvailable handler that can add to the available set of authnr

[2017-10-12 21:22] equalsJeffH commented on #436
@gmandyam please submit bug reports to android folks wrt their incomplete specs.

[2017-10-12 21:22] #436 closed

[2017-10-12 21:27] equalsJeffH commented on #437
shall we close this issue?

[2017-10-12 21:43] gmandyam commented on #437
No-one from Google has contradicted @ve7jtb 's interpretation, so I will assume that he is correct and the current verification procedure for SafetyNet as written is adequate.  Am closing.

[2017-10-12 21:43] #437 closed

[2017-10-12 21:45] ve7jtb commented on #437
I recommend we close this issue

[2017-10-12 23:11] equalsJeffH commented on #551
note that the credman issue corresponding to this is https://github.com/w3c/webappsec-credential-management/issues/107 -- reopening this as we need to ensure w3c/webappsec-credential-management#107 is addressed soon since we already made this change in webauthn (see webauthn PR #631).

[2017-10-13 10:09] idamlaj commented on #629
Enabling silent authentication might be problematic from a privacy standpoint.

Ad trackers will be able to silently create and use "super cookies" that track the machine across apps, and can't be easily deleted by the user.

As for making user verificatIon optional, can you provide a use case for this? The user agent can already do this at the CTAP level which enables some use cases relevant to t

[2017-10-13 17:39] gmandyam commented on #438
Provided explanatory text in https://github.com/w3c/webauthn/pull/643

[2017-10-13 18:34] equalsJeffH commented on #629
fyi, silent authenticators aka "touchless" are the topic of this existing issue: https://github.com/w3c/webauthn/issues/199

[2017-10-13 18:44] equalsJeffH commented on #629
I prefer proposal 1, tho I suggest an enum name of `userVerificationOrPresenceRequirement` with values of `present`, `verify`, `none`, with default value `present`.

Having two booleans seems needlessly complex and leads to needing to specify things like which combinations are valid.

[2017-10-13 20:45] emlun commented on #629
@idamlaj Silent credential creation has been rejected before for precisely the reason you describe, but what's described here is specifically the authentication operation. Ad trackers thus won't be able to silently create credentials. There's also been talk of applying the same origin policy here as well, but I'm not sure where we currently stand on that.

[2017-10-13 21:03] equalsJeffH opened #644 "#getAssertion alg needs to pass authenticator selection requirements to authenticatorGetAssertion operation"
Ostensibly, RPs want/need to pass authenticatorSelection.requireUserVerification (aka "uv" in [CTAP](https://fidoalliance.org/specs/fido-v2.0-rd-20170927/fido-client-to-authenticator-protocol-v2.0-rd-20170927.html#authenticatorGetAssertion) parlance) in the [#getAssertion](https://w3c.github.io/webauthn/#getAssertion) call, per issue #629.

However, [authenticatorSelectionCriteria](https://w3c.git

[2017-10-13 21:04] equalsJeffH commented on #629
see also #644, #536, #524

[2017-10-13 21:24] emlun commented on #524
@equalsJeffH

Isn't this part solved by authenticator extensions?

[2017-10-13 21:29] equalsJeffH opened #645 "clarify "authenticator model": RPs may perform feature-based authenticator selection"
clarify "authenticator model": RPs may perform feature-based authenticator selection with both
1. [`navigator.credentials.create()`](https://w3c.github.io/webappsec-credential-management/#dom-credentialscontainer-create) (which invokes [webauthn's #createCredential](https://w3c.github.io/webauthn/#createCredential)), and
2. [`navigator.credentials.get()`](https://w3c.github.io/webappsec-credential

[2017-10-13 21:43] akshayku commented on #629
**Regarding Silent signatures and user presence:**

- Thinking more about this, silent signatures from web should not be allowed due to privacy reasons. User presence should always be there similar to current U2F model. U2F does not allow silent signatures and that IMO is the right security model. Silent signatures can detect user accounts without user knowing and IMO, user should always know if s

[2017-10-13 22:26] emlun commented on #629
If we're to do this, in the interest of eliminating double negation I instead propose a parameter `UVRequired` with default value `true`, which the RP can set to `false` if it does not want user verification.

[2017-10-13 22:44] akshayku commented on #629
By `UVNotRequired` proposal, RP can decide different authorization levels for user depending upon whether the signature contains UV bit or not for future not plugged in/TAP authenticators default behaviour. I am referring to a case where RP kind of says, tell me what you have and I will decide whether whether I will allow it or not and to what level.

With `UVRequired`, RP has to decide before han

[2017-10-13 23:17] emlun commented on #629
See, this is why I wanted to eliminate the double negation: you and I interpreted it in different ways. :)

- I read "`UVNotRequired` defaults to `false`" as "by default, the RP requires UV".
- You seem to read "`UVNotRequired` defaults to `false`" as "by default, the RP will decide after receiving the signature whether it requires UV".

But you're right, both proposals are confusing since we're n

[2017-10-13 23:27] emlun commented on #629
All that aside I agree with @akshayku and @idamlaj that optional user presence seems dangerous, but I could be convinced if there's a concrete use case. The one I've heard so far is to enable a "heartbeat" polling mechanism to detect if the user unplugs the authenticator; is that the main one being considered?

[2017-10-14 18:01] #393 closed

[2017-10-15 08:17] nadalin commented on #507
@rlin1 Can we close this then with the reference to #539 ?

[2017-10-15 08:19] nadalin commented on #536
@equalsJeffH This seems like a breaking change as it will change the IDL

[2017-10-15 08:29] nadalin commented on #554
@equalsJeffH  it does not seem like there is a usage for this extension at this time, if there is a proposal please write it up otherwise seems that we close this issue

[2017-10-15 08:30] nadalin commented on #537
@AngeloKai Where do we stand with this ?

[2017-10-15 13:09] Kieun commented on #640
There is no such requirement that the second factor authenticator must not store user private keys. So if the RP sets requireResidentKey to **true**, some second factor authenticators **may not** reject the request.
You can refer following [U2F Spec](https://fidoalliance.org/specs/fido-u2f-v1.2-ps-20170411/fido-u2f-overview-v1.2-ps-20170411.html#allowing-for-inexpensive-u2f-devices).

Thus, the RP

[2017-10-15 13:59] emlun commented on #640
The U2F behaviour is overridden by the Webauthn spec, see [§4.1.3. Create a new credential, step 21][make]:

Thus requesting credential creation with `requireResidentKey: true` will make authenticator create a resident key, and the authenticator will also be able to use that key in response to an assertion request with no `allowCredentials` - i.e. the resulting key would be usable as a first facto

[2017-10-15 15:45] Kieun commented on #640
Yeah, technically you are right.
I don't know current U2F deployment and authenticators in market.
Is there any U2F device that stores user private key on it?
If there are such devices in market, are theses devices can be used as first factor authenticator even if the authenticator implemented U2F only?
Actually, I was wondering that the U2F devices can be first-factor authenticators.
It would be

[2017-10-15 17:20] agl commented on #640
From having looked at the size and structure of the key handles created by a number of U2F devices, I'm not aware of any that appear to store generated keys internally. I understand that early versions of the U2F Zero may have, but that the behaviour was changed for current versions.

[2017-10-15 19:34] emlun commented on #640
Yes, some better descriptions of this would probably be good.

[2017-10-15 22:42] arshadnoor commented on #605
X.509 certificate-chain validation was designed to help Relying Parties (RP) in the Public Key Infrastructure-space to determine whether the end-entity certificate presented to them in the transaction presents an acceptable risk.  That this is an arduous process that has very few implementations in the business world - and virtually, none, in the consumer-space - is a reflection of the complexity

[2017-10-16 01:01] Kieun commented on #640
@agl Thanks for the information.
@emlun currently, there is no way for RPs to set requireResidentKey for get() operation. #583 issue is related to this one. To provide selection for authentication, the **authenticationSelection** member should be added to **PublicKeyCredentialRequestOptions** dictionary.

[2017-10-16 05:11] emlun commented on #640
`requireResidentKey` is not needed for `get()`, because if `allowCredentials`is not set then only resident credentials can be used for the response.

[2017-10-16 11:31] jovasco commented on #640
@Kieun U2F authenticators can never be first factor as they do not allow storage of a User ID. What is more, whether or not the actual key is a resident key is not relevant in a U2F context: the key handle supplied by the RP is the only link between the user account and the signature.  Even if an authenticator would support returning an assertion based on AppID (U2F speak for the RPID), the return

[2017-10-16 11:35] jovasco commented on #622
@emlun Would you be willing to move the renaming proposal to a separate issue and keep this one for clarifying the language?

[2017-10-16 11:49] emlun opened #646 "Rename PublicKeyCredentialEntity fields"
This is split out from #622.

The field names in `PublicKeyCredentialEntity` and its descendants are unnecessarily confusing. In particular, `PublicKeyCredentialEntity.name` means different things when inherited by `PublicKeyCredentialRpEntity` vs `PublicKeyCredentialUserEntity` - in the former case it's a human-friendly display name, in the latter case it's a unique identifier for a user account.

[2017-10-16 11:50] emlun commented on #622
Certainly: #646

[2017-10-16 12:25] jovasco commented on #628
I see a few issues with making the privacy CA/attestation proxy model unavoidable for RP and user:
- the RP may want to restrict the acceptable authenticators to a specific brand or type. This means the actual authenticator attestation certificate must be accessible. Whether or not this is allowed for this RP should be up to the user, not the client or platform. It does require a way for the RP to

[2017-10-16 13:14] nadalin commented on #605
@jyasskin  Why do we need to worry about this as the RP can verify how every they want this is out of scope of WebAuthn WG, I suggest we close this no action

[2017-10-16 13:20] jovasco opened #647 "Privacy CA not defined or linked"
Currently, the webauthn spec mentions Privacy CA but not provide a specification or links to one.

[This](https://w3c.github.io/webauthn/#privacy-ca) is the closest the spec gets.

[2017-10-16 14:48] #569 closed

[2017-10-16 15:31] jovasco opened #648 "5.6. Authentication Extensions name confusing"
[P 5.6 ](https://w3c.github.io/webauthn/#iface-authentication-extensions) talks about Authentication Extensions and refers to  [p 9](https://w3c.github.io/webauthn/#extensions) which subdivides "webauthn extensions" into "authentication" and "registration" extensions.

The "authentication extensions" term in [5.6](https://w3c.github.io/webauthn/#iface-authentication-extensions) refers to both "aut

[2017-10-16 15:37] nadalin commented on #644
@equalsJeffH We are not doing any authenticator selection enhancements in this release, yiu can use the extensions to do what you need for now.

[2017-10-16 15:39] nadalin commented on #629
@balfanz we decided on this a while back that it was a bad idea, so this should be closed no action

[2017-10-16 16:13] jovasco opened #649 "Authenticator session not possible for BLE"
This is not possible with CTAP BLE Authenticators.  They do not have a concept of a session nor is there any way to distinguish which client on a particular platform is talking to them.

[2017-10-16 16:18] jovasco opened #650 "authenticatorMakeCredential operation credential filtering"
This should explicitly mention that the the item must be checked to match the provided RP ID.

See PR #651

[2017-10-16 16:21] emlun commented on #649
Apart from the `authenticatorCancel` operation, I think a session can be understood to span only a single operation. Do CTAP BLE authenticators have a cancel command, and if so, how is it authenticated?

[2017-10-16 16:28] jovasco commented on #649
They do and it is not authenticated.

[2017-10-16 16:29] jovasco commented on #649
I believe most clients will start with a getInfo command before even issuing a specific command.

[2017-10-16 16:39] emlun commented on #649
Do CTAP BLE devices require some kind of pairing before use, and can they be connected to more than one client at a time?

As far as I know the only state that is ever stored in a session is which operations are currently underway, in order for `authenticatorCancel` to work, so you should be good if the authenticator can refuse to perform more than one operation at a time.

[2017-10-16 16:47] jovasco commented on #649
Yes, they require pairing and encryption for the link. But the link is with the device the clients are running on (referred to as "platform" above), not the clients themselves. It is not possible for the authenticator to distinguish between commands from two clients on the same device.

[2017-10-16 16:51] jovasco commented on #649
For the record, I am merely pointing out that the current language is strictly speaking not compatible with the current BLE authenticator CTAP protocol definition.

I am not arguing to change the BLE CTAP specifiction. From my p.o.v., multiple sessions are more of a problem than a feature since it is often impossible to see on the authenticator which request you are approving.

[2017-10-16 17:10] equalsJeffH commented on #536
@nadalin:

yes, thx, it adds `|options|.{{MakePublicKeyCredentialOptions/authenticatorSelection}}.{{AuthenticatorSelectionCriteria/requireUserVerification}}` to the argument list when `authenticatorMakeCredential()` is called. Not having it is a bug.  PR #498 fixes this.

[2017-10-16 17:11] emlun commented on #649
Yes, I understand that. But none of this is really relevant if the authenticator doesn't allow more than one operation at once, is it? If one client initiating an operation locks the authenticator for all other clients until that operation finishes or is aborted, then that satisfies the webauthn spec.

(Technically, different clients could cancel each other's operations, but they would then be vio

[2017-10-16 17:19] jovasco commented on #649
The problem is that the authenticator also does not have a way to send feedback to a specific client. So if client A has an operation running and client B issues a command, the error return value is returned to both clients, effectively cancelling both. This is, however, not explicitly documented in the current BLE CTAP afaik ( https://github.com/fido-alliance/fido-2-specs/issues/366 ).

[2017-10-16 17:40] equalsJeffH commented on #561
@emlun wrote:

well, if the re-formulation of step 10 given in https://github.com/w3c/webauthn/issues/561#issuecomment-328684717 is not itself incorrect, I would be inclined to use it because not everyone is as smart as @emlun :)  and the current statement in step 10 that "attStmt is a correct, validly-signed attestation statement" is misleading.

If the re-formulation of step 10 is correct (someo

[2017-10-16 17:43] equalsJeffH commented on #116
@AngeloKai said:

Ok, changing assignee to @AngeloKai

[2017-10-16 18:35] emlun commented on #649
Is it also impossible for the client to discern whether a given response/error corresponds to a command sent by that client?

[2017-10-16 19:57] equalsJeffH commented on #524
@emlun

It *could* (technically) be solved using an extension, if said extension was uniformly employed for authenticator/authnrFeature selection. However, as noted in https://github.com/w3c/webauthn/issues/524#issue-248868185, we are adding (in an essentially ad-hoc fashion) parameters to the [#createCredential](https://w3c.github.io/webauthn/#createCredential) (aka `[[Create]]`) method.  Also, a

[2017-10-16 20:22] emlun commented on #561
Gotcha, I'll do that. :)

[2017-10-16 21:58] equalsJeffH commented on #640
So, at [#createCredential](https://w3c.github.io/webauthn/#createCredential) (aka `navigator.credentials.create()` aka `[[Create]]`) time, the RP will need to set both `options.authenticatorSelection.requireResidentKey` and `options.authenticatorSelection.requireUserVerification` to `true` in order to stipulate use of a first-factor (aka "passwordless") authenticator, yes?

this is because by defi

[2017-10-16 22:20] equalsJeffH commented on #647
see also issue #610 **Per TCG: "privacy CA" is now "Attestation CA"**

also, over in issue https://github.com/w3c/webauthn/issues/628#issuecomment-335950203 we were liking the term "attestation proxy".  Note that, IIUC (which I may not), what the attestation proxy (nee "attestation CA" nee "privacy CA") proponents are advocating for is not actually the same as the TCG's "Attestation CA" (nee "Priv

[2017-10-16 22:29] equalsJeffH commented on #508
issue #613 duplicates this one, is more recent, let's consolidate discussion there. marking this as a duplicate and closing.

[2017-10-16 22:29] #508 closed

[2017-10-16 22:29] equalsJeffH commented on #613
see also issue #508

[2017-10-16 22:57] akshayku commented on #629
I think Jeff's enum way of describing things is the right model. I propose enum name of `userVerificationRequirement` with values of `Required`, 'NotRequired` and `AuthenticatorBehavior`, with default value being `AuthenticatorBehavior`.

- `Required`: Authenticator MUST enforce user verification and signature MUST
have `UV` bit set.

- `NotRequired`: Authenticator MUST not ask for user verificati

[2017-10-16 23:10] #561 closed

[2017-10-16 23:15] selfissued commented on #648
I disagree with changing this name.  The name was chosen deliberately, as these are *extensions* to web *authentication*.  As we were revising the then-sloppy extensions language so that it was self-consistent and complete, we needed a name for extensions which could extend either or both operations.  This was the name chosen.  The extensions language changes were widely reviewed, including by Jef

[2017-10-16 23:22] selfissued commented on #626
It would be more useful to have people file individual issues against specific language in specific extensions - preferably with proposed replacement text.  Then we can quickly address the particular wording problems identified.

[2017-10-16 23:23] agl commented on #628
While I'm not sure that I followed your definition of privacy CA, one of the motivations here is to have something that works with U2F devices. We believe that the "attestation proxy" model does so, but your definition appears to require additional behaviour from the token.

I'm also not sure what advantages a real Privacy CA has in the case that the token can be crafted however necessary.

[2017-10-17 02:01] bzbarsky commented on #626
It's not a wording problem; it's a "the behavior is not defined" problem.  I, personally, can't propose replacement text, because I can't tell what behavior is intended.

Please don't make this sound like a minor editorial problem; it's not.

[2017-10-17 04:56] jyasskin commented on #626
There is a systematic problem here, that our types and conversions aren't precisely specified.

I disagree that this makes the specifications "useless". Certainly a hostile implementer could do the wrong thing, and we should fix that, but a benign implementer is going to reach for ["utf-8 encode"](https://encoding.spec.whatwg.org/#utf-8-encode) when converting "A single JSON string prompt." (which

[2017-10-17 05:06] bzbarsky commented on #626
Would they?  Or would they just bitwise-and each 16-bit integer with 255 and call it a day?  I've certainly seen plenty of people do the latter when faced with this sort of situation before.

(I should also point out that "utf-8 encode" takes a code point stream as input, but a DOMString doesn't represent a "code point stream", though it could be forced to do so by making some assumptions about wh

[2017-10-17 08:05] jovasco commented on #649
Yes.

[2017-10-17 08:15] jovasco commented on #648
So you want the same name for two different concepts?

[2017-10-17 09:58] emlun commented on #649
In that case I suppose it's up to the host driver to not allow more than one client at a time to communicate with the authenticator. I feel like that should probably be included in the CTAP spec, what do you think?

[2017-10-17 10:21] jovasco commented on #649
Although I think that would be an excellent solution to the technical issue, I think it is unrealistic for the WebAuthn or the CTAP spec to try and create requirements for host Bluetooth driver stacks.

Why was this language included in the WebAuthn spec?

[2017-10-17 11:21] emlun commented on #649
Ok, I have to admit I know almost nothing about how Bluetooth stacks or drivers work.

I wasn't around when this language was added to the spec, but my understanding is this:

- More than one authenticator may be available to perform an operation.
- The command is sent to each available authenticator. This is required for first factor authentication, for example, as the client cannot know beforeha

[2017-10-17 13:49] jovasco commented on #649
Thank you.

The main problem that this approach does not address is that for most authenticators, it isn't possible to see which operation you are approving. So even if there is multiple session support and the clients know which session the authenticator is currently handling, the user does not. I consider this a security issue more than a usability issue.

If there are two clients trying actions

[2017-10-17 14:54] emlun commented on #649
Those are all very good points. On second thought I also think my concern about a confusing user experience is a minor one - the majority of users will likely have only one authenticator, or use only one at a time, so it shouldn't be too big an issue in practice. After all, I haven't heard about anyone complaining about this regarding U2F; I've only thought about it myself while testing interop wi

[2017-10-17 17:02] equalsJeffH commented on #648
Well, I tend to agree with @jovasco that our extension language is at least somewhat confusing, even though @selfissued's efforts improved it greatly.  See also issue #471 which we recently closed with no action for the renaming portions of the issue.  This issue intersects with #471.

[2017-10-17 23:12] selfissued commented on #626
@bzbarsky I wasn't attempting to minimize the issue.  What I was primarily asking was for individual issues to be filed against the specific text locations that you find to be ambiguous so that we can work down the list and fix each of them.  We may want to assign different people who are experts in the topics of the different extensions to fix them, which isn't possible with the current blanket i